.author {
  &__image {
    width: 70px;
    height: 70px;
    @include media-breakpoint-down(md) {
      margin-top: -56px;
    }

  }
  &__info{

  }
  &__name {
    font-size: calculateSize(22);
    line-height: calculateSize(25);
    &:after {
      content: '';
      display: block;
      width: 50%;
      border-bottom: 1px solid $mainViolet;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  &__job {
    font-size:  calculateSize(18);
    letter-spacing: 0;
    line-height:  calculateSize(25);
  }
  &__desc {
    max-width: 420px;
    font-size:  calculateSize(18);
    letter-spacing: 0;
    line-height:  calculateSize(25);
    margin-left: 100px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 0px;
      margin-bottom: 0px !important;
    }
  }
}