.border {
  &__top {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 90%;
      height: 1px;
      background-color: $mainGrayLight;
    }
    @include media-breakpoint-up(lg) {
      &:after {
        width: 100%;
      }
    }
  }
}
