.box {
  z-index: 1;

  &__brands {
    &__title {
      font-size: calculateSize(18);
    }
  }

  &__radius {
    &--top {
      border-top-left-radius: 29px;
      border-top-right-radius: 29px;

      &--md-down {
        @include media-breakpoint-down(md) {
          border-radius: 29px 29px 0 0 !important;
        }
      }
    }

    &--bottom {
      border-bottom-left-radius: 29px;
      border-bottom-right-radius: 29px;
    }

    &--left {
      border-top-left-radius: 29px;
      border-bottom-left-radius: 29px;
    }

    &--oval {
      border-radius: 29px 29px 246px 246px / 29px 29px 57px 57px;
    }

    &--classic-lg {
      @include media-breakpoint-up(lg) {
        border-radius: 0;
      }
    }

    &--classic-md-down {
      @include media-breakpoint-down(md) {
        border-radius: 0;
      }
    }

    &--all {
      border-radius: 29px;

      &--md-down {
        @include media-breakpoint-down(md) {
          border-radius: 29px !important;
        }
      }
    }
  }

  &__rounded {
    &--down {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        width: 100%;
        height: 80px;
        bottom: -80px;
        border-radius: 60%/100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transform: translateX(-50%);
        z-index: 1;
      }
    }

    &--dark {
      &:after {
        background-color: $mainGray;
      }
    }
  }

  &__shadow {
    &--dark {
      box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
    }
  }

  &__bg {
    &--dark {
      background-color: $mainGray;
    }

    &--white {
      background-color: $white;
    }

    &--red {
      background-color: $mainError
    }
  }

  &__position {
    &__fixed {
      position: fixed;

      &--bottom-right {
        right: 30px;
        bottom: 30px;
        @include media-breakpoint-down(sm) {
          right: 15px;
          bottom: 15px;
        }
      }
    }

    position: absolute;

    &--to-top {
      top: -60px;
    }

    &--lg-to-right {
      @include media-breakpoint-up(lg) {
        left: auto;
        right: -80px;
      }
    }

    &--md-down-center {
      @include media-breakpoint-down(md) {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%;
      }
    }

    &__to-top--relative {
      margin-top: -300px;
      margin-bottom: -140px;
      z-index: 10;
      position: relative;
      @include media-breakpoint-down(lg) {
        //  margin-top: -220px;
        max-width: 90%;
      }

      &--2 {
        margin-top: -250px;
      }
    }
  }

  &__slider {
    padding-bottom: 30px;

    .slick-track {
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .slick-slide {
      @include media-breakpoint-down(md) {
        visibility: hidden;
        div {
          text-align: center;
        }
      }
    }

    .slick-current {
      visibility: visible;
    }

    &__image {
      max-height: 60px;
      width: auto !important;
    }
  }

  &__paddings {
    &--1 {
      padding: 70px 30px;
    }

    &--2 {
      padding: 60px 30px;

      &-2 {
        padding: 60px;
        @include media-breakpoint-down(sm) {
          padding: 60px 30px;
        }
      }
    }

    &--3 {
      padding: 150px 45px;
      @include media-breakpoint-down(md) {
        padding: 45px 15px;
      }
    }

    &--4 {
      padding: 30px 40px 30px 30px;
    }

    &--5 {
      padding: 60px 130px;
      @include media-breakpoint-down(sm) {
        padding: 30px 50px;
      }
    }
  }

  &__margins {
    &--1 {
      margin: 0px 0px 200px;
    }
    &--2 {
      margin: 0px 0px 100px;
    }
    &--mobile {
      @include media-breakpoint-down(sm) {
        margin-bottom: 250px;
      }
    }
  }

  &__error {
    opacity: 0;
    transition: all 0.4s ease;
    position: fixed;
    z-index: -10;

    &--text-first {
      font-size: calculateSize(18);
      line-height: calculateSize(22);
    }

    &--text-second {
      font-size: calculateSize(15);
      line-height: calculateSize(17);
    }

    &--visible {
      z-index: 999999;
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;

    &:hover {
      cursor: pointer;
      transform: rotate(90deg);
      transition: all 0.4s ease;
    }

    &:not(:hover) {
      transform: rotate(-90deg);
      transition: all 0.4s ease;
    }
  }

  &__max-content {
    max-width: 90%;
    width: max-content;
    margin: auto;
  }
}

.slick-track {
  height: 100%;
}