.btn {
  font-size: calculateSize(13);
  letter-spacing: calculateSize(3);

  &__classic {
    &:hover, &:active, &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__line-decoration {
    position: relative;

    &--left {
      &:after {
        content: "";
        position: absolute;
        background-image: url("../images/decorations/cta_line1.svg");
        background-size: cover;
        background-position: center;
        height: 11px;
        width: 103px;
        left: -140px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &__animate {
    padding: 20px 50px;
    position: relative;
    display: inline-block;
    @include media-breakpoint-down(md) {
      padding: 20px 40px;
    }
    @media (max-width: 370px) {
      padding: 20px 20px;
    }

    &:hover, &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &__decoration {
      position: absolute;
      left: 0;
      top: 0;
      @include media-breakpoint-down(md) {
        left: -10px;
      }
      @media (max-width: 370px) {
        max-width: 260px;
        width: 100%;
        left: 0;
      }

      &--center {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }

  &__blue {
    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    padding: 22px 50px 22px 52px;
    background-image: url("../images/btn/button-background.png");
    font-size: calculateSize(13);
    letter-spacing: calculateSize(3);
    line-height: calculateSize(18);
  }

  &__lottie {
    position: relative;
    z-index: 1;
    display: inline-block !important;
    background: none;
    border: none;

    &:focus, &:active {
      outline: none;
    }

    &--paddings {
      padding: 30px 40px !important;
      @include media-breakpoint-down(xs) {
        padding: 30px 20px !important;
      }
    }

    &--longer {
      &-1 {
        .btn__lottie__svg {
          transform: translate(-50%, -50%) scaleX(1.4) !important;
        }
      }

      &-mobile {
        @include media-breakpoint-down(md) {
          .btn__lottie__svg {
            transform: translate(-50%, -50%) scaleX(1.4) !important;
          }
        }
      }
    }

    &__svg {
      //width: 100%;
      //height: auto !important;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) !important;
      height: auto !important;
      width: auto !important;
      //min-width: 240px;
      //max-width: 260px;
      //min-height: 40px;
      z-index: -1;
      &-big {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto !important;
        width: auto !important;
        z-index: -1;
        transform: translate(-50%, -50%) scale(1.4) !important;
      }
    }

    &--yellow {
      transition: all 0.5s ease !important;
      transition-delay: 0.55s !important;

      &:hover {
        color: $mainGray !important;
      }
    }

    &--blue {
      color: $white !important;
      transition: all 0.5s ease !important;
      transition-delay: 0.35s !important;

      &:hover {
        color: $mainGray !important;
      }

      &-light {
        .btn__lottie__svg {
          path {
            stroke: $blueLight;
            fill: $blueLight;
          }
        }
      }
    }
  }
}

.btn {
  @include animated(300ms);

  &__hover {
    &--color-1 {
      &:hover {
        color: map_get($hover, color-1) !important;
      }
    }
  }
}