.form {
  &__title {
    font-size: calculateSize(48);
    line-height: calculateSize(64);
    min-height: 200px;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      font-size: calculateSize(30);
      line-height: calculateSize(30);
      min-height: 120px;
    }
  }

  &__dark {
    .input, .text {
      &__group {
        padding: 20px 0;

        &--50 {
          flex: 0 0 50%;
          max-width: 50%;
        }

        &--100 {
          flex: 0 0 100%;
          max-width: 100%;
        }

        &--sm-100 {
          @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }

        &--lg-100 {
          @include media-breakpoint-down(lg) {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      &__element {
        width: 100%;
        height: 38px;
        background: none;
        border: none;
        border-bottom: 2px solid rgba($white, 0.2);
        caret-color: $white;
        @include avenir(regular);
        color: $white;
        font-size: calculateSize(18);

        &::placeholder {
          color: rgba($mainGrayForms, 0.2);
        }

        &:hover, &:active, &:focus {
          outline: none;
        }

        &.error {
          border-bottom-color: $red;
          color: $red;

          &::placeholder {
            color: $red;
          }
        }
      }
    }
  }

  .input {
    &--black {
      border: none;
      outline: none;
      border-radius: 10px;
      background-color: $mainBlueDark;
      color: $mainGrayForms;
      padding: 13px 30px;
      font-size: calculateSize(18);
      line-height: calculateSize(28);
      margin-bottom: 20px;

      &.error {
        box-shadow: 0 3px 0 0 #ED7373;
      }
    }

    &__status {
      display: none;
      font-size: calculateSize(13);
      line-height: calculateSize(18);
      margin-bottom: 12px;

      &.error {
        display: block;
      }
    }
  }

  .label {
    &--blue {
      font-size: calculateSize(14);
      letter-spacing: calculateSize(4);
      line-height: calculateSize(13);
      margin-bottom: 10px;
      margin-left: 2px;
    }

    &--input-file {
      cursor: pointer;

      &__choice {
        letter-spacing: calculateSize(2);
        font-size: calculateSize(14);
        text-transform: uppercase;
      }
    }
  }

  .checkbox-box {
    display: flex;
    align-items: center;
    height: 31px;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: calculateSize(12);
    line-height: calculateSize(18);
    user-select: none;

    .checkbox-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        & ~ {
          .checkmark {
            //   background-color: #2196F3;
            background-image: url("../images/btn/checkbox.svg");

            &:after {
              display: block;
            }
          }
        }
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 31px;
      width: 31px;
      border-radius: 50%;
      background-color: $mainBlueDark;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }


  }

  .error {
    color: $mainError !important;
  }

}

.radio-button {
  border-radius: 10px;
  border: 2px solid $mainGrayForms2;
  padding: 16px 38px;
  @extend .font__family--avenir;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  @include media-breakpoint-down(sm) {
    padding: 16px;
  }

  &__content {
    @include media-breakpoint-down(xs) {
      flex: 0 0 85%;
      max-width: 85%;
    }
  }

  &__checked {
    //border: 3px solid $mainBlue;
    -webkit-box-shadow: 0px 0px 0px 3px rgba($mainBlue, 1);
    -moz-box-shadow: 0px 0px 0px 3px rgba($mainBlue, 1);
    box-shadow: 0px 0px 0px 3px rgba($mainBlue, 1);
    background-color: $mainGrayForms3;

    .radio-button__checkmark {
      position: relative;
      background-color: transparent;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("../images/checked.svg");
        background-size: cover;
        background-position: center;
        opacity: 1;
      }
    }
  }

  .ico {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__container {
      height: 74px;
      width: 80px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .title {
    color: $mainGray;
    font-size: calculateSize(18);
    font-weight: 600;
    line-height: calculateSize(34);
    @include media-breakpoint-down(sm) {
      line-height: calculateSize(18);
    }
  }

  &__input {
    display: none;
  }

  &__checkmark {
    width: 31px;
    height: 31px;
    background-color: #eef2f4;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:after {
      opacity: 0;
    }
  }
}

.textarea {
  &__gray {
    width: 100%;
    height: 162px;
    border-radius: 10px;
    background-color: $mainGrayLightText;
    border: none;
    padding: 32px;
    @extend .font__family--avenir;
    color: $mainGray;
    font-size: calculateSize(18);
    font-weight: 400;
    line-height: calculateSize(28);

    &::placeholder {
      color: $mainGrayText;
    }

    &:hover, &:focus, &:active {
      outline: none;
    }
  }
}

.embed-file {
  &__text {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(2);
  }
}

.main-input {
  margin-bottom: 25px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &__label {
    color: $mainGrayText;
    @include avenir(normal, 400);
    font-size: calculateSize(14);
    letter-spacing: calculateSize(2);
    line-height: calculateSize(13);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__field {
    padding: 13px 33px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $mainGrayLightText;
    width: 100%;
    color: $mainGray;
    @include avenir(normal, 400);
    font-size: calculateSize(18);
    line-height: calculateSize(28);

    &::placeholder {
      color: $mainGrayText;
    }

    &:active, &:hover, &:focus {
      border: none;
      outline: none;
    }
  }

  &__error-msg {
    display: none;
    @include avenir(normal, 400);
    font-size: calculateSize(13);
    color: $mainRed;
  }

  &__error {
    .main-input {
      &__field {
        box-shadow: 0 3px 0 $mainRed;
      }

      &__error-msg {
        display: inline-block;
      }
    }
  }
}

.term {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__checkmark {
    margin-right: 16px;
    width: 31px;
    height: 31px;
    display: inline-block;
    background-color: #eef2f4;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    &:after {
      opacity: 0;
    }
  }

  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    color: $mainGrayText;
    @include avenir(normal, 400);
    font-size: calculateSize(12);
    line-height: calculateSize(18);

    .link {
      color: $mainBlue;
    }

    &--max-width {
      @include media-breakpoint-down(xs) {
        flex: 0 0 85%;
        max-width: 85%;
      }
    }
  }

  &--checked {
    .term__checkmark {
      position: relative;
      background-color: transparent;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("../images/checked.svg");
        background-size: cover;
        background-position: center;
        opacity: 1;
      }
    }
  }

  &__error {
    .term {
      &__label {
        color: $mainRed;
        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }

        &--max-width {
          @media screen and (max-width: 450px) {
            max-width: 300px;
          }
        }
      }

      &__checkmark {
        background-color: $red;
      }
    }
  }
}

.checkbox-from-radio {
  border: none !important;
  background: none !important;

  &__content {
    @include media-breakpoint-down(xs) {
      flex: 0 0 85%;
      max-width: 85%;
    }
  }
}
