.hover_animations {
  display: inline-block;
  margin-bottom: 0px;

  &__line {
    max-width: 200px;
    display: inline-block;

    &--directions {
      .footer__direction {
        transform: translateX(10px) !important;

        &:hover {
          transform: translateX(-10px) !important;
        }
      }
      svg {
        max-width: 40px;
      }
    }

    svg {
      max-width: 70px;
    }
  }

  a {
    transition: all .5s ease;
    transition-delay: 0.38s;
    transform: translateX(0);
    //color: $white;
  }

  a {
    &:hover {
      color: $blueLight !important;
    }
  }

  &:not(:hover) {
    a {
      transform: translateX(-25px);
    }
  }
}

.logo_animations {
  margin-bottom: 0;
}

.animated_logo {
  svg {
    max-width: 70px;
  }

  &--black {
    svg {
      path, g, mask {
        fill: black;
      }
    }
  }
}

.navbar--scroll {
  .animated_logo {
    @include media-breakpoint-up(lg) {
      svg {
        path, g, mask {
          fill: black;
        }
      }
    }
  }
}

.header__top--mobile-active {
  .animated_logo {
    svg {
      path, g, mask {
        fill: white !important;
      }
    }
  }
}