.list {
  &__classic {
    list-style-type: none;
    padding-left: 20px;

    .list-item {
      font-size: calculateSize(16);
      position: relative;
      padding: 5px 0;

      &:after {
        content: "";
        position: absolute;
        left: -15px;
        top: 15px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $blueLight;
      }
    }
  }
}
