.pagination {
  &__text {
    font-size: calculateSize(14);
    letter-spacing: 4px;
    line-height: calculateSize(13);
    @include media-breakpoint-down(md) {
      font-size: calculateSize(12);
      line-height: calculateSize(20);
      letter-spacing: 2px;
    }
  }
  &__title {
    font-size: calculateSize(32);
    letter-spacing: 0;
    line-height: calculateSize(38);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &__link {
    &:hover {
      .ico__circle {
        fill: #1D00EB;
      }
    }
  }
  &__arrow {
    @include media-breakpoint-down(md) {
      width: 48px;
    }
    &--prev {
      transform: rotate(180deg);
    }
  }
  .ico__circle {
    transition: all .4s ease;
  }
}