.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 999999;
  padding: 115px 100px;
  box-shadow: 0 2px 40px 0 rgba(34,32,52,0.15);
  max-width: 750px;
  @include media-breakpoint-down(md) {
    padding: 40px 15px;
    overflow: auto;
    width: 90%;
  }
  &__title {
    font-size: calculateSize(48);
  }
  &__text {
    font-size: calculateSize(18);
    line-height: calculateSize(34);
  }


  .close-container{
    position: absolute;
    margin: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 40px;
    right: 50px;
    @include media-breakpoint-down(md) {
      top: 25px;
      right: 20px;
    }
  }

  .leftright{
    height: 2px;
    width: 18px;
    position: absolute;
    background-color: $mainGrayDark;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }

  .rightleft{
    height: 2px;
    width: 18px;
    position: absolute;
    background-color: $mainGrayDark;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }

  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: $blueLight;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: $blueLight;
  }
}