.sidebar {
  &__title {
    font-size: calculateSize(28);
  }
  &__social {
    &__link {
      transition: all 0.4s ease;
      &:hover {
        color: #000;
        &:after {
          display: none;
        }
        .sidebar__social--ico {
          &:after {
            opacity: 1;
          }
        }
      }
    }
    &--ico {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 48px;
      width: 48px;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/btn/social.svg");
        background-size: 100% 100%;
        background-position: center;
        opacity: 0;
        transition: all 0.4s ease;
      }
      .social__svg {
        &__path {
          transition: all 0.4s ease;
        }
      }
    }
  }
}