.main-slider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__navigation {
    margin: 45px 0 140px;
  }

  .slick-slide {
    padding: 0 10px;
  }

  &__slide {
    @include media-breakpoint-up(lg) {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //max-width: 360px;
      //width: 300px;
      width: 300px;
      margin-bottom: 0px;
    }
    @include media-breakpoint-down(md) {
      margin: 0 5px;
    }

    .slide {
      &__container {
        background-color: white;
        box-shadow: 0 2px 40px rgba(34, 32, 52, 0.15);
        border-radius: 3px;
        padding: 40px 30px;
        @include media-breakpoint-down(md) {
          padding: 30px 15px 30px 15px;
        }
      }

      &__title {
        font-size: calculateSize(34);
        line-height: calculateSize(32);
      }

      &__desc {
        font-size: calculateSize(18);
      }
    }
  }

  &__arrow {
    &:hover {
      cursor: pointer;
    }
  }

  @keyframes dotsToSmall {
    from {
      width: 39px;
      height: 15px;
    }
    to {
      width: 14px;
      height: 15px;
    }
  }

  &__dots {
    .slick-dots {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style-type: none;
      @include transitions();

      .dot {
        width: 14px;
        height: 15px;
        opacity: 0.2;
        margin: 0 8px;
        display: inline-block;
        border-radius: 50%;
        background-color: $mainGrayDark;
        @include transitions();
      }

      .slick-active {
        .dot {
          width: 39px;
          height: 15px;
          opacity: 1;
          border-radius: 15px;
          background-color: $blueLight;
        }
      }
    }
  }
}


//.main-slider__slider { /* Masonry container */
//  -webkit-column-count: 3;
//  -moz-column-count: 3;
//  column-count: 3;
//  -webkit-column-gap: 1em;
//  -moz-column-gap: 1em;
//  column-gap: 1em;
//  margin: 1.5em;
//  padding: 0;
//  -moz-column-gap: 1.5em;
//  -webkit-column-gap: 1.5em;
//  column-gap: 1.5em;
//  font-size: .85em;
//}
//
.masonry-item {
  display: inline-block;
  //background: #fff;
  //padding: 1em;
  //margin: 0 0 1.5em;
  width: 100%;
  //-webkit-transition:1s ease all;
  //box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //-webkit-box-sizing: border-box;
  //box-shadow: 2px 2px 4px 0 #ccc;
}

//.item img{max-width:100%;}
//
//@media only screen and (max-width: 320px) {
//  .main-slider__slider {
//    -moz-column-count: 1;
//    -webkit-column-count: 1;
//    column-count: 1;
//  }
//}
//
//@media only screen and (min-width: 321px) and (max-width: 768px){
//  .main-slider__slider {
//    -moz-column-count: 2;
//    -webkit-column-count: 2;
//    column-count: 2;
//  }
//}
//@media only screen and (min-width: 769px) and (max-width: 1200px){
//  .masonry {
//    -moz-column-count: 3;
//    -webkit-column-count: 3;
//    column-count: 3;
//  }
//}


@media only screen and (min-width: 991px) {
  //.main-slider__slider {
  //  -moz-column-count: 3;
  //  -webkit-column-count: 3;
  //  column-count: 3;
  //}
}

.js-rect {
  fill: yellow !important;
}

.background-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: center;
  margin: -50px 0 0 -30px;

}

.bg-cover-el {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

.masonry-wrapper {
  padding: 1.5em;
  //max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 1.5em;
  grid-auto-rows: 0;
}
//@media only screen and (max-width: 991px) and (min-width: 768px) {
@media only screen and (max-width: 991px) {
  .masonry {
    display: block;
    //grid-template-columns: repeat(2, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 992px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 3px;
  overflow: hidden;
}

//.masonry-item {
//  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
//  transition: filter .25s ease-in-out;
//}
//.masonry-item:hover {
//  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
//}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #111111;
  //background-color: #f9f9f9;
  //border: 1px solid black;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid rgba(0, 0, 0, .05);
}

@media only screen and (max-width: 990px) {
  .main-slider__slider {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}