.case-study-step {
  &:before {
    position: absolute;
    content: attr(data-case-study-step);
    @include avenir(normal, 600);
    font-size: calculateSize(14);
    padding: 4px 7px;
    background-color: $blueLight;
    border-radius: 50%;
    color: $white;
    line-height: 1;
    letter-spacing: -1px;
  }

  &--right {
    &:before {
      right: 10px;
      top: -10px;
    }
  }

  &--left {
    &:before {
      left: 10px;
      top: -20px;
    }
  }

  &--center {
    &:before {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--before {
    &:before {
      top: -5px;
      left: -30px;
    }
  }
}