.texts {
  &__text {
    font-size: calculateSize(18);
    line-height: calculateSize(34);
  }
  &__upheader {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(4);
    line-height: calculateSize(13);
  }
  &__title {
    font-size: calculateSize(62);
    line-height:  calculateSize(60);
    margin-bottom: 50px;
    @include media-breakpoint-down(lg) {
      font-size: calculateSize(36);
      line-height:  calculateSize(46);
      margin-bottom: 25px;
    }
  }
  &__image__desc {
    left: 0px;
    bottom: 30px;
    font-size: calculateSize(10);
    line-height: calculateSize(20);
    letter-spacing: calculateSize(1.54);
  }
  &__quote {
    font-size: 130px
  }
  &__blockquote {
    font-size: calculateSize(30);
    line-height:  calculateSize(36);
    max-width: 750px;
    margin: auto;
  }
  &__quote-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }
  &__quote-person {
    font-size: calculateSize(16);
    line-height: calculateSize(22);
    &-job {
      font-size: calculateSize(14);
      line-height: calculateSize(19);
    }
  }
  p {
    margin-bottom: 40px;
  }
  ul {
   list-style-type: none;
  	padding-left: 0;
    li {
      line-height: calculateSize(34);
      font-size: calculateSize(18);
		padding-left: 2rem;
		position: relative;

      &:before {
        margin-right: 10px;
		position: absolute;
	  	margin-left: -2rem;
      }
      &:nth-child(even) {
        &:before {
          content: url("../images/decorations/circle.svg");
        }
      }
      &:nth-child(odd) {
        &:before {
          content: url("../images/decorations/triangle.svg");
        }
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: my-counter;
    li {
      counter-increment: my-counter;
      line-height: calculateSize(44);
      font-size: calculateSize(18);
      &:before {
        content: counter(my-counter) ". ";
        margin-right: 5px;
        color: $blueLight;
        font-weight: bold;
        line-height: calculateSize(44);
        font-size: calculateSize(18);
      }
    }
  }

  h2,h3,h4,h5,h6 {
    color: $mainGray;
    font-family: "avenir";
    font-size: calculateSize(26);
    font-weight: bold;
    line-height: calculateSize(34);
    padding-bottom: 10px;
    padding-top: 10px;
    a {
      color: inherit !important;

      &:after {
        background: $mainBlack;
      }
    }
  }

  p {
    @extend .font__color--gray;
  }

  a {
    @extend .font__color--blue--light;
    @include animated(300ms);
    position: relative;

    &:after {
      content: '';
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      @include animated(300ms);
      background: $mainBlue;
    }

    &:hover {
      @extend .font__color--blue;

      &:after {
        width: 100%;
      }
    }

    &.read-more {
      @extend .case-studies-list__single__btn;
      text-transform: uppercase;
      @extend .font__weight--bold;
      @extend .font__color--blue;
		display: block;

      &:after {
        background: $mainBlack;
      }
    }
  }
}

