.title {
  &--background {
    font-size: calculateSize(34);
    background-image: url("../images/title_background.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 90px 40px 92px;
    position: relative;
    max-height: 230px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      margin-left: 40px;
      background-size: contain;
      font-size: calculateSize(28);
      word-break: initial;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0px;
    }
    &--decorator {
      &:after {
        content: url("../images/decorations/decoration-line.svg");
        position: absolute;
        left: 0px;
        bottom: 35px;
      }
    }
  }
  &--main {
    font-size: calculateSize(62);
    line-height:  calculateSize(60);
  }
}