<section class="layout {{ layout.acf_fc_layout }}">
    <div class="container team-slider">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 text-center py-5 mt-4 mb-lg-5">
                <h6 class="font__family--avenir font__weight--regular font__color--gray text-uppercase team-slider__subtitle m-0 wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay="0.3s">{{ layout.subtitle }}</h6>
                <h2 class="font__family--sectra font__weight--bold font__color--black m-0 p-0 team-slider__title  wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay="0.4s">
                    {{ layout.title }}
                </h2>
            </div>
            <div class="col-12 col-lg-10 position-relative mb-3 mb-lg-5 pb-5  wow fadeIn"
                 data-wow-duration="1s"
                 data-wow-delay="0.3s">
                <div class="team-slider__slides">
                    {% for single in layout.team %}
                        <div class="team-slider__single">
                            <div class="d-flex justify-content-center align-items-center position-relative single-box">
                                {% include "layout_animations/slider/layout-slider-shape-1.twig" with {'index': loop.index, 'classes': 'team-slider__single__image', 'image': single.person.pic.url} %}
                                <div class="team-slider__data">
                                    <h5 class="name font__family--avenir font__weight--bold font__color--gray-dark text-uppercase m-0">{{ single.person.name }}</h5>
                                    <h6 class="position font__family--avenir font__weight--regular font__color--gray text-uppercase m-0">{{ single.person.position }}</h6>
                                </div>
                                <div class="team-slider__social d-flex">
                                    {% if single.person.social %}
                                        {% for social in single.person.social %}
                                            <a title="{{ _e('Website development NY', 'mits') }}" class="footer__social--ico mx-1" rel="nofollow"
                                               href="{{ social.link.url }}">
                                                {{ function('get_svg_from_file', social.ico.url) }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <svg
                                        class="bgSvgMask"
                                        width="0"
                                        height="0"
                                        viewBox="0 0 615 615"
                                        version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <clipPath id="teamClip{{ loop.index }}">
                                        <path transform="translate(30 0)" d="M160.644317,186.660296 C218.259999,142.766819 213.644449,124.531241 238.884377,82.0923373 C264.124306,39.6534336 288.189184,-25.7410002 399.923195,10.5956672 C511.657206,46.9323347 503.750015,157.557353 509.23823,192.598224 C514.726445,227.639096 513.875193,254.805266 547.386174,276.396959 C580.897155,297.988652 620.269957,322.523033 606.115517,365.603513 C591.961076,408.683994 574.063488,432.665674 493.289065,432.665674 C412.514641,432.665674 363.480121,476.193062 312.639053,506.218637 C261.797986,536.244211 178.540742,569.227889 81.6847367,488.83653 C-15.1712688,408.44517 -18.8056449,289.669408 33.7757617,249.854427 C86.3571682,210.039446 117.513059,219.519073 160.644317,186.660296 Z"
                                        ></path>
                                    </clipPath>
                                </svg>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="team-slider__arrows">
                    <div class="team-slider__arrow team-slider__arrow--higher team-slider__prev">
                        <svg class="team-slider__arrow__ico" width="50px" height="50px" viewBox="0 0 50 50"
                             version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                    <g id="team" transform="translate(-373.000000, 4265.000000)">
                                        <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                            <circle id="Oval-Copy" class="ico__circle" fill="#1D00EB" cx="25" cy="25"
                                                    r="25"></circle>
                                            <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                                  id="Fill-202" fill="#FFFFFF"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="team-slider__arrow team-slider__arrow--higher team-slider__next">
                        <svg class="team-slider__arrow__ico" width="50px" height="50px" viewBox="0 0 50 50"
                             version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                    <g id="team" transform="translate(-373.000000, 4265.000000)">
                                        <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                            <circle id="Oval-Copy" class="ico__circle" fill="#1D00EB" cx="25" cy="25"
                                                    r="25"></circle>
                                            <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                                  id="Fill-202" fill="#FFFFFF"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
