<section class="layout {{ layout.acf_fc_layout }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ layout.place }}
            </div>
        </div>
    </div>
</section>
