<section class="layout {{ layout.acf_fc_layout }} pb-lg-5 mt-5 mb-5">
    <div class="container pt-2 pb-2">
        <div class="box__max-content row d-flex justify-content-center position-relative wow fadeInUp"
             data-wow-delay="0.3s"
             data-wow-duration="1s">
            <img src="{{ layout.image.url }}" alt="{{ layout.image.alt }}" title="{{ layout.image.title }}">
            <span class="slide__item__title texts__image__desc font__family--avenir font__weight--regular font__color--gray-dark position-absolute">
                {{ layout.desc }}
                <img src="{{ theme.link }}/dist/images/decorations/cta_line1.svg" alt="{{ _e('Website development Stockholm', 'mits') }}" title="{{ _e('Website development Stockholm', 'mits') }}">
            </span>
        </div>
    </div>
</section>
