<section class="layout {{ layout.acf_fc_layout }}"
         style="background-image: url({{ Image(layout.background_image.url) }});">

    <div class="container wow fadeInUp" data-wow-delay="0.3s"
         data-wow-duration="1s">
        <div class="row mb-4 pb-5 pb-md-0 d-flex justify-content-center">
            <span class="font__family--sectra font__color--white font__weight--bold join_us__title">{{ layout.title }}</span>
        </div>
        <div class="row justify-content-center">
            <form id="join_us_form" class="col-lg-7 form">
                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
                <input type="hidden" name="title" value="{{ post.post_title }}">
                <div class="col-12 input__group">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <label for="name"
                               class="font__family--avenir font__color--blue--light label--blue">{{ __('FULL NAME', 'mits') }}</label>
                        <span data-id="name" class="input__status"></span>
                    </div>
                    <input id="name" name="name" type="text" class="w-100 input--black font__family--avenir"
                           placeholder="" required>
                </div>
                <div class="col-12 input__group">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <label for="email"
                               class="font__family--avenir font__color--blue--light label--blue">EMAIL</label>
                        <span data-id="email" class="input__status font__family--avenir"></span>
                    </div>
                    <input id="email" name="email" type="email" class="w-100 input--black font__family--avenir"
                           placeholder="" required>
                </div>
                <div class="col-12 input__group">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <label for="phone"
                               class="font__family--avenir font__color--blue--light label--blue">{{ __('PHONE', 'mits') }}</label>
                        <span data-id="phone" class="input__status"></span>
                    </div>
                    <input id="phone" name="phone" type="text" class="w-100 input--black font__family--avenir"
                           placeholder="" required>
                </div>
                <div class="col-12 input__group">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <label for="message" class="font__family--avenir font__color--blue--light label--blue">
                            {{ __('EXAMPLES OF YOUR WORK', 'mits') }}</label>
                        <span data-id="message" class="input__status"></span>
                    </div>
                    <textarea id="message" name="message" class="w-100 input--black font__family--avenir"
                              rows="4"></textarea>
                </div>
                <div class="col-12 input__group">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <span class="font__family--avenir font__color--blue--light label--blue">{{ __('CV(ONLY PDF, DOC, DOCX, PAGES)', 'mits') }}</span>
                        <span data-id="cv" class="input__status"></span>
                    </div>
                    <input id="cv" name="cv" type="file"
                           class="w-100 input--black inputfile font__family--avenir d-none">
                    <label id="label_cv" for="cv"
                           class="font__family--avenir input--black label--input-file d-flex justify-content-between">
                        <span></span>
                        <span class="font__color--blue--light font__weight--bold label--input-file__choice">{{ __('BROWSE FILES', 'mits') }}</span>
                    </label>
                </div>
                <div class="col-12 pt-4">
                    <label class="checkbox-box font__color--white font__family--avenir" for="rules1">{{ __('I have read and
                        accept Privacy Policy', 'mits') }}
                        <input id="rules1" name="rules1" type="checkbox" class="checkbox-input required">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-12">
                    <label class="checkbox-box font__color--white font__family--avenir" for="rules2">{{ __('Fill it if you like
                        Rambo', 'mits') }}
                        <input id="rules2" name="rules2" type="checkbox" class="checkbox-input required">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button id="send_join_us"
                            class="btn d-flex align-items-center justify-content-center font__family--avenir font__weight--bold font__color--white btn__lottie btn__lottie--paddings btn__lottie--bg-big "
                    >{{ layout.button_text }}</button>
                </div>
            </form>
            <script>
                grecaptcha.ready(function () {
                    grecaptcha.execute('{{ captcha_site_key }}', {action: 'join_us'})
                        .then(function (token) {
                            //console.log(token);
                            document.getElementById('g-recaptcha-response').value = token;
                        });
                });
            </script>
        </div>
    </div>
    <div class="container estimate-error d-none">
        <div class="row mt-5 pt-4 d-flex justify-content-center align-items-center">
            <div class="col-12 col-lg-8">
                <h2 class="estimate-thanks__title font__family--sectra font__weight--bold font__color--red pb-2 mb-1">
                    {{ __('Something wrong', 'mits') }}
                </h2>
                <p class="estimate-thanks__desc font__family--avenir font__weight--bold font__color--white text-center">
                </p>
            </div>
        </div>
    </div>
</section>
<div class="js-popup-join-us popup text-center box__bg--white box__radius--all position-fixed invisible">
    <div class="close-container js-close-popup-join-us">
        <div class="leftright"></div>
        <div class="rightleft"></div>
    </div>
    <h4 class="popup__title pb-4 font__family--sectra font__weight--bold font__color--gray-dark">{{ layout.popup_title }}</h4>
    <p class="popup__text font__family--avenir pb-5">{{ layout.popup_text }}</p>
    <div class="col-12 pt-4 pb-5 pt-lg-0 d-flex justify-content-center">
        {% for single in footer.social_media %}
            <a class="footer__social--ico mx-1" rel="nofollow"
               href="{{ single.link.url }}" target="_blank" title="{{ _e('Website development Warsaw', 'mits') }}">
                {{ function('get_svg__with_hover_color_from_file', single.ico.url, single.hover_color) }}
            </a>
        {% endfor %}
    </div>
    <a class="btn__lottie btn__lottie--paddings btn__lottie--bg-big btn__lottie--blue btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
       href="{{ home_url }}">
        <span class="d-inline-block font__family--avenir font__weight--bold font__color--white">{{ __('BACK TO HOMEPAGE', 'mits') }}</span>
    </a>
</div>
