<div class="layout {{ layout.acf_fc_layout }}">
    <div class="container lets-talk">
        <div class="row wow fadeInUp" data-wow-duration="0.5s"
             data-wow-offset="300"
             data-wow-delay="0s">
            <div class="col-12">
                {{ dump(layout) }}
                <div class="box box__paddings box__paddings--2-2 box__bg--dark box__radius--all text-center d-flex flex-column align-items-center">
                    <h3 class="font__family--sectra font-weight-bold font__color--white lets-talk__title">{{ layout.title }}</h3>
                    <p class="mb-0 font__family--avenir font__weight--regular font__color--gray-light lets-talk__desc">{{ layout.desc }}</p>
                    <div class="mt-5">
                        <a class="btn btn__lottie btn__lottie--paddings btn__lottie--content btn__lottie--yellow btn__lottie--longer-1 btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
                           title="{{ _e('Website development Berlin', 'mits') }}"
                           href="{{ layout.button.url }}">
                            <span class="d-inline-block">{{ layout.button.title }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
