{% set desktopBg = layout['header-bg']['header-bg-desktop']['header-img-bg']['url'] %}
{% set mobileBg = layout['header-bg']['header-bg-mobile']['header-mobile-bg']['url'] %}

<section id="header-top" class="header header__top position-relative pb-lg-4 d-flex flex-column">
    <div class="header__bg header-video">
        <video class="header-video__player" preload="none" autoplay loop muted>
            <source src="{{ theme.link }}/video/header_bg.mp4" type="video/mp4">
        </video>
        <div class="header-video__overlay"
             style="--bg-desktop:url('{{ desktopBg }}'); --bg-mobile: url('{{ mobileBg }}');"></div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
         style="background-image: url('{{ layout['header-bg']['header-bg-mobile']['header-mobile-nav-bg']['url'] }}');">
        <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}">
            <p class="logo_animations">
                <span class="animated_logo"></span>
            </p>
        </a>
        <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line line--blue"></span>
            <span class="line line--short"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "menu.twig" with {'menu': menu.get_items} %}
        </div>
    </nav>
    <div class="header__container-text container container-fluid-xl pb-4 pb-lg-0 d-flex align-items-center">
        <div class="row justify-content-center aling-items-center justify-content-lg-start flex-column pb-lg-5 px-lg-5 pt-5">
            <div class="col-12 col-lg-7 pt-3 pt-lg-5 pl-lg-0">
                <h1
                        class="font__family--sectra font__weight--bold font__color--white header__top__title wow fadeInUp"
                        data-wow-duration="1s"
                        data-wow-delay="0.3s"
                >{{ layout['header-title'] }}</h1>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left pl-lg-5 pb-lg-5 pb-1">
                <p
                        class="font__family--avenir font__weight--regular font__color--white header__top__desc pt-4 wow fadeInUp"
                        data-wow-duration="1s"
                        data-wow-delay="0.6s"
                        data-wow-offset="-600"
                >{{ layout['header-desc'] }}</p>
                <div class="pb-5 mb-5 pb-lg-0 mb-lg-0 mt-4">
                    <p class="wow fadeInUp hover_animations"
                       data-wow-duration="1s"
                       data-wow-delay="0.9s"
                       data-wow-offset="-600"
                    >
                        <span class="linkLine1 hover_animations__line"></span>
                        <a href="{{ layout['header-btn'].url }}"
                           target="{{ layout['header-btn'].target ? '_blank' : '_self' }}"
                           class="font__family--avenir font__weight--bold font__color--white d-inline-block d-inline-block ml-2">{{ layout['header-btn'].title }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
	{% include '/templates/layouts/partials/line-1.html.twig' %}
</section>
<section class="brands position-relative py-5" style="min-height:150px;">
    <div class="container box__position box__position--to-top box__position--lg-to-right box__position--md-down-center">
        <div class="row justify-content-center">
            <div class="col-11 position-relative">
                <div class="box box__radius box__radius--left box__radius--all--md-down box__radius--top-md-down box__shadow box__shadow--dark background__color background__color--gray d-lg-flex align-items-center py-lg-2">
                    <h4 class="font__family--avenir font__weight--regular font__color--gray text-center box__brands__title col-lg-3 text-lg-left p-3 py-lg-4 pl-lg-5 pr-lg-2">{{ layout.header_brands.brands_title }}</h4>
                    <div class="box__slider col-lg-8 p-lg-0 pl-lg-4 d-lg-flex justify-content-lg-between align-items-lg-center">
                        {% for single in layout.header_brands.brands_images %}
                            <img class="box__slider__image" src="{{ single.brands_single_image.url }}"
                                 alt="{{ single.brand_single_image.alt }}"
                                 title="{{ single.brand_single_image.title }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
