<section class="layout {{ layout.acf_fc_layout }} box__margins--2 pt-1 pb-1"
         style="background-image: url({{ Image(layout.background_image_process).src }});">
    <div class="container px-lg-0 mt-5 mb-5 pt-5 pb-5">
        <div class="row d-flex flex-column justify-content-center align-items-center text-center">
            <h3 class="font__family--sectra font__weight--bold font__color--white m-0 p-0 title--main wow fadeInUp"
                data-wow-duration="1s" data-wow-delay="0.3s">{{ layout.title_process }}</h3>
            <span class="font__family--avenir font__weight--regular font__color--gray--3 text-uppercase m-0 p-0 pt-3 brands__subtitle  wow fadeInUp"
                  data-wow-duration="1s" data-wow-delay="0.4s">{{ layout.subtitle_process }}</span>
            <div class="mt-5 mb-5 pt-5">
                {% if layout.image_process %}
                    <img class="img-fluid" src="{{ Image(layout.image_process).src }}"
                         alt="{{ layout.image_process.alt }}"
                         title="{{ layout.image_process.title }}">
                {% elseif layout.lottie_process != "" %}
                    <p class="icon_animations">
                        <span class="animated_icon" data-name="{{ layout.lottie_process }}"></span>
                    </p>
                {% endif %}
            </div>
            {% if layout.button_process %}
                <div class="position-relative d-block mt-5 mb-5">
                    <a class="font__weight--bold
                         font__color--white
                         text-uppercase
                         btn__lottie btn__lottie--content btn__lottie--blue-light btn__lottie--longer-mobile btn__lottie--longer-1"
                       href="{{ layout.button_process.url }}"
                       title="{{ _e('Website development Berlin', 'mits') }}"
                    >
                        {{ layout.button_process.title }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
