<section class="layout {{ layout.acf_fc_layout }}" id="{{ layout.acf_fc_layout }}">
    <div class="container career-container">
        <div class="row career-repeater mb-5 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-md-4 d-flex justify-content-center d-lg-block">
                <h4 class="title--background title--background--decorator font__family--sectra font__weight--bold font__color--black">{{ _e("Requirements", "mits") }}</h4>
            </div>
            <div class="col-md-8 pt-4 pl-md-5">
                <ul class="list list__classic">
                    {% for item in layout.requirements %}
                        <li class="list-item font__family--avenir font__weight--regular font__color--gray"
                            title="{{ item.item }}">
                            {{ item.item }}
                        </li>
                    {% endfor %}
                </ul>
                <span class="d-block pt-4 pb-1 font__family--avenir font__weight--bold font__color--gray-dark">{{ _e("Nice to have:","mits") }}</span>
                <ul class="list list__classic list__nice-to-have">
                    {% for item in layout.nice_to_have %}
                        <li class="list-item font__family--avenir font__weight--regular font__color--gray"
                            title="{{ item.item }}">
                            {{ item.item }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row career-repeater mb-5 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-md-4 d-flex justify-content-center d-lg-block">
                <h4 class="title--background title--background--decorator font__family--sectra font__weight--bold font__color--black">{{ _e("Your<br/>responsibilites", "mits") }}</h4>
            </div>
            <div class="col-md-8 pt-4 pl-md-5">
                <ul class="list list__classic">
                    {% for item in layout.responsibilities %}
                        <li class="list-item font__family--avenir font__weight--regular font__color--gray"
                            title="{{ item.item }}">
                            {{ item.item }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row career-repeater mb-5 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-md-4 d-flex justify-content-center d-lg-block">
                <h4 class="title--background title--background--decorator font__family--sectra font__weight--bold font__color--black">{{ _e("Our offer", "mits") }}</h4>
            </div>
            <div class="col-md-8 pl-5 d-flex align-items-center justify-content-between justify-content-md-start">
                {% for item in layout.our_offer %}
                    <div class="offer__item">
                        <span class="offer__item__title d-block pb-2 font__family--avenir font__weight--regular font__color--gray">{{ item.title }}</span>
                        <span class="d-block font__family--avenir font__weight--bold font__color--gray-dark">{{ item.text }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row pt-3 pt-md-5 pb-1 pb-md-2 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-12 text-center">
                <span class="d-block font__family--avenir font__weight--light font__color--gray text-center pb-2">{{ layout.benefits_title }}</span>
            </div>
        </div>
        <div class="row align-items-end benefits_list wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            {% for item in benefits %}
                <div class="col-6 col-md-4 d-flex align-items-center flex-column mb-2 mt-5 benefit_item">
                    {% if item.data_name %}
                        <p class="icon_animations">
                            <span class="animated_icon" data-name="{{ item.data_name }}"></span>
                        </p>
                    {% else %}
                        <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}"
                             title="{{ item.icon.title }}">
                    {% endif %}

                    <span class="font__family--avenir font__color--gray-dark font__weight--bold benefit_item__name benefit_item__name--nth-size pt-3 text-center">{{ item.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
