<section class="layout {{ layout.acf_fc_layout }}" id="{{ layout.acf_fc_layout }}">
    {#    <svg class="careers_list__dec" xmlns="http://www.w3.org/2000/svg" width="122" height="143" viewBox="0 0 122 143"><g><g><path fill="#e9ecee" d="M50 100c27.614 0 50-22.386 50-50S77.614 0 50 0 0 22.386 0 50s22.386 50 50 50z"/></g><g><path fill="#e9ecee" d="M100.5 143c11.874 0 21.5-9.626 21.5-21.5s-9.626-21.5-21.5-21.5S79 109.626 79 121.5s9.626 21.5 21.5 21.5z"/></g></g></svg>#}
    {#    <svg class="" xmlns="http://www.w3.org/2000/svg" width="1100" height="850" viewBox="0 0 1100 850"><g><g transform="rotate(-83 539 399)"><path fill="#eef2f4" d="M761.363 201.545c-7.69-50.007 47.459-86.463 47.459-141.331C808.822-52.572 732.542-144 638.449-144c-67.689 0-93.892 90.277-153.641 115.856-35.42 15.166-72.078-29.776-112.176-29.776C225.928-57.92 107 84.633 107 260.476c0 158.705 137.787 200.05 223.613 314.396C444.025 725.971 472.82 939 636.065 939 805.03 939 942 766.37 942 553.41c0-156.684-159.29-213.025-180.637-351.865"/></g></g></svg>#}
    <canvas
            class="js-svgCanvas careers_list__background"
            resize
            data-scale="0.6"
            data-slow-factor="3"
            data-x-axis-inverted="0"
            data-y-axis-inverted="0"
            {#    data-fill-color="#ff0000"#}
            data-svg="M70.6327449,98.1366473 C135.374015,60.9857582 159.301266,67.2795466 194.774612,72.7795466 C230.247958,78.2795466 293.875815,157.360478 364.302915,139.570012 C434.730015,121.779547 552.679884,1.13686838e-13 685.033784,1.13686838e-13 C817.387683,1.13686838e-13 958.047284,71.5409159 1029.90878,188.055902 C1101.77028,304.570888 1064.4248,444.105321 940.90624,493.557944 C817.387683,543.010567 677.259856,589.062822 589.57982,663.602128 C501.899783,738.141434 376.929021,870.544842 176.050712,741.912194 C-24.8275966,613.279547 62.9539048,454.519174 76.1849657,429.39936 C89.4160266,404.279547 91.3904795,350.851766 31.0991515,294.435116 C-29.1921766,238.018466 5.89147526,135.287536 70.6327449,98.1366473 Z"
            style="z-index:0;"
    ></canvas>
    <div class="container">
        <div class="row pb-5">
            <div class="col-12 text-center wow fadeInUp"
                 data-wow-duration="1s"
                 data-wow-delay="0.3s"
            >
                <span class="d-block font__family--avenir font__weight--light font__color--gray text-uppercase approach__title text-center pb-2">{{ layout.title }}</span>
                <span class="d-block font__family--sectra font__weight--bold m-0 p-0 brands__title">{{ layout.subtitle }}</span>
            </div>
        </div>
        <div class="row row-eq-height">
            {% for career in Post(layout.careers) %}
                <div class="col-lg-4 mt-3 mb-3">
                    <div class="career_box wow fadeIn"
                         data-wow-offset="300"
                         data-wow-duration="1s"
                         data-wow-delay="{{ loop.index*2/10 }}s">
                        <a href="{{ career.link }}" rel="follow" class="d-flex flex-column w-100" title="{{ _e('Website development Berlin', 'mits') }}">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid" src="{{ Image(career.terms.0.icon.url) }}"
                                     alt="{{ career.terms.0.name }}"
                                     title="{{ career.terms.0.name }}">
                                <span class="ml-1 font__color--gray font__family--avenir career_box__text">{{ career.terms.0.name }}</span>
                            </div>
                            <h2 class="d-block career_box__title font__family--sectra font__weight--bold pt-2 pb-4">{{ career.title }}</h2>
                            <div class="flex-grow-1">
                                <span class="font__color--gray font__family--avenir career_box__text">{{ _e("PLN") }}</span>
                                <span class="font__color--gray font__weight--bold font__family--avenir career_box__salary">{{ career.meta("salary") }}</span>
                            </div>
                            <div class="d-flex justify-content-start align-items-center pt-5 mb-0">
                                <p class="hover_animations">
                                    <span class="linkLine2 hover_animations__line"></span> <span
                                            class="btn font__family--avenir font__weight--bold font__color--black text-left pt-0 pb-0 pr-0">
                                        {{ __("APPLY NOW!", "mits") }}
                                    </span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
