<section class="layout {{ layout.acf_fc_layout }}">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 breadcrumbs">
                {% if function('function_exists', 'bcn_display') %}
                    {{ function('bcn_display') }}
                {% endif %}
            </div>
        </div>
        <div class="row box__margins--1 ">

            <div class="col-lg-9 js-load-more-posts px-0 pr-lg-5" data-category="all">
                {% for post in posts_list.get_posts %}
                    {% include ['tease-post.twig', 'tease.twig'] with {'post': post} %}
                {% endfor %}
                <div class="tool-pagination d-flex justify-content-between">
                    <div class="prev">
                        {% if posts_list.pagination.prev %}

                            <p
                                    class="d-flex align-items-start justify-content-end justify-content-md-start align-items-lg-center justify-content-lg-start pt-3 pt-lg-0 hover_animations"
                            >
                                <span class="linkLine2 hover_animations__line"></span>
                                <a class="case-studies-list__single__btn font__family--avenir text-uppercase font__weight--bold font__color--black text-left pt-0 ml-2"
                                   title="{{ __('Prev entries', 'mits') }}" href="{{ posts_list.pagination.prev.link }}"
                                   class="next {{ posts_list.pagination.prev.link|length ? '' : 'invisible' }}"
                                   title="{{ __('Prev entries', 'mits') }}">{{ __('Prev', 'mits') }}</a>
                            </p>
                        {% endif %}
                    </div>
                    <div class="next">
                        {% if posts_list.pagination.next %}
                            <p
                                    class="d-flex align-items-start justify-content-end justify-content-md-start align-items-lg-center justify-content-lg-start pt-3 pt-lg-0 hover_animations"
                            >
                                <span class="linkLine1 hover_animations__line"></span>
                                <a class="case-studies-list__single__btn font__family--avenir text-uppercase font__weight--bold font__color--black text-left pt-0 ml-2"
                                   title="{{ __('Next entries', 'mits') }}" href="{{ posts_list.pagination.next.link }}"
                                   class="next {{ posts_list.pagination.next.link|length ? '' : 'invisible' }}"
                                   title="{{ __('Next entries', 'mits') }}">{{ __('Next', 'mits') }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-lg-3 pl-lg-5 mt-5 mt-lg-0">
                <h2 class="font__family--sectra font__weight--bold pb-2">{{ __('Categories', 'mits') }}</h2>
                <ul class="slide__list list list__classic mb-5">
                    {% for category in categories %}
                        <li class="list-item font__family--avenir font__weight--regular">
                            <a title="{{ category.name }}" href="{{ category.link }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {#                <h2 class="font__family--sectra font__weight--bold pb-2">{{ layout.featured_posts_title }}</h2>#}
                {#                <ul class="slide__list list list__classic">#}
                {#                    {% for post in Post(layout.featured_posts) %}#}
                {#                        <li class="list-item font__family--avenir font__weight--regular">#}
                {#                            <a href="{{ post.link }}">{{ post.post_title }}</a>#}
                {#                        </li>#}
                {#                    {% endfor %}#}
                {#                </ul>#}
            </div>
        </div>
    </div>
</section>
