<section id="header-top" class="header header__top position-relative pb-lg-4 {{ post.title|lower }}"
         style="background-image: url('{{ layout.background_image.url }}');">
    {% if layout.background_decoration %}
        <div class="js-parallax-scene position-absolute animated-svg__canvas__header animated-svg__canvas--right">
            <svg
                    class="{{ classes }}"
                    data-hover-only="true"
                    data-depth="0.15"
                    data-friction-x="0.2"
                    data-friction-y="0.3"
                    height="1200px"
                    viewBox="0 0 1500 1500"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill="#EEF2F4">
                        <g>
                            <path d="M1.59685432,672.922802 C-7.82055303,554.586333 22.9956676,385.370715 132.061398,282.839226 C241.127129,180.307736 420.803596,48.0841099 696.121036,10.7358437 C971.438477,-26.6124225 1079.0033,35.5841524 1157.26259,164.654363 C1235.52187,293.724574 1302.53385,517.389673 1283.05905,631.981461 C1263.58424,746.57325 1214.11503,858.921261 1063.00123,835.543536 C911.887436,812.16581 774.90263,850.158404 651.995592,915.584198 C529.088553,981.009992 354.052193,1060.55343 212.936844,963.629843 C71.8214956,866.706256 11.0142617,791.259271 1.59685432,672.922802 Z">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    {% endif %}
    <nav id="navbar" class="navbar navbar-case-study navbar-expand-lg"
         style="background-image: url('{{ layout.header_mobile_nav_bg.url }}');">
        <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}"">
            <p class="logo_animations">
                <span class="animated_logo animated_logo--black"></span>
            </p>
        </a>
        <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="line line--black"></span>
            <span class="line line--blue"></span>
            <span class="line line--black line--short"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "menu.twig" with {'menu': menu.get_items, 'theme_color': 'dark'} %}
        </div>
    </nav>
    <div class="container pb-4 pt-lg-4 pb-lg-5">
        <div class="row justify-content-center aling-items-center justify-content-lg-start pt-5 pb-lg-5">
            <div class="col-12 col-lg-6 pt-3 order-2 order-lg-1 pt-lg-5">
                <span class="d-block font__family--avenir header__top__subtitle pb-2  font__color--gray pt-4 pt-lg-0 text-uppercase wow fadeInUp"
                      data-wow-duration="1s" data-wow-delay="0.3s">{{ layout.subtitle }}</span>
                <h1 class="font__family--sectra font__weight--bold font__color--black header__top__title--2 wow fadeInUp"
                    data-wow-duration="1s" data-wow-delay="0.6s">{{ layout.title }}</h1>
                {% if  layout.scroll_down %}
                    <div class="pb-lg-5 pt-1 pb-lg-5 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                        <p class="hover_animations">
                            <span class="linkLine2 hover_animations__line"></span>
                            <a href="#the_need"
                               title="{{ _e('Website development Stockholm', 'mits') }}"
                               class="font__family--avenir header__top__down font__weight--bold font__color--black d-inline-block mt-4 d-inline-block pl-2 text-uppercase">{{ layout.scroll_down }}</a>
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                {% set styled = "" %}
                {% if layout.left_image_position != "" or layout.top_image_position != "" %}
                    {% set styled = 'style="left: ' ~ layout.left_image_position ~ '; top: ' ~ layout.top_image_position ~ ';"'  %}
                {% endif %}
                <img class="header__top__case-image wow fadeIn" src="{{ layout.image.url }}" {{ styled }}
                     alt="{{ layout.image.alt }}" title="{{ layout.image.title }}" data-wow-duration="1s"
                     data-wow-delay="1.2s">
            </div>
        </div>
    </div>
</section>

