<section class="layout {{ layout.acf_fc_layout }}" style="background-image: url('{{ layout.background_image.url }}');"
         id="{{ layout.acf_fc_layout }}">
    <div class="position-relative ">
        {#        <div class="js-parallax-scene bg-cover-el">#}
        {#            <div#}
        {#                    data-hover-only="true" data-depth="0.1" data-friction-x="0.5" data-friction-y="0.7"#}
        {#                    class="approach__background background-parallax"#}
        {#                    style="background-image: url('{{ layout.background_image.url }}');"#}
        {#            ></div>#}
        {#        </div>#}
        <div class="container">
            <div class="row pb-5">
                <div class="col-12 text-center wow fadeInUp" data-wow-duration="1s"
                     data-wow-delay="0.3s">
                    <span class="d-block font__family--avenir font__weight--light font__color--gray text-uppercase approach__title text-center pb-2">{{ layout.title }}</span>
                    <span class="d-block font__family--sectra font__weight--bold m-0 p-0 brands__title">{{ layout.subtitle }}</span>
                </div>
            </div>
            <div class="row wow fadeIn" data-wow-duration="1s"
                 data-wow-delay="0.3s">
                {% for item in benefits %}
                    <div class="col-6 col-md-4 d-flex align-items-center flex-column mb-5 mt-5 benefit_item">
                        {% if item.data_name %}
                            <p class="icon_animations">
                                <span class="animated_icon" data-name="{{ item.data_name }}"></span>
                            </p>
                        {% else %}
                            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" title="{{ item.icon.title }}">
                        {% endif %}

                        <span class="font__family--avenir font__color--gray-dark font__weight--bold benefit_item__name pt-3">{{ item.name|removeOrphans }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
