<section class="layout {{ layout.acf_fc_layout }}">
    <form class="container box box__radius--top box__radius--top box__radius--bottom box__bg--white box__shadow--dark box__position__to-top--relative box__paddings--3 estimate-form">
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
        <div class="row estimate mb-lg-5 pb-5 pb-lg-4 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-12 col-lg-4 d-flex justify-content-end justify-content-sm-center">
                <div class="estimate__box-title">
                    <h2 class="font__family--sectra font__weight--bold font__color--black m-0 pb-0 title">{{ layout.what_is_the_scope_of_your_project.section_title.text }}</h2>
                    <img class="bg-img"
                         src="{{ layout.what_is_the_scope_of_your_project.section_title.text_bg.url }}"
                         alt="{{ layout.what_is_the_scope_of_your_project.section_title.text_bg.alt }}"
                         title="{{ layout.what_is_the_scope_of_your_project.section_title.text_bg.title }}">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                {% for scope in layout.what_is_the_scope_of_your_project.scope %}
                    <label class="d-flex justify-content-between align-items-center radio-button mb-3"
                           for="scope-{{ loop.index }}">
                        <span class="d-flex align-items-center radio-button__content">
    <span class="ico__container">
        <img class="ico pr-3" src="{{ scope.ico.url }}" alt="{{ scope.ico.alt }}"
             title="{{ scope.ico.title }}">
    </span>
                            <span class="title">{{ scope.title }}</span>
                        </span>
                        <span class="radio-button__checkmark"></span>
                        <input class="radio-button__input" type="checkbox" id="scope-{{ loop.index }}" name="scopes[]"
                               value="{{ scope.title }}">
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="row estimate mb-lg-5 pb-5 pb-lg-4 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-12 col-lg-4 d-flex justify-content-end justify-content-sm-center">
                <div class="estimate__box-title">
                    <h2 class="font__family--sectra font__weight--bold font__color--black m-0 pb-0 title">{{ layout.tell_us_more_about_the_project.section_title.text }}</h2>
                    <img class="bg-img"
                         src="{{ layout.tell_us_more_about_the_project.section_title.text_bg.url }}"
                         alt="{{ layout.tell_us_more_about_the_project.section_title.text_bg.alt }}"
                         title="{{ layout.tell_us_more_about_the_project.section_title.text_bg.title }}">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <textarea name="about_project" class="textarea textarea__gray"
                          placeholder="{{ _e("Main goals would be nice :)", 'mits') }}"></textarea>
                <label for="file" class="embed-file my-4">
                    <img class="embed-file__ico pr-2"
                         src="{{ layout.tell_us_more_about_the_project.attachment.ico.url }}"
                         alt="{{ layout.tell_us_more_about_the_project.attachment.ico.alt }}"
                         title="{{ layout.tell_us_more_about_the_project.attachment.ico.title }}">
                    <span class="embed-file__text font__family--avenir font__weight--semi-bold font__color--blue">
                        {{ layout.tell_us_more_about_the_project.attachment.text }}
                    </span>
                    <input type="file" id="file" class="d-none" name="file" accept=".xls, .xlsx, .pdf, .doc, .docx">
                </label>
                <label class="d-flex justify-content-between align-items-center radio-button checkbox-from-radio mb-3"
                       for="nda">
                    <span class="d-flex align-items-center checkbox-from-radio__content">
    <span class="ico__container">
        <img class="ico pr-3" src="{{ layout.tell_us_more_about_the_project.nda.ico.url }}"
             alt="{{ layout.tell_us_more_about_the_project.nda.ico.alt }}"
             title="{{ layout.tell_us_more_about_the_project.nda.ico.title }}">
    </span>
                            <span class="title">{{ layout.tell_us_more_about_the_project.nda.text }}</span>
                        </span>
                    <span class="radio-button__checkmark"></span>
                    <input class="radio-button__input" type="checkbox" id="nda" name="nda"
                           value="{{ layout.tell_us_more_about_the_project.nda.text }}">
                </label>
            </div>
        </div>
        <div class="row estimate mb-lg-5 pb-5 pb-lg-4 wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-12 col-lg-4 d-flex justify-content-end justify-content-sm-center">
                <div class="estimate__box-title">
                    <h2 class="font__family--sectra font__weight--bold font__color--black m-0 pb-0 title">{{ layout.contact_detail.section_title.text }}</h2>
                    <img class="bg-img"
                         src="{{ layout.contact_detail.section_title.text_bg.url }}"
                         alt="{{ layout.contact_detail.section_title.text_bg.alt }}"
                         title="{{ layout.contact_detail.section_title.text_bg.title }}">
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-lg-0">
                <div class="main-input">
                    <p class="d-flex justify-content-between align-items-center mb-2">
                        <label class="main-input__label" for="name">{{ _e("full name") }}</label>
                        <span class="main-input__error-msg">{{ _e("Don't be like Charles give us your full name", 'mits') }}</span>
                    </p>
                    <input class="main-input__field" type="text" id="name" name="name">
                </div>
                <div class="main-input">
                    <p class="d-flex justify-content-between align-items-center mb-2">
                        <label class="main-input__label" for="email">{{ _e("email", 'mits') }}</label>
                        <span class="main-input__error-msg">{{ _e("Don't be like Charles give us your email", 'mits') }}</span>
                    </p>
                    <input class="main-input__field" type="email" id="email" name="email">
                </div>
                <div class="main-input">
                    <p class="d-flex justify-content-between align-items-center mb-2">
                        <label class="main-input__label" for="phone">{{ _e("phone", 'mits') }}</label>
                        <span class="main-input__error-msg">{{ _e("We want to call to you!", 'mits') }}</span>
                    </p>
                    <input class="main-input__field" type="text" id="phone" name="phone">
                </div>
                <div class="main-input">
                    <p class="d-flex justify-content-between align-items-center mb-2">
                        <label class="main-input__label"
                               for="where">{{ _e("HOW DID YOU HEAR ABOUT MITS?", 'mits') }}</label>
                        <span class="main-input__error-msg">{{ _e("we're curious", 'mits') }}</span>
                    </p>
                    <input class="main-input__field not-required" type="text" id="where" name="where">
                </div>
                <div class="terms">
                    <p class="term">
                        <input id="privacy" name="privacy_terms" type="checkbox" class="d-none term__input">
                        <label class="term__label" for="privacy"><span class="term__checkmark"></span><span
                                    class="term__label--max-width">{{ __('I have read and
                            accept', 'mits') }}<a
                                        href="{{ layout.contact_detail.privacy.url }}" class="link"> {{ __('Privacy
                                Policy', 'theme') }}</a></span></label>
                    </p>
                    <p class="term">
                        <input name="rambo" id="rambo" type="checkbox" class="d-none term__input not-required">
                        <label class="term__label" for="rambo"><span class="term__checkmark"></span>{{ __('Fill it if you like
                            Rambo', 'mits') }}</label>
                    </p>
                </div>
                <div class="pl-lg-5 pt-5 pb-lg-3 mt-5 text-center">
                    <a href="#"
                       class="btn estimate-send font__family--avenir font__weight--bold font__color--white btn__lottie btn__lottie--bg btn__lottie--blue"
                       title="{{ _e('Website development Stockholm', 'mits') }}">
                        {{ __("ESTIMATE", "mits") }}
                    </a>
                </div>
            </div>
        </div>

    </form>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ captcha_site_key }}', {action: 'estimate'})
                .then(function (token) {
                    //console.log(token);
                    document.getElementById('g-recaptcha-response').value = token;
                });
        });
    </script>
    <div id="estimateAlerts" class="background__color--blue d-flex justify-content-center align-items-center"
         style="min-height: 500px;">
        <div class="container estimate-thanks d-none">
            <div class="row mt-5 pt-4 d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-8">
                    <h2 class="estimate-thanks__title font__family--sectra font__weight--bold font__color--white pb-2 mb-1">
                        {{ __("Thank you", "mits") }}
                    </h2>
                    <p class="estimate-thanks__desc font__family--avenir font__weight--regular font__color--white text-center text-lg-left">
                        {{ __("We will back to you in 2 business days.", "mits") }}
                    </p>
                </div>
            </div>
        </div>
        <div class="container estimate-error d-none">
            <div class="row mt-5 pt-4 d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-8">
                    <h2 class="estimate-thanks__title font__family--sectra font__weight--bold font__color--red pb-2 mb-1">
                        {{ __("Something wrong", "mits") }}
                    </h2>
                    <p class="estimate-thanks__desc font__family--avenir font__weight--regular font__color--white text-center">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
