<section class="layout {{ layout.acf_fc_layout }}"

>
    <svg class="take_a_look_around__background" xmlns="http://www.w3.org/2000/svg" width="1150" height="900"
         viewBox="0 0 1000 1800">
        <g>
            <g transform="rotate(112 1097 789)">
                <path fill="#eef2f4"
                      d="M1657.313 325.615c-15.949-103.709 98.442-179.314 98.442-293.102 0-233.903-158.222-423.513-353.396-423.513-140.404 0-194.755 187.222-318.69 240.27-73.47 31.452-149.508-61.752-232.68-61.752C546.686-212.482 300 83.155 300 447.83c0 329.132 285.804 414.878 463.83 652.016C999.074 1413.205 1058.804 1855 1397.413 1855c350.48 0 634.587-358.013 634.587-799.661 0-324.944-330.408-441.787-374.687-729.724"/>
            </g>
        </g>
    </svg>
    <div class="take_a_look_around__title">
        <span class="font__family--avenir font__weight--regular font__color--gray take_a_look_around__title__text text-center">{{ layout.title }}</span>
    </div>
    <div class="take-around-slider wow fadeIn" dir="rtl" data-wow-offset="300"
         data-wow-duration="1s"
    >
        {% for slide in layout.carousel %}
            <div class="slide">
                {% for item in slide.slide %}
                    <div class="slide__item slide__item--{{ loop.index }}">
                        <img class="slide__item__image" src="{{ item.image.url }}" alt="{{ item.image.alt }}"
                             title="{{ item.image.title }}">
                        <span class="slide__item__title font__family--avenir font__weight--regular font__color--gray-dark">
                            {{ item.text }}
                            <img class="slide__item__title__decorator"
                                 src="{{ theme.link }}/dist/images/decorations/cta_line1.svg"
                                 alt="{{ _e('Website development London', 'Berlin') }}"
                                 title="{{ _e('Website development London', 'Berlin') }}">
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
