<section id="header-top" class="header header__top position-relative pb-lg-4 d-flex flex-column"
         style="background-image: url('{{ layout.background_image.url }}');">
    <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
         style="background-image: url('{{ layout.background_nav_mobile.url }}');">
        <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}">
            <p class="logo_animations">
                <span class="animated_logo"></span>
            </p>
        </a>
        <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line line--blue"></span>
            <span class="line line--short"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "menu.twig" with {'menu': menu.get_items} %}
        </div>
    </nav>
    <div class="header__container-text container-fluid pb-4 pt-lg-5 pb-lg-5">
        <div class="row justify-content-center aling-items-center justify-content-lg-start pt-5 pb-lg-5 px-lg-5">
            <div class="col-12 col-lg-5 pt-3 pl-lg-0 wow fadeInUp"
                 data-wow-duration="1s"
                 data-wow-delay="0.3s"
                 data-wow-offset="-600"
            >
                <span class="d-block font__family--avenir font__color--white header__top__subtitle pb-2  font__color--gray-light text-uppercase">{{ layout.title }}</span>
                <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title--2">{{ layout.page_title }}</h1>
            </div>
            {% if layout.text_col_first %}
                <div class="col-12 col-lg-5 wow fadeInUp"
                     data-wow-duration="1s"
                     data-wow-delay="0.6s"
                     data-wow-offset="-600"
                >
                    <div class="font__family--avenir font__weight--regular font__color--white header__top__desc pt-5 pt-lg-4 font__color--gray-light">{{ layout.text_col_first }}</div>
                </div>
            {% endif %}

        </div>
    </div>
	{% include '/templates/layouts/partials/line-1.html.twig' %}
</section>
