<div class="layout {{ layout.acf_fc_layout }}">
    <div class="container lets-talk">
        <div class="row wow fadeInUp" data-wow-duration="0.5s"
             data-wow-offset="300"
             data-wow-delay="0s">
            <div class="col-12">
                <div class="box box__paddings box__paddings--2-2 box__bg--dark box__radius--all text-center d-flex flex-column align-items-center">
                    <h3 class="font__family--sectra font-weight-bold font__color--white lets-talk__title">{{ layout.title }}</h3>
                    <p class="mb-0 font__family--avenir font__weight--regular font__color--gray-light lets-talk__desc">{{ layout.short_desc|nl2br|removeOrphans }}</p>
                    <div class="mt-5">
                        <a title="{{ _e('Website development Warsaw', 'mits') }}"
                           class="btn btn__lottie btn__lottie--paddings btn__lottie--content btn__lottie--yellow btn__lottie--longer-1 btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
                           href="{{ layout.button_estimate.url }}">
                            <span class="d-inline-block">{{ layout.button_estimate.title }}</span>
                        </a>
                        {% if layout.button_join_to_us.url %}
                            <a class="btn btn__lottie btn__lottie--paddings btn__lottie--bg btn__lottie--blue btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
                               data-stroke-color="#2da9f5"
                               href="{{ layout.button_join_to_us.url }}"
                               title="{{ _e('Website development Warsaw', 'mits') }}">
                                <span class="d-inline-block">{{ layout.button_join_to_us.title }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
