<section class="layout {{ layout.acf_fc_layout }}" id="works">
    <div class="container-fluid">
        <div class="row case-studies-list">
            <div class="col-12 pb-4 pb-lg-5 pt-4">
                <p class="case-studies-list__title font__family--avenir font__weight--regular font__color--gray text-center text-uppercase">
                    case studies</p>
            </div>
        </div>
        {% set loop_index_case_studies = 1 %} {# start from 1 and reset after 4 #}
        {% for case in case_studies %}
            <div class="row case-studies-list case-studies-list__row {{ loop.index % 2 == 0 ? "case-studies-list__odd" : "case-studies-list__even" }}">
                {% set classes = "case-studies-list__decorations " ~ (loop.index % 2 == 0 ? "case-studies-list__decorations--odd" : "case-studies-list__decorations--even") %}
                {% include "layout_animations/layout-animation-"~loop_index_case_studies~".twig" with {
                    'classes': classes,
                    'depth': case.parallaxOpts.depth,
                    'frictionX': case.parallaxOpts.frictionX,
                    'frictionY': case.parallaxOpts.frictionX
                } %}
                <div class="col-12" data-relative-input="true">
                    <div class="d-lg-flex case-studies-list__col">

                        <div class="text-center col-with-img js-parallax-scene mt-5">
                            <img
                                    data-hover-only="true" data-depth="{{ case.parallaxOpts.depth }}"
                                    data-friction-x="{{ case.parallaxOpts.frictionX }}"
                                    data-friction-y="{{ case.parallaxOpts.frictionX }}"
                                    class="top-img {{ loop.index % 2 == 0 ? "top-img--right" : "top-img--left" }} d-inline-block wow fadeIn"
                                    data-wow-duration="1s"
                                    data-wow-delay="0.3s"
                                    src="{{ case.top_image.img.url }}"
                                    alt="{{ case.top_image.img.alt }}"
                                    title="{{ case.top_image.img.title }}"
                            />
                        </div>
                        {#						{{ case.top_image.top_img_position ? "top-img--"~case.top_image.top_img_position : "" }}#}
                        <div class="col-with-info d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-start">
                            <img
                                    class="logo casestudy-logo my-3 my-lg-3 wow fadeInUp"
                                    src="{{ case.logo.url }}" alt="{{ case.logo.alt }}"
                                    title="{{ case.logo.title }}"
                                    data-wow-duration="1s"
                                    data-wow-delay="0.3s"
                            />
                            <h3
                                    class="case-studies-list__single__title font__family--sectra font__weight--bold font__color--black mb-4 mb-lg-5 wow fadeInUp"
                                    data-wow-duration="1s"
                                    data-wow-delay="0.6s"
                            >
                                {{ case.title }}
                            </h3>
                            {% if case.description %}
                                <p class="font__family--avenir font__weight--regular font__color--gray mb-4 mb-lg-5 texts__text wow fadeInUp"
                                   data-wow-duration="1s" data-wow-delay="0.6s">
                                    {{ case.description }}
                                </p>
                            {% endif %}
                            <p
                                    class="d-flex align-items-start justify-content-end justify-content-md-start align-items-lg-center justify-content-lg-start pt-3 pt-lg-0 wow fadeInUp hover_animations"
                                    data-wow-duration="1s"
                                    data-wow-delay="0.9s"
                            >
                                <span class="{{ loop.index % 2 == 0 ? "linkLine1" : "linkLine2" }} hover_animations__line"></span>
                                <a class="case-studies-list__single__btn font__family--avenir font__weight--bold font__color--black text-left pt-0 ml-2"
                                   href="{{ case.link }}"
                                   title="{{ _e('Website development London', 'mits') }}">{{ case.btn }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% set loop_index_case_studies = loop_index_case_studies + 1 %}
            {% if loop_index_case_studies > 3 %}
                {% set loop_index_case_studies = 1 %}
            {% endif %}
        {% endfor %}
        <div class="row case-studies-list">
            <div class="col-12 text-center">
                <p class="wow fadeInUp hover_animations"
                   data-wow-duration="1s"
                   data-wow-delay="0.9s"
                   data-wow-offset="-600"
                >
                    <span class="linkLine1 hover_animations__line"></span>
                    <a href="/portfolio/"
                       title="{{ _e('Website development Berlin', 'mits') }}"
                       target="{{ layout['header-btn'].target ? '_blank' : '_self' }}"
                       class="font__family--avenir font__weight--bold d-inline-block d-inline-block ml-2 text-uppercase">{{ _e('See more projects', 'mits') }}</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
