<section class="layout {{ layout.acf_fc_layout }} pt-5 pb-5 mt-5 mb-5">
    <div class="container">
        <div class="row d-flex flex-column align-items-center text-center wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            {% if  layout.upheader_title %}
                <span class="col-12 texts__upheader font__family--avenir font__color--gray pb-1">{{ layout.upheader_title }}</span>
            {% endif %}
            {% if  layout.title %}
                <h3 class="col-12 texts__title font__weight--bold font__family--sectra font__color--gray-dark pb-4">{{ layout.title }}</h3>
            {% endif %}
        </div>
        <div class="row texts font__family--avenir font__color--gray">
            <div class="col-12 texts__text wow fadeInUp" data-wow-delay="0.3s"
                 data-wow-duration="1s">
                {{ layout.text }}
            </div>
        </div>
    </div>
</section>