<section class="layout {{ layout.acf_fc_layout }} main-slider"
         style="background-image: url('{{ layout['section_bg']['url'] }}')">
    <div class="container px-0">
        <div class="row justify-content-center justify-content-lg-start masonry-wrapper px-0">
            <div class="col-12 col-lg-4 mt-5 mb-2 pt-4 pb-4">
                <p class="font__family--sectra font__weight--bold font__color--white main-slider__title wow fadeInUp"
                   data-wow-duration="1s"
                   data-wow-delay="0.3s">{{ layout.title|removeOrphans }}</p>
                <p class="font__family--avenir font__weight--regular font__color--white text-uppercase main-slider__subtitle mb-0 wow fadeInUp"
                   data-wow-duration="1s"
                   data-wow-delay="0.4s">{{ layout.subtitle|removeOrphans }}</p>
            </div>
            <div class="col-12 main-slider__slider masonry m-0 wow fadeInUp px-0"
                 data-wow-duration="1s"
                 data-wow-delay="0.3s">

                {% for slide in Term(layout.taxonomy_services) %}
                    <div class="main-slider__slide masonry-item">
                        <div class="slide__container masonry-content" itemscope itemtype="http://schema.org/Service">
                            {% if slide.lottie_slug != "" %}
                                <p class="icon_animations">
                                    <span class="animated_icon" data-name="{{ slide.lottie_slug }}"></span>
                                </p>
                            {% else %}
                                <img class="slide__ico pb-4" src="{{ Image(slide.ico).src }}" alt="{{ slide.ico.alt }}"
                                     title="{{ slide.ico.title }}" itemprop="image">
                            {% endif %}
                            <h2 class="slide__title font__family--sectra font__weight--bold font__color--black pb-2"
                                itemprop="name"><a class="hover--blue" href="{{ slide.link }}"
                                                   title="{{ slide.name|removeOrphans }}">{{ slide.name|removeOrphans }}</a>
                            </h2>
                            <p class="slide__desc font__family--avenir font__weight--regular font__color--gray pb-3"
                               itemprop="description">{{ slide.description }}</p>
                            <ul class="slide__list list list__classic">
                                {% set index = loop.index-1 %}
                                {% set services = taxonomy_slider[index] %}
                                {% if services %}
                                    {% for service in services %}
                                        <li class="list-item font__family--avenir font__weight--regular font__color--gray">
                                            {% if service.repeater == false %}
                                                <a class="hover--blue" href="{{ service.link }}"
                                                   title="{{ service.post_title }}">{{ service.post_title }}</a>
                                            {% else %}
                                                {{ service.post_title }}
                                            {% endif %}

                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-10 pb-5 mb-5 mb-lg-0 pb-lg-2">
                {#                <a href="" class="main-slider__arrow main-slider__prev"><img#}
                {#                            src="{{ theme.link }}/dist/images/arrow-left.png"#}
                {#                            alt="arrow prev"></a>#}
                {#                <div class="main-slider__dots"></div>#}
                {#                <a href="" class="main-slider__arrow main-slider__next"><img#}
                {#                            src="{{ theme.link }}/dist/images/arrow-right.png"#}
                {#                            alt="arrow next"></a>#}
            </div>
        </div>
    </div>
</section>
