<section class="layout {{ layout.acf_fc_layout }}" id="{{ layout.acf_fc_layout }}">
    <div class="approach position-relative overflow-hidden">
        <div class="js-parallax-scene bg-cover-el">
            <div
                    data-hover-only="true" data-depth="0.1" data-friction-x="0.5" data-friction-y="0.7"
                    class="approach__background background-parallax"
                    style="background-image: url('{{ layout.section_background.url }}'); background-size: contain;"
            ></div>
        </div>
        <div class="container pb-5">
            <div class="row">
                <div class="col-12 py-5 my-5">
                    <h6 class="font__family--avenir font__weight--light font__color--gray text-uppercase approach__title text-center">{{ layout.section_title }}</h6>
                </div>
            </div>
            <div class="row pb-5">
                {% for single in layout.approach_elements %}
                    <div class="col-12 approach-box mb-lg-5 ">
                        <div class="approach-box__container row w-100 {% if loop.index is even %}justify-content-md-end{% endif %}">
                            {% set side = "" %}
                            {% set margin = "ml-4" %}
                            {% if loop.index%2 == 0 %}
                                {% set side = "flex-row-reverse" %}
                                {% set margin = "mr-5" %}
                            {% endif %}
                            <div class="position-relative d-flex flex-wrap flex-lg-nowrap approach-box__main {{ side }}">
                                <div class="js-parallax-scene w-100"
                                     data-wow-duration="1s"
                                     data-wow-delay="0.3s"
                                     data-wow-offset="300"
                                >
                                    <div data-hover-only="true"
                                         data-depth="{% if loop.index is odd %}0.6{% else %}0.9{% endif %}"
                                         data-friction-x="0.5" data-friction-y="0.7">
                                        <img style="-webkit-clip-path: url('#clip{{ loop.index }}'); clip-path: url('#clip{{ loop.index }}');"
                                             class="approach-box__image"
                                             src="{{ single.image.url }}"
                                             alt="{{ single.image.alt }}"
                                             title="{{ single.image.title }}"/>
                                        <svg
                                                version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                        >
                                            <clipPath id="clip{{ loop.index }}">
                                                <path d="M93.9523656,57.4229938 C186.642687,-11.1205864 356.632731,-40.872172 426.789222,99.0671546 C496.945714,239.006481 469.338911,367.214347 405.932424,413.264959 C342.525937,459.315571 185.326474,506.860808 68.291268,378.487995 C-48.7439384,250.115181 1.26204402,125.966574 93.9523656,57.4229938 Z"
                                                ></path>
                                            </clipPath>
                                        </svg>
                                    </div>
                                </div>
                                <div class="approach-box__text-section {{ margin }}">
                                    <h6 class="approach-box__title font__family--sectra font-weight-bold font__color--black wow fadeInUp case-studies-list__single__title"
                                        data-wow-duration="1s"
                                        data-wow-delay="0.3s"
                                    >{{ single.title }}</h6>
                                    <p class="wow fadeInUp pl-lg-5 pt-4 font__family--avenir font__color--gray font__lh--34"
                                       data-wow-duration="1s" data-wow-delay="0.3s">{{ single.tooltip_text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
