<section class="layout {{ layout.acf_fc_layout }} "
         style="background-image: url('{{ layout['background']['url'] }}'); background-size: cover; background-position: center;">
    <div class="container brands-container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center brands__titles">
                <h6 class="font__family--avenir font__weight--regular font__color--gray-light text-uppercase m-0 p-0 pb-3 brands__subtitle  wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay="0.3s">{{ layout.section_subtitle }}</h6>
                <h3 class="font__family--sectra font__weight--bold font__color--white m-0 p-0 brands__title wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay="0.4s">{{ layout.section_title }}</h3>
            </div>
        </div>

        <div class="row brands__images">
            {% for single in layout.brands %}
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center py-5">
                    <img class="mw-100 wow fadeInUp"
                         data-wow-duration="1s"
                         data-wow-delay="0.3s" src="{{ single.single_brand.url }}" alt="{{ single.single_brand.alt }}"
                         title="{{ single.single_brand.title }}">
                </div>
            {% endfor %}
        </div>

    </div>
</section>
