<section class="layout {{ layout.acf_fc_layout }} pb-5 mb-5">
    <div class="container wow fadeInUp" data-wow-delay="0.3s"
         data-wow-duration="1s">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <span class="texts__quote font__color--yellow font__family--sectra">„</span>
            <blockquote
                    class="texts__blockquote font__family--sectra font__color--gray-dark text-center px-2 p-lg-0  pb-3">
                {{ layout.text|striptags }}
            </blockquote>
            <img class="texts__quote-image" src="{{ layout.image.url }}" alt="{{ layout.image.alt }}"
                 title="{{ layout.image.title }}">
            <span class="texts__quote-person font__family--avenir font__weight--bold font__color--gray-dark">{{ layout.person_name }}</span>
            <span class="texts__quote-person-job font__family--avenir font__color--gray">{{ layout.person_job }}</span>
        </div>
    </div>
</section>
