<section class="layout {{ layout.acf_fc_layout }}">
    <div class="container" id="contact_form_wrapper">
        <div class="row justify-content-center">
            <div class="col-11 col-lg-12 box box__paddings--1 box__radius--all box__bg--dark mb-5 wow fadeInUp"
                 data-wow-duration="0.5s"
                 data-wow-offset="300"
                 data-wow-delay="0s">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <p class="form__title font__family--sectra font__weight--bold font__color--white pt-4 pb-lg-5">
                            <span>{{ __('If you', 'mits') }}</span>
                            <span class="typewrite"
                                  data-period="2000"
                                  data-type='{{ inspired_titles|map(p => p.text)|json_encode }}'>{{ inspired_titles[0].text }}</span>
                        </p>
                        <form id="contact_form" class="form form__dark text-lg-center">
                            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
                            <input type="hidden" value="{{ title }}" name="title_page">
                            <div class="d-lg-flex flex-wrap justify-content-lg-between">
                                <div class="input__group input__group--50 input__group--lg-100 pr-lg-3">
                                    <input id="name" type="text" placeholder="{{ __('Name', 'mits') }}"
                                           class="input__element" name="name">
                                </div>
                                <div class="input__group input__group--50 input__group--lg-100 pl-lg-3">
                                    <input id="email_or_number" type="text" name="email_or_number"
                                           placeholder="{{ __('Email/Phone', 'mits') }}" class="input__element">
                                </div>
                                <div class="input__group input__group--100">
                                    <textarea id="message" name="message"
                                              placeholder="{{ __('How can we help you', 'mits') }}?"
                                              class="text__element"></textarea>
                                </div>
                            </div>
                            <div class="input__group text-center mt-4">
                                <a class="btn__lottie btn__lottie--paddings btn__lottie--content btn__lottie--yellow btn btn__classic btn__transparent font__family--avenir font__weight--bold font__color--white  text-uppercase p-0"
                                   id="contact_form_btn"
                                   title="{{ _e('Website development Stockholm', 'mits') }}">
                                    {{ layout.button_text }}
                                </a>
                            </div>
                        </form>
                        <script>
                            grecaptcha.ready(function () {
                                grecaptcha.execute('{{ captcha_site_key }}', {action: 'contact_form'})
                                    .then(function (token) {
                                        //console.log(token);
                                        document.getElementById('g-recaptcha-response').value = token;
                                    });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
