<section id="header-top"
         class="header header__top header__top--image position-relative pb-lg-1 {{ services_cat ? "header__top__mini--4" : "header__top__mini--3" }}"
         style="background-image: url('{% if layout.background_image.url %}{{ layout.background_image.url }}{% else %}/wp-content/uploads/2019/10/tworzenie-stron-internetowych-lublin.jpg{% endif %}');">
    <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
         style="background-image: url('{{ layout.background_nav_mobile.url }}');">
        <a class="navbar-brand"
           href="{{ home_url }}"
           title="{{ site_title }}">
            <p class="logo_animations">
                <span class="animated_logo"></span>
            </p>
        </a>
        <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line line--blue"></span>
            <span class="line line--short"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "menu.twig" with {'menu': menu.get_items} %}
        </div>
    </nav>
    <div class="container container-fluid-xl pb-4 pt-lg-4 pb-lg-5">
        <div class="row justify-content-center aling-items-center justify-content-lg-start pt-5 pb-5 pb-lg-0 pb-lg-5">
            <div class="col-12 col-lg-7 pl-lg-5">
                <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title wow fadeInUp"
                    data-wow-delay="0.3s"
                    data-wow-duration="1s" data-wow-offset="-600">{{ layout.title }}</h1>
            </div>
        </div>
    </div>
    {% if services_cat %}
        <div class="container services-cat position-absolute fixed-bottom">
            <ul class="services-cat__menu d-flex list-unstyled justify-content-md-between">
                {% for cat in services_cat %}
                    <li class="services-cat__link {{ cat.active ? 'active' : '' }}"><a
                                class="font__family--avenir font__weight--bold text-uppercase" href="{{ cat.link }}"
                                title="{{ cat.name }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
		{% include '/templates/layouts/partials/line-2.html.twig' %}
    {% endif %}
    {% if category_case_studies %}
        <div class="container services-cat position-absolute fixed-bottom">
            <ul class="services-cat__menu d-flex list-unstyled justify-content-md-between">
                {% for cat in category_case_studies %}
                    <li class="services-cat__link active"><span
                                class="font__family--avenir font__weight--bold text-uppercase" data-id="{{ cat.id }}"
                                title="{{ cat.name }}">{{ cat.name }}</span></li>
                {% endfor %}
            </ul>
        </div>
		{% include '/templates/layouts/partials/line-2.html.twig' %}
    {% endif %}

</section>

