<section class="layout {{ layout.acf_fc_layout }} mt-lg-5 mb-lg-5">
    <div class="container">
        <div class="row">
            {% if  layout.title %}
                <h3 class="texts__title font__weight--bold font__family--sectra font__color--gray-dark pb-2 pl-2 pl-lg-0 wow fadeInUp" data-wow-delay="0.3s"
                    data-wow-duration="1s">{{ layout.title }}</h3>
            {% endif %}
        </div>
        <div class="row texts font__family--avenir font__color--gray wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            {% if layout.two_columns %}
                <div class="col-md-6 pl-lg-0 pr-lg-4 texts__text">
                    {{ layout.text }}
                </div>
                <div class="col-md-6 pl-lg-4 texts__text">
                    {{ layout.second_column_text }}
                </div>
            {% else %}
                <div class="col-12 p-lg-0 texts__text">
                    {{ layout.text }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
