<section class="layout {{ layout.acf_fc_layout }}">
    <div class="row px-2 pb-5 pb-md-2 justify-content-center text-center wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.3s">
        <span class="case-studies-list__title font__family--avenir font__weight--regular font__color--gray text-center text-uppercase">{{ layout.title }}</span>
    </div>
    <div class="container px-0">
        <div class="row px-0 justify-content-center align-items-start wow fadeInUp" data-wow-duration="1s"
             data-wow-delay="0.3s">
            <div class="col-12 px-0 d-flex testimonials-columns main-slider__slider justify-content-lg-center">
                {% for testimonial in Post(layout.testimonials) %}
                    <div class="testimonials-box text-center d-flex align-items-center justify-content-center flex-column">
                        <div class="testimonial__quote position-relative">
                            <img class="position-absolute testimonial__quote--dec testimonial__quote--dec-left"
                                 title="{{ _e('Website development LA', 'mits') }}"
                                 alt="{{ _e('Website development LA', 'mits') }}"
                                 src="{{ theme.link }}/dist/images/testimonials/shape-testimonial-left.svg">
                            <img class="position-absolute testimonial__quote--dec testimonial__quote--dec-right"
                                 alt="{{ _e('Website development LA', 'mits') }}"
                                 title="{{ _e('Website development LA', 'mits') }}"
                                 src="{{ theme.link }}/dist/images/testimonials/shape-testimonial-right.svg">
                            <span class="testimonial__quote__text font__family--avenir mb-3">
                                {{ testimonial.description }}
                            </span>
                            <div class="testimonial__quote__stars d-flex justify-content-center mb-2">
                                {% set stars = (testimonial.stars*10) %}
                                {% for i in 1..testimonial.stars %}
                                    <img class="testimonial__quote__star"
                                         src="{{ theme.link }}/dist/images/testimonials/star.svg"
                                         alt="{{ _e('Website development LA', 'mits') }}"
                                         title="{{ _e('Website development LA', 'mits') }}">
                                {% endfor %}
                                {% if stars%10 == 5 %}
                                    <span class=" testimonial__quote__star--half">
                                        <img class="testimonial__quote__star"
                                             src="{{ theme.link }}/dist/images/testimonials/star.svg"
                                             alt="{{ _e('Website development LA', 'mits') }}"
                                             title="{{ _e('Website development LA', 'mits') }}">
                                    </span>
                                {% endif %}
                            </div>
                            {% if testimonial.logo %}
                                <img src="{{ Image(testimonial.logo).src }}" alt="{{ testimonial.logo.alt }}"
                                     title="{{ testimonial.logo.title }}" class="">
                            {% endif %}
                        </div>
                        <svg width="27px" height="26px" viewBox="0 0 27 26" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="mits_Testimonials" transform="translate(-947.000000, -5061.000000)"
                                   fill="#FFFFFF" stroke="#EEF2F4" stroke-width="2">
                                    <path d="M956.969018,5062.44708 C963.299163,5061.3984 970.301576,5061.65491 971.668741,5069.28252 C973.035905,5076.91012 970.398592,5086 959.477959,5086 C948.557326,5086 948,5077.12466 948,5073.20359 C948,5069.28252 950.638874,5063.49576 956.969018,5062.44708 Z"
                                          id="Path-3-Copy-31"></path>
                                </g>
                            </g>
                        </svg>
                        {% if testimonial.person_image %}
                            <img class="testimonial__image mb-2" src="{{ Image(testimonial.person_image).src }}"
                                 alt="{{ testimonial.person_image.alt }}" title="{{ testimonial.person_image.title }}">
                        {% endif %}
                        <span class="testimonial__text font__color--violet font__weight--bold font__family--avenir">{{ testimonial.person_name }}</span>
                        <span class="testimonial__text--job font__color--gray-dark font__family--avenir">{{ testimonial.person_job }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
