<div class="layout {{ layout.acf_fc_layout }}">
    <div class="container lets-talk mt-0">
        <div class="row">
            <div class="col-12">
                <div class="box box__paddings box__paddings--5 box__bg--dark box__radius--all box__radius--top box__rounded box__rounded--dark text-left d-flex flex-column">
                    {#                    {% if layout.title %}#}
                    <h4 class=" form__title font__family--sectra font__weight--bold font__color--white pt-4 pb-lg-3">
                        <span>{{ __('If you', 'mits') }}</span>
                        <span class="typewrite"
                              data-period="2000"
                              data-type='{{ inspired_titles|map(p => p.text)|json_encode }}'>{{ inspired_titles[0].text }}</span>
                    </h4>
                    {#                    {% endif %}#}
                    <div class="mb-0 font__family--avenir font__weight--regular font__color--gray-light lets-talk__desc mw-100">{{ layout.desc }}</div>
                    <div class="mt-4 d-flex justify-content-center">
                        <a class="btn__lottie btn__lottie--paddings btn__lottie--content btn__lottie--yellow btn__lottie--longer-1 btn btn__classic btn__transparent font__family--avenir font__weight--bold font__color--white text-uppercase p-0"
                           title="{{ _e('Website development London', 'mits') }}"
                           href="{{ layout.button.url }}"
                        >
                            {{ layout.button.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
