<section class="layout {{ layout.acf_fc_layout }} result mb-5">
    {% if layou.background %}
        <img src="{{ layout.background }}"
             alt="{{ _e('Website development Berlin', 'mits') }}" {{ _e('Website development Berlin', 'mits') }}
             class="result__bg-decoration">
    {% endif %}
    <div class="container position-relative">
        <div class="animated-svg--center animated-svg--center--bigger">
            <div class="js-parallax-scene position-absolute w-100">
                <svg
                        class="{{ classes }}"
                        data-hover-only="true"
                        data-depth="0.05"
                        data-friction-x="-0.2"
                        data-friction-y="0.3"
                        {#                width="1206px"#}
                        {#                height="796px"#}
                        viewBox="0 0 4200 3500"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#2705C6">
                            <g>
                                <path d="M1719.15472,486.736652 C2000.127,415.22452 2435.88274,116.702558 2658.10739,45.2642257 C2880.33204,-26.1741061 3449.93002,-74.5868599 3805.17108,399.533408 C4160.41211,873.653675 4354.41096,1484.48093 4046.6211,1988.88869 C3738.83124,2493.29645 2873.64483,2987.82501 2140.32591,3122.09161 C1407.007,3256.35819 714.445355,3192.06369 399.09392,2590.47618 C83.7424847,1988.88869 0,1397.51509 0,1076.42636 C0,755.337628 201.42144,410.957636 738.079111,517.583774 C1274.73678,624.209911 1438.18243,558.248783 1719.15472,486.736652 Z">
                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-12 col-lg-8">
                <h6 class="result__title font__family--avenir font__weight--light font__color--gray-light {% if layout.section_number %} case-study-step case-study-step--before {% endif %}"
                    data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">
                    results</h6>
                <div class="result__quot font__family--sectra font__weight--regular font__color--white">
                    {{ layout.about }}
                </div>
                <div>
                    <img src="{{ layout.image.url }}"
                         alt="{{ layout.image.alt }}"
                         title="{{ layout.images.alt }}">
                    <p class="result__person font__family--avenir font__weight--bold font__color--white mb-0">{{ layout.name }}</p>
                    <p class="result__position font__family--sectra font__weight--light font__color--gray-form">{{ layout.position }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
