<section class="layout {{ layout.acf_fc_layout }} position-relative wow fadeInUp" data-wow-duration="1s"
         data-wow-delay="0.3s">
    <div class="project-goals__main-decorations {{ layout.background_minimal ? 'project-goals__main-decorations--min' : '' }}">
        <div class="js-parallax-scene position-absolute w-100">
            <svg
                    class="{{ classes }}"
                    data-hover-only="true"
                    data-depth="0.25"
                    data-friction-x="-0.2"
                    data-friction-y="0.3"
                    {#                width="1206px"#}
                    {#                height="796px"#}
                    viewBox="0 0 4400 3500"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g fill="#EEF2F4">
                        <g>
                            <path d="M1719.15472,486.736652 C2000.127,415.22452 2435.88274,116.702558 2658.10739,45.2642257 C2880.33204,-26.1741061 3449.93002,-74.5868599 3805.17108,399.533408 C4160.41211,873.653675 4354.41096,1484.48093 4046.6211,1988.88869 C3738.83124,2493.29645 2873.64483,2987.82501 2140.32591,3122.09161 C1407.007,3256.35819 714.445355,3192.06369 399.09392,2590.47618 C83.7424847,1988.88869 0,1397.51509 0,1076.42636 C0,755.337628 201.42144,410.957636 738.079111,517.583774 C1274.73678,624.209911 1438.18243,558.248783 1719.15472,486.736652 Z">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="container project-goals">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-8 pt-4">
                <h3 class="project-goals__title font__family--sectra font__weight--bold font__color--gray-dark pb-3 text-center {% if layout.section_number %} case-study-step case-study-step--center {% endif %}"
                    data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">{{ layout.title }}</h3>
                <p class="project-goals__desc font__family--avenir font__weight--regular font__color--gray mb-lg-3 pb-5">{{ layout.desc }}</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-start">
            <div class="col-12 d-flex goal-columns main-slider__slider justify-content-lg-center">
                {% for goal in layout.goals %}
                    <div class="goal-box">
                        <div class="goal-box__ico text-center mb-1">
                            <img class="mw-100" src="{{ goal.ico.url }}"
                                 alt="{{ goal.ico.alt }}"
                                 title="{{ goal.ico.title }}">
                        </div>
                        <h4 class="mb-4 goal-box__title text-center font__family--avenir font__weight--bold font__color--gray-dark">{{ goal.title }}</h4>
                        <ul class="list list-light">
                            {% for single in goal.list %}
                                <li class="list-light__item"
                                    title="{{ single.single }}"
                                >
                                    {{ single.single }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-10 main-slider__navigation d-flex justify-content-between mt-0 mb-5 pb-5 d-lg-none">
                <a href="" class="main-slider__arrow main-slider__prev"><img
                            src="{{ theme.link }}/dist/images/arrow-left.png"
                            alt="{{ _e('Website development Berlin', 'mits') }}"
                            title="{{ _e('Website development Berlin', 'mits') }}"></a>
                <div class="main-slider__dots"></div>
                <a href="" class="main-slider__arrow main-slider__next"><img
                            src="{{ theme.link }}/dist/images/arrow-right.png"
                            alt="{{ _e('Website development London', 'mits') }}"
                            title="{{ _e('Website development London', 'mits') }}"
                            {{ _e('Website development Berlin', 'mits') }}></a>
            </div>
        </div>
    </div>

</section>
