<section class="layout {{ layout.acf_fc_layout }} mt-lg-5 mb-lg-5">
    <div class="container">
        <div class="row texts font__family--avenir font__color--gray wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="col-md-6 pl-lg-0 pr-lg-4 texts__text">
                {{ layout.text_two_columns }}
            </div>
            <div class="col-md-6 pl-lg-4 texts__text text-right d-block">
                <img class="img-fluid image--shadow" src="{{ Image(layout.image_two_columns).src }}"
                     alt="{{ layout.image_two_columns.alt }}" title="{{ layout.title_image_two_columns.title }}"/>
                <p class="image__desc font__family--avenir font__weight--regular font__color--gray-dark">
                    <span>{{ layout.title_image_two_columns }}</span>
                    <img class="image__desc__decorator" src="{{ theme.link }}/dist/images/decorations/cta_line1.svg"
                         alt="{{ _e('Website development London', 'mits') }}"
                         title="{{ _e('Website development London', 'mits') }}">
                </p>
            </div>
        </div>
    </div>
</section>
