<section
        class="layout {{ layout.acf_fc_layout }} solutions {{ layout['padding-bottom'] ? "solutions--padding-smaller" : "" }} {{ layout['padding-bottom'] ? "solutions--margin-smaller" : "" }}"
        style="background-image: url('{{ layout.background }}'); background-size: contain; background-repeat: no-repeat; background-position: top center;">
    {% if layout.background %}
        <img class="solutions__image-decoration" src="{{ layout.background }}"
             alt="{{ _e('Website development London', 'mits') }}"
             title="{{ _e('Website development London', 'mits') }}">
    {% endif %}
    <div class="container wow fadeInUp"
         data-wow-duration="1s" data-wow-delay="0.4s">
        {% if layout.text_center %}
            <div class="row justify-content-center align-items-center mb-5 pb-5">
                <div class="col-12 col-lg-8 pt-4">
                    <h3 class="project-goals__title font__family--sectra font__weight--bold font__color--gray-dark pb-3 text-center {% if layout.section_number %} case-study-step case-study-step--center {% endif %}"
                        data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">{{ layout.title }}</h3>
                    {% if layout.desc_columns %}
                        <p class="project-goals__desc font__family--avenir font__weight--regular font__color--gray mb-lg-3 pb-5 text-center">{{ layout.desc_columns }}</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row mb-5 pb-5">
                <div class="col-12 col-lg-4">
                    <h3 class="solutions__title font__family--sectra font__weight--bold font__color--gray-dark {% if layout.section_number %} case-study-step case-study-step--left {% endif %}"
                        data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">{{ layout.title }}</h3>
                </div>
                {% if layout.desc_columns %}
                    <div class="col-12 col-lg-8">
                        <p class="solutions__column font__family--avenir font__weight--regular font__color--gray">
                            {{ layout.desc_columns }}
                        </p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if layout.video %}
        <div class="container-fluid font__family--avenir">
            <div class="row">
                <div class="col-12 text-center px-lg-0">
                    {% set videoControls = 'autoplay loop' %}
                    {% if layout.video_autoplay %}
                        {% set videoControls = 'loop poster="' ~ layout.video_poster ~ '"' %}
                    {% endif %}
                    <video {{ videoControls }}
                           class="solutions__video {{ layout.video_border_radius ? 'solutions__video--border' : '' }}">
                        <source src="{{ layout.video.url }}" type="{{ layout.video.type }}/{{ layout.video.subtype }}"/>
                    </video>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            {% for img in layout.images %}
                <div class="col-12 text-center px-lg-0 {{ img.image_over ? 'solutions__image-over' : '' }}">
                    <img title="{{ img.image.alt }}"
                         class="mw-100 {{ img.add_space_before ? "pt-3 pt-lg-5 mt-lg-4" : "" }} {{ img.add_space_after ? "pb-3 pb-lg-5 mb-lg-4" : "" }}  wow fadeInUp"
                         data-wow-duration="1s" data-wow-delay="0.3s"
                         src="{{ img.image.url }}" alt="{{ img.image.alt }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>
