{% set class = "header__top__mini" %}
{% if layout.right_image %}
    {% set class = "header__top__mini--2" %}
{% endif %}
<section id="header-top" class="header header__top header__top--image position-relative pb-lg-4 {{ class }}"
         style="background-image: url('{% if layout.background_image.url %}{{ layout.background_image.url }}{% else %}/wp-content/uploads/2019/10/tworzenie-stron-internetowych-lublin.jpg{% endif %}');">
    <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
         style="background-image: url('{{ layout.background_nav_mobile.url }}');">
        <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}">
            <p class="logo_animations">
                <span class="animated_logo"></span>
            </p>
        </a>
        <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line line--blue"></span>
            <span class="line line--short"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "menu.twig" with {'menu': menu.get_items} %}
        </div>
    </nav>
    {% if layout.right_image %}
        <canvas
                class="js-svgCanvas-mask animated-svg__canvas animated-svg__canvas--square header__top__right-image "
                resize
                data-scale="1"
                data-slow-factor="3"
                data-x-axis-inverted="0"
                data-y-axis-inverted="0"
                data-noise-scale="4050"
                data-noise-range="12"
                {#    data-fill-color="#ff0000"#}
                data-svg="M271.282143,85.3539218 C405.292142,-11.9605162 624.059041,-36.0962278 756.594008,65.8988155 C889.128976,167.893859 851.65552,219.249098 1037.66259,199.717443 C1223.66966,180.185788 1312.34231,306.119916 1299.64703,421.802427 C1286.95175,537.484938 1202.90734,637.53977 1072.15654,637.53977 C941.405741,637.53977 787.619721,483.765972 672.496603,620.222135 C557.373485,756.678298 583.535421,981.007188 366.29066,966.904591 C149.045899,952.801995 -17.9123584,799.039528 1.54274789,555.238312 C20.9978541,311.437095 137.272145,182.66836 271.282143,85.3539218 Z"
        >
            <img class="img-fluid" src="{{ layout.right_image.url }}" alt="{{ layout.right_image.alt }}"
                 title="{{ layout.right_image.title }}">
        </canvas>
    {% endif %}
    <div class="header__container-text header__container-text-mobile container container-fluid-xl pt-lg-4 pb-lg-4">
        <div class="row justify-content-center aling-items-center justify-content-lg-start pt-lg-5 pb-lg-5">
            <div class="col-12 col-lg-7 pt-4 pt-lg-0 pl-lg-5">
                <span class="d-block font__family--avenir font__color--white header__top__subtitle pb-2 font__color--gray-light wow fadeInUp"
                      data-wow-duration="1s"
                      data-wow-delay="0.3s">{{ layout.title }}</span>
                <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title wow fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay="0.4s">{{ layout.page_title }}</h1>
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left pl-lg-5">
                {% if layout.text %}
                    <p class="font__family--avenir font__weight--regular font__color--white header__top__desc pt-4 font__color--gray-light pl-lg-5 mb-lg-0 wow fadeInUp"
                       data-wow-duration="1s"
                       data-wow-delay="0.7s" data-wow-offset="-600">{{ layout.text }}</p>
                {% endif %}
                {% if layout.button.url %}
                    <div class="pl-lg-5 mb-lg-0 pt-3 text-left wow fadeInUp" data-wow-duration="1s"
                         data-wow-delay="0.8s" data-wow-offset="-600">
                        <p class="hover_animations">
                            <span class="linkLine2 hover_animations__line"></span>
                            {% if layout.button %}
                                <a href="{{ layout.button.url }}"
                                   target="{{ layout.button.target ? '_blank' : '_self' }}"
                                   class="font__family--avenir font__weight--bold font__color--white d-inline-block d-inline-block pl-2"
                                   title="{{ _e('Website development London', 'mits') }}">{{ layout.button.title }}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if services_cat %}
        <div class="container services-cat position-absolute fixed-bottom">
            <ul class="services-cat__menu d-flex list-unstyled justify-content-md-between">
                {% for cat in services_cat %}
                    <li class="services-cat__link {{ cat.active ? 'active' : '' }}"><a
                                class="font__family--avenir font__weight--bold text-uppercase" href="{{ cat.link }}"
                                title="{{ cat.name }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}
    {% if category_case_studies %}
        <div class="container services-cat position-absolute fixed-bottom">
            <ul class="services-cat__menu d-flex list-unstyled justify-content-md-between">
                {% for cat in category_case_studies %}
                    <li class="services-cat__link checked js-click-work-category" data-id="{{ cat.id }}">
                        <div class="font__family--avenir font__weight--bold text-uppercase d-flex align-items-center"
                             title="{{ cat.name }}">
                            <span class="radio-button__checkmark mr-2"></span> {{ cat.name }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
		{% include '/templates/layouts/partials/line-1.html.twig' %}
    {% endif %}
</section>

