<section class="layout {{ layout.acf_fc_layout }}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 pt-3 text-center">
                <h3 class="case-slider__section-title font__family--sectra font__weight--bold font__color--black {% if layout.section_number %} case-study-step case-study-step--center {% endif %}"
                    data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">
                    {{ layout.title }}</h3>
                <p class="case-slider__section-desc font__family--avenir font__weight--regular font__color--gray">{{ layout.desc }}</p>
            </div>
        </div>
    </div>
    <div class="container case-slider">
        {% for slide in layout.slide %}
            <div class="row d-flex case-slider__container">
                <div class="col-12 {{ post.title == "Labilab" ? "col-md-6" : "col-md-4" }} order-2 order-md-1 mt-5">
                    <h4 class="case-slider__title font__family--avenir font__weight--bold font__color--gray-dark mt-3 mt-lg-0">{{ slide.title }}</h4>
                    <p class="case-slider__desc font__family--avenir font__weight--regular font__color--gray">{{ slide.text }}</p>
                    <div class="case-slider__arrows d-flex justify-content-center justify-content-md-start mt-4">
                        <div class="case-slider__arrow case-slider__prev mr-3" style="transform: rotate(180deg);">
                            <svg class="team-slider__arrow__ico" width="50px" height="50px" viewBox="0 0 50 50"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                        <g id="team" transform="translate(-373.000000, 4265.000000)">
                                            <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                                <circle id="Oval-Copy" class="ico__circle" fill="#1D00EB" cx="25"
                                                        cy="25"
                                                        r="25"></circle>
                                                <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                                      id="Fill-202" fill="#FFFFFF"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="case-slider__arrows case-slider__next">
                            <svg class="team-slider__arrow__ico" width="50px" height="50px" viewBox="0 0 50 50"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                        <g id="team" transform="translate(-373.000000, 4265.000000)">
                                            <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                                <circle id="Oval-Copy" class="ico__circle" fill="#1D00EB" cx="25"
                                                        cy="25"
                                                        r="25"></circle>
                                                <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                                      id="Fill-202" fill="#FFFFFF"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-12 {{ post.title == "Labilab" ? "col-md-6" : "col-md-8" }} order-1 order-md-2 position-relative">
                    <svg class="js-svgCanvas animated-svg__canvas case-slider__dec" width="1206px" height="796px"
                         viewBox="0 0 1206 796"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="bg1" fill="#EEF2F4">
                                <g id="Group" transform="translate(0.000000, 0.000000)">
                                    <circle id="Oval-Copy-5" cx="1155.92609" cy="104" r="50"></circle>
                                    <path d="M70.6327449,98.1366473 C135.374015,60.9857582 159.301266,67.2795466 194.774612,72.7795466 C230.247958,78.2795466 293.875815,157.360478 364.302915,139.570012 C434.730015,121.779547 552.679884,0 685.033784,0 C817.387683,0 958.047284,71.5409159 1029.90878,188.055902 C1101.77028,304.570888 1064.4248,444.105321 940.90624,493.557944 C817.387683,543.010567 677.259856,589.062822 589.57982,663.602128 C501.899783,738.141434 376.929021,870.544842 176.050712,741.912194 C-24.8275966,613.279547 62.9539048,454.519174 76.1849657,429.39936 C89.4160266,404.279547 91.3904795,350.851766 31.0991515,294.435116 C-29.1921766,238.018466 5.89147526,135.287536 70.6327449,98.1366473 Z"
                                          id="Path-2">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <img class="case-sldier__image mw-100" src="{{ slide.image.url }}" alt="{{ slide.image.alt }}"
                         title="{{ slide.image.title }}">
                </div>
            </div>
        {% endfor %}
    </div>
</section>
