<section class="layout {{ layout.acf_fc_layout }}" id="the_need">
    <div class="container need">
        <div class="row">
            <div class="col-12 col-md-5 need-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <img class="mw-100 need-image__image" src="{{ layout.image.image.url }}"
                     alt="{{ layout.image.image.alt }}" title="{{ layout.image.image.title }}">
                <p class="need-image__desc font__family--avenir font__weight--regular font__color--gray-dark">
                    <span class="short-desc">{{ layout.image.short_desc }}</span>
                    <svg class="decoration" xmlns="http://www.w3.org/2000/svg" width="106" height="14"
                         viewBox="0 0 106 14">
                        <g>
                            <path fill="none" stroke="#2eb0ff" stroke-miterlimit="50" stroke-width="2"
                                  d="M47 11c2.761 0 5.263-3.298 5.263-6.059S49.76 1 47 1s-5.55 2.239-5.55 5 2.789 5 5.55 5z"/>
                        </g>
                        <g transform="rotate(-7 53 7.5)">
                            <path fill="none" stroke="#2eb0ff" stroke-linecap="round" stroke-miterlimit="50"
                                  stroke-width="2"
                                  d="M2 0c16.293 0 39.867 13 54.466 13 14.6 0 21.727-6.5 29.23-6.5C93.196 6.5 98.387 13 104 13"/>
                        </g>
                    </svg>
                </p>
            </div>
            <div class="col-12 col-md-6 offset-md-1 d-flex justify-content-center flex-column">
                <div class="need-text wow fadeInUp"  data-wow-duration="1s" data-wow-delay="0.6s">
                    <p class="need-text__title-decoration {% if layout.section_number %} case-study-step case-study-step--right {% endif %}"
                       data-case-study-step="{{ layout.section_number ? layout.section_number : 0 }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="77"
                             height="76"
                             viewBox="0 0 77 76">
                            <g>
                                <g transform="rotate(-119 38.5 38)">
                                    <path fill="#eef2f4"
                                          d="M31.43 75c19.055 0 43.127-21.287 43.127-40.393C74.557 15.5 50.485-3 31.43-3 12.376-3-1 15.5-1 34.607-1 53.713 12.376 75 31.43 75z"/>
                                </g>
                            </g>
                        </svg>
                    </p>
                    <h3 class="need-text__title font__family--sectra font__weight--bold font__color--black">{{ layout.text_section.title }}</h3>
                </div>
                <div class="need-text__desc font__family--avenir font__weight--regular font__color--gray wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">{{ layout.text_section.desc }}</div>
            </div>
        </div>
    </div>
</section>
