<div class="header__top__decoration-line--2">
	<svg xmlns="http://www.w3.org/2000/svg" width="30" height="70" viewBox="0 0 25 70">
		<g>
			<g transform="rotate(68 12.5 35)">
				<g transform="rotate(14 5 35)">
					<path fill="none" stroke="#2eb0ff" stroke-linecap="round" stroke-miterlimit="50"
						  stroke-width="2"
						  d="M-22.44 37.1c10.502-.007 25.69 9.983 35.099 9.977 9.41-.007 14.008-5.011 18.843-5.015 4.835-.003 8.178 4.995 11.795 4.993"/>
				</g>
				<g transform="rotate(14 12.5 35.5)">
					<path fill="none" stroke="#2eb0ff" stroke-linecap="round" stroke-miterlimit="50"
						  stroke-width="2"
						  d="M-18.76 30.58c10.502-.007 25.69 9.983 35.099 9.977 9.41-.007 14.008-5.011 18.843-5.015 4.835-.003 8.178 4.995 11.795 4.993"/>
				</g>
				<g transform="rotate(14 20 35)">
					<path fill="none" stroke="#2eb0ff" stroke-linecap="round" stroke-miterlimit="50"
						  stroke-width="2"
						  d="M-16.53 23.36c10.502-.007 25.69 9.983 35.099 9.977 9.41-.007 14.008-5.011 18.843-5.015 4.835-.003 8.178 4.995 11.795 4.993"/>
				</g>
			</g>
		</g>
	</svg>
</div>
