<div class="header__top__decoration-line">
	<img src="{{ theme.link }}/dist/images/decorations/strony-internetowe-warszawa.svg"
		 title="{{ _e('Website development NY', 'mits') }}"
		 alt="{{ _e("MITS - we create websites in NY", 'mits') }}">
</div>
