<div class="js-parallax-scene position-absolute">
    <svg
        class="{{ classes }} maxh-600"
        data-hover-only="true"
        data-depth="{{ depth }}"
        data-friction-x="{{ frictionX }}"
        data-friction-y="{{ frictionX }}"
        width="1206px"
        height="796px"
        viewBox="0 0 1206 796"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#EEF2F4">
                <g transform="translate(0.000000, 0.000000)">
                    <circle cx="1155.92609" cy="104" r="50"></circle>
                    <path d="M70.6327449,98.1366473 C135.374015,60.9857582 159.301266,67.2795466 194.774612,72.7795466 C230.247958,78.2795466 293.875815,157.360478 364.302915,139.570012 C434.730015,121.779547 552.679884,0 685.033784,0 C817.387683,0 958.047284,71.5409159 1029.90878,188.055902 C1101.77028,304.570888 1064.4248,444.105321 940.90624,493.557944 C817.387683,543.010567 677.259856,589.062822 589.57982,663.602128 C501.899783,738.141434 376.929021,870.544842 176.050712,741.912194 C-24.8275966,613.279547 62.9539048,454.519174 76.1849657,429.39936 C89.4160266,404.279547 91.3904795,350.851766 31.0991515,294.435116 C-29.1921766,238.018466 5.89147526,135.287536 70.6327449,98.1366473 Z">
                    </path>
                </g>
            </g>
        </g>
    </svg>
</div>