{#<canvas#}
{#        class="js-svgCanvas animated-svg__canvas"#}
{#        resize#}
{#        data-scale="0.9"#}
{#        data-slow-factor="1.3"#}
{#        data-x-axis-inverted="0"#}
{#        data-y-axis-inverted="0"#}
{#        data-svg="M979.696823,772.670006 C969.146239,673.288573 697.026777,589.940286 697.026777,489.9999 C697.026777,390.062188 969.146239,306.711226 979.694148,207.332468 C987.423219,134.545464 845.454359,-7.4234264 772.667371,0.305646265 C673.288634,10.8535572 589.940365,282.970404 490,282.973078 C390.06231,282.973078 306.711366,10.8535572 207.332629,0.302971846 C134.545641,-7.4234264 -7.42054474,134.54279 0.305851848,207.329794 C10.8537605,306.708552 282.973223,390.062188 282.973223,489.9999 C282.973223,589.940286 10.8537605,673.288573 0.303177429,772.670006 C-7.42589358,845.45701 134.540292,987.425901 207.32728,979.696828 C306.708692,969.146243 390.059635,697.024047 490,697.024047 C589.943039,697.024047 673.291308,969.143568 772.67272,979.694154 C845.459708,987.423226 987.425894,845.45701 979.696823,772.670006 Z"#}
{#></canvas>#}

<div class="js-parallax-scene position-absolute">
    <svg
            class="{{ classes }} maxh-600"
            data-hover-only="true"
            data-depth="{{ depth }}"
            data-friction-x="{{ frictionX }}"
            data-friction-y="{{ frictionX }}"
            width="1194px"
            height="1052px"
            viewBox="0 0 1194 1052"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#EEF2F4">
                <g>
                    <path d="M979.696823,772.670006 C969.146239,673.288573 697.026777,589.940286 697.026777,489.9999 C697.026777,390.062188 969.146239,306.711226 979.694148,207.332468 C987.423219,134.545464 845.454359,-7.4234264 772.667371,0.305646265 C673.288634,10.8535572 589.940365,282.970404 490,282.973078 C390.06231,282.973078 306.711366,10.8535572 207.332629,0.302971846 C134.545641,-7.4234264 -7.42054474,134.54279 0.305851848,207.329794 C10.8537605,306.708552 282.973223,390.062188 282.973223,489.9999 C282.973223,589.940286 10.8537605,673.288573 0.303177429,772.670006 C-7.42589358,845.45701 134.540292,987.425901 207.32728,979.696828 C306.708692,969.146243 390.059635,697.024047 490,697.024047 C589.943039,697.024047 673.291308,969.143568 772.67272,979.694154 C845.459708,987.423226 987.425894,845.45701 979.696823,772.670006 Z"
                    ></path>
                </g>
            </g>
        </g>
    </svg>
</div>