{#<canvas#}
{#        class="js-svgCanvas animated-svg__canvas"#}
{#        resize#}
{#        data-scale="0.8"#}
{#        data-slow-factor="1"#}
{#        data-x-axis-inverted="1"#}
{#        data-y-axis-inverted="0"#}
{#        data-svg="M242.763778,367.925944 C332.0751,311.728265 515.835803,235.478014 624.805559,103.326994 C733.775314,-28.8240257 884.29023,-15.5224487 965.621358,39.9812023 C1046.95248,95.4848533 1102.998,172.465145 1102.998,233.243765 C1102.998,294.022384 1049.50591,356.86975 1125.96029,422.954539 C1202.41467,489.039327 1218.89689,557.718368 1151.1791,622.225821 C1083.46131,686.733274 1018.69777,705.386657 960.473677,682.910555 C902.249586,660.434453 825.000974,629.722018 727.941029,715.82637 C630.881084,801.930721 541.15156,870.431616 403.0751,826.191996 C264.998641,781.952376 164.980391,694.850057 122.405492,584.273274 C79.8305933,473.696492 153.452456,424.123622 242.763778,367.925944 Z"#}
{#></canvas>#}

<div class="js-parallax-scene position-absolute">
    <svg
        class="{{ classes }} maxh-600"
        data-hover-only="true"
        data-depth="{{ depth }}"
        data-friction-x="{{ frictionX }}"
        data-friction-y="{{ frictionX }}"
        width="1194px"
        height="882px"
        viewBox="0 0 1194 882"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill="#EEF2F4">
                <g>
                    <path d="M242.763778,367.925944 C332.0751,311.728265 515.835803,235.478014 624.805559,103.326994 C733.775314,-28.8240257 884.29023,-15.5224487 965.621358,39.9812023 C1046.95248,95.4848533 1102.998,172.465145 1102.998,233.243765 C1102.998,294.022384 1049.50591,356.86975 1125.96029,422.954539 C1202.41467,489.039327 1218.89689,557.718368 1151.1791,622.225821 C1083.46131,686.733274 1018.69777,705.386657 960.473677,682.910555 C902.249586,660.434453 825.000974,629.722018 727.941029,715.82637 C630.881084,801.930721 541.15156,870.431616 403.0751,826.191996 C264.998641,781.952376 164.980391,694.850057 122.405492,584.273274 C79.8305933,473.696492 153.452456,424.123622 242.763778,367.925944 Z"
                    ></path>
                    <circle cx="41" cy="840.182622" r="41"></circle>
                </g>
            </g>
        </g>
    </svg>
</div>