<svg width="1320px" height="968px" viewBox="0 0 1320 968" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="{{ classes }}">
    <g id="bg_unregularShape_2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M314.84286,933.904832 C441.063835,933.904832 660.280448,841.666937 660.280448,715.445962 C660.280448,589.224987 500.736684,550.200046 374.51571,550.200046 C248.294735,550.200046 163.35401,587.603867 126.440803,711.194065 C89.5275971,834.784263 188.621885,933.904832 314.84286,933.904832 Z" id="Oval" fill="#EEF2F4"></path>
        <path d="M909.035925,912.097384 C1058.98123,912.097384 1255.55581,787.320861 1255.55581,637.375551 C1255.55581,487.430242 1020.53761,515.542192 870.592296,515.542192 C720.646986,515.542192 589,474.101354 589,624.046664 C589,773.991973 759.090615,912.097384 909.035925,912.097384 Z" id="Oval" fill="#EEF2F4"></path>
        <path d="M952.224596,624.736751 C1102.16991,624.736751 1274.7044,544.174062 1274.7044,394.228752 C1274.7044,244.283443 1203.15583,92.8371777 1053.21052,92.8371777 C903.265207,92.8371777 726.732575,224.798015 726.732575,374.743324 C726.732575,524.688634 802.279286,624.736751 952.224596,624.736751 Z" id="Oval" fill="#EEF2F4"></path>
    </g>
</svg>
