<div class="layout lets_talk">
    <div class="container lets-talk">
        <div class="row wow fadeInUp" data-wow-duration="0.5s"
             data-wow-offset="300"
             data-wow-delay="0s">
            <div class="col-12">
                <div class="box box__paddings box__paddings--2-2 box__bg--dark box__radius--all text-center d-flex flex-column align-items-center">
                    <h3 class="font__family--sectra font-weight-bold font__color--white lets-talk__title">{{ __("Let's talk", "mits") }}</h3>
                    <p class="mb-0 font__family--avenir font__weight--regular font__color--gray-light lets-talk__desc">
                        {{ __("We can help to make your idea come true, just drop us a line. If you want to join our team don’t wait. We are always looking for a talents!", "mits") }}
                    </p>
                    <div class="mt-5">
                        <a class="btn btn__lottie btn__lottie--paddings btn__lottie--content btn__lottie--yellow btn__lottie--longer-1 btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
                                {% if current_lang == 'pl' %}
                                    href="/wycen-projekt/"
                                {% else %}
                                    href="/en/get-an-estimate/"
                                {% endif %}
                           title="{{ __("Get an estimate", "mits") }}"
                        >
                            <span class="d-inline-block">{{ __("Get an estimate", "mits") }}</span>
                        </a>
                        <a class="btn btn__lottie btn__lottie--paddings btn__lottie--bg btn__lottie--blue btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
                           data-stroke-color="#2da9f5"
                                {% if current_lang == 'pl' %}
                                    href="/kariera/"
                                {% else %}
                                    href="/en/careers-page/"
                                {% endif %}
                           title="{{ __("I want to join", "mits") }}"
                        >
                            <span class="d-inline-block">{{ __("I want to join", "mits") }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>