{% if posts.pagination.pages is not empty %}
    <div class="pagination-block row">
            {% if pagination.next %}
                <div class="col--12 align-center">
                    <a href="{{ pagination.next.link }}" class="button button--red" title="{{ _e('Website development Dubai', 'mits') }}"> POKAŻ KOLEJNE WPISY </a>
                </div>
            {% endif %}
    </div>
{% endif %}
