@import '~bootstrap/scss/bootstrap';
@import "generic/grid";
@import "~slick-carousel/slick/slick";
@import "~@fortawesome/fontawesome-free/css/all.css";
//font
@import "fonts/fonts";
//custom styles

@import "generic/default_wp";
@import "generic/captcha";
//fonts
@import "fonts/fonts";
//settings
@import "settings/sizes";
@import "settings/colors";
@import "settings/fonts";
//elements
//tools
@import "tools/mixins";
@import "tools/containers";
@import "elements/a";
@import "elements/svg-canvas";
@import "elements/pre";
@import "elements/image";
@import "elements/contact";
//pages
@import "pages/single";
@import "pages/home";
//components
@import "components/animataWow";
@import "components/navigation";
@import "components/header";
@import "components/hamburger";
@import "components/footer";
@import "components/lists";
@import "components/cookies";
@import "components/overlay";
@import "components/preloader";
@import "components/services_cat";
//objects
@import "objects/btn";
@import "objects/boxes";
@import "objects/borders";
@import "objects/sliders";
@import "objects/lists";
@import "objects/forms";
@import "objects/step-box";
@import "objects/titles";
@import "objects/popups";
@import "objects/links";
@import "objects/texts";
@import "objects/paginations";
@import "objects/sidebar";
@import "objects/author";
//layouts
@import "layouts/main-slider";
@import "layouts/contact_form";
@import "layouts/case_studies_list";
@import "layouts/approach";
@import "layouts/brands";
@import "layouts/lets-talk";
@import "layouts/team";
@import "layouts/careers_list";
@import "layouts/benefits_list";
@import "layouts/take-around-slider";
@import "layouts/get_an_setimation";
@import "layouts/case-study-need";
@import "layouts/case-study-goals";
@import "layouts/case-study-solutions";
@import "layouts/case-study-result";
@import "layouts/case-study-slider";
@import "layouts/single_career";
@import "layouts/join_us";
@import "layouts/testimonials_list";

html, body {
  overflow-x: hidden;
  width: 100%;
}
