.cookies {
  background-color: $mainGray3;
  padding-top: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999998;
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
  }
  &.show {
    opacity: 1;
    transform: translateY(0%);
  }
  &__button {
    font-size: calculateSize(13);
    letter-spacing: calculateSize(3);
    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  &__title {
    font-size: calculateSize(18);
    padding-top: 10px;

  }
  &__text {
    font-size: calculateSize(13);
    line-height: calculateSize(23);
    margin-top: 10px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }
}