#footer {
  background-color: $mainWhite;
}

.footer {
  position: relative;
  z-index: 0;

  &__data {
    &--single {
      font-size: calculateSize(18);
      line-height: calculateSize(29);
    }

    &--titles {
      font-size: calculateSize(11);
      line-height: calculateSize(15);
    }
  }

  &__direction {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(2);
    position: relative;
    //&:after {
    //  content: "";
    //  position: absolute;
    //  left: -60px;
    //  top: 50%;
    //  -webkit-transform: translateY(-50%);
    //  -moz-transform: translateY(-50%);
    //  -ms-transform: translateY(-50%);
    //  -o-transform: translateY(-50%);
    //  transform: translateY(-50%);
    //  height: 6px;
    //  width: 42px;
    //  background-image: url("../images/decorations/line-short.svg");
    //  background-size: 100% 100%;
    //  background-position: center;
    //}
  }

  &__contact {
    &--contact {
      font-size: calculateSize(18);
    }

    &--mail {
      font-size: calculateSize(18);
      line-height: calculateSize(49);
    }
  }

  &__copyright {
    font-size: calculateSize(15);
    line-height: calculateSize(49);
    @include media-breakpoint-down(md) {
      line-height: calculateSize(20);
    }
  }

  &__social {
    &--ico {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 48px;
      width: 48px;


      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/btn/social.svg");
        background-size: 100% 100%;
        background-position: center;
      }

      .social__svg {
        &__path {
          transition: all 0.4s ease;
        }
      }
    }
  }

  &__decoration {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    z-index: 0;
    @include media-breakpoint-down(md) {
      top: -200px;
      bottom: auto;
    }
  }

  /* IE */
  .js-dynamic-canvas {
    width: auto !important;
  }
}
