.hamburger {
  -webkit-appearance: none;

  .line {
    width: 26px;
    height: 3px;
    background-color: $white;
    display: block;
    margin: 6px auto auto 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    &--blue {
      background-color: $blueLight;
    }

    &--short {
      width: 13px;
    }

    &--black {
      background-color: $mainBlack;
      border-width: 0 !important;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    .line--black {
      background-color: $mainWhite;
    }
  }
}

.hamburger.is-active .line:nth-child(3) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(-48deg);
  -ms-transform: translateY(6px) rotate(-48deg);
  -o-transform: translateY(6px) rotate(-48deg);
  transform: translateY(6px) rotate(-48deg);
  margin: 0;
  position: relative;
  z-index: 1;
  border: 1px solid $mainBlack;
  box-sizing: content-box;
}

.hamburger.is-active .line:nth-child(2) {
  -webkit-transform: translateY(2px) rotate(44deg);
  -ms-transform: translateY(2px) rotate(44deg);
  -o-transform: translateY(2px) rotate(44deg);
  transform: translateY(2px) rotate(44deg);
  margin: 0;
  position: relative;
  z-index: 0;
}

