.header {
  &__top {
    background-size: cover;
    background-position: top center;
    height: 90vh;
    min-height: 600px;
    &--h-auto {
      min-height: auto;
    }

    @include media-breakpoint-down(md) {
      min-height: 580px;
      height: auto;
      .navbar {
        background-size: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      .navbar {
        background: none !important;
        &--scroll {
          background-color: $mainWhite !important;
        }
      }
    }

    &__down {
      font-size: calculateSize(14);
      letter-spacing: calculateSize(2);
    }

    &__mini {
      height: 80vh;
      min-height: 500px;
      &--2 {
        height: 70vh;
        min-height: 690px;
      }
      &--3 {
        min-height: auto;
        height: auto;

        .header__top__title {
          font-size: 4.5rem;

          @include media-breakpoint-down(md) {
            font-size: calculateSize(42);
          }
        }
      }
      &--4 {
        height: auto;
        min-height: 440px;
      }
    }

    &__case-image {
      @include media-breakpoint-up(xl) {
        max-height: 800px;
      }
      @include media-breakpoint-only(lg) {
        max-height: 700px;
      }
      @include media-breakpoint-up(lg) {
        margin: 0;
        position: absolute;
        left: 0;
        top: -100px;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
        left: 0px !important;
        top: 0px !important;
      }
      position: relative;
      margin-top: -60px;
    }

    &--image {
      margin-bottom: 100px;
      @include media-breakpoint-down(md) {
        margin-bottom: 45px;
      }
    }

    &--mobile-active {
      .navbar {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0 !important;
        opacity: 1 !important;
        z-index: 9999999;
        align-content: flex-start;
        background-size: cover;
        background-position: top center;
        overflow: auto;
      }
    }

    &__subtitle {
      font-size: calculateSize(14);
      line-height: calculateSize(13);
      letter-spacing: calculateSize(4);
    }

    &__title {
      @include media-breakpoint-up(lg) {
        font-size: calculateSize(88);
        line-height: calculateSize(76);
        &--2 {
          font-size: calculateSize(62);
          line-height: calculateSize(60);
        }
      }
      @include media-breakpoint-down(md) {
        font-size: calculateSize(42);
      }
    }

    &__desc {
      //  max-width: 520px;
      font-size: calculateSize(16);
      line-height: calculateSize(34);
      @include media-breakpoint-down(lg) {
        //display: none;
        text-align: left;
      }
      @include media-breakpoint-down(md) {
        //display: none;
      }
      p {
        column-count: 2;
        column-gap: 45px;
        @include media-breakpoint-down(lg) {
          column-count: 1;
          column-gap: 0px;
        }
      }
    }

    &__right-image {
      position: absolute;
      right: -200px;
      top: 50px;
      width: auto;
      z-index: 0;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__decoration-line {
      position: absolute;
      left: 100px;
      bottom: -30px;
      z-index: 10;
      &--2 {
        position: absolute;
        z-index: 10;
        left: auto;
        bottom: -30px;
        right: 100px;
        @include media-breakpoint-down(lg) {
          right: 10px;
        }
      }
      @include media-breakpoint-down(lg) {
        left: 100px;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  &__container-text {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0%, -50%);
    @include media-breakpoint-down(lg) {
      position: relative;
      transform: translate(0, 0);
      top: auto;
      left: auto;
    }
    &-mobile {
      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
      }
    }
  }
  &-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__player {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url('../images/header-bg.jpg'); // IE
      background-image: var(--bg-desktop);
      background-size: cover;
      background-position: center;
      z-index: -1;
      @include media-breakpoint-down(sm) {
        background-image: var(--bg-mobile);
      }
    }
  }
}

.header__top {
  &.labilab {
    .header__top__case-image {
      left: -100px;
      top: -25px;
      @include media-breakpoint-down(sm) {
        left: auto;
        top: auto;
      }
    }
    .animated-svg__canvas--right {
      right: -500px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
