.list {
  list-style-type: none;

  &-light {
    &__item {
      @include avenir(normal, 400);
      font-size: calculateSize(16);
      line-height: calculateSize(24);
      padding-bottom: 20px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: -15px;
        top: 10px;
        height: 4px;
        width: 4px;
        background-color: $blueLight;
        border-radius: 50%;
      }
    }
  }
}