.navbar {
  padding-top: 23px;
  padding-bottom: 23px;
  top: 0px;
  z-index: 9999999;

  &--scroll {
    padding-top: 12px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    transition: top 0.6s;
    top: -110px;
    background-color: $mainWhite !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    z-index: 9999;
    opacity: 1;

    &-down {
      opacity: 0;
      transition: opacity 0.6s;
    }

    @include media-breakpoint-down(md) {
      padding-top: 23px;
      padding-bottom: 23px;
      //  top: 0px !important;
      background-color: $mainGrayDark !important;
    }

    .navigation__item-link {
      color: $mainGrayDark !important;
      @include media-breakpoint-down(md) {
        color: $mainWhite !important;
      }
    }

    img {
      filter: brightness(0%);
      @include media-breakpoint-down(md) {
        filter: none;
      }

      &.flag-img {
        filter: none;
      }
    }
    .navigation__dropdown {
      background: $mainWhite;
    }
  }

  &-collapse {
    justify-content: flex-end;
  }
}

.navigation {
  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }

  &__item {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }

    &--career-count {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      position: absolute;
      right: 2px;
      top: 9px;
      display: flex;
      align-items: center;
      font-size: 12px;
      padding-left: 1px;
      padding-top: 1px;
      justify-content: center;
      @include media-breakpoint-down(lg) {
        right: -14px;
        color: $mainBlack;
      }
    }

    &:hover {
      .navigation__dropdown {
        display: block;
        @include media-breakpoint-down(lg) {
          display: flex;
        }
      }
    }
    &-link {
      font-size: calculateSize(12);
      letter-spacing: calculateSize(1.71);
      padding: 22px 15px 21px;
      display: inline-block;
      @extend .font__family--avenir;
      @include media-breakpoint-down(md) {
        @include sectra(normal, normal);
        font-size: calculateSize(42);
        line-height: calculateSize(80);
        padding: 0;
      }
      @include media-breakpoint-down(sm) {
        font-size: calculateSize(30);
        line-height: calculateSize(35);
        margin-bottom: 25px;
      }

      &--like-button {
        .navigation__item-link {
          &:before {
            display: none;
          }

          @include media-breakpoint-down(md) {
            font-size: calculateSize(13);
            letter-spacing: calculateSize(3);
            font-weight: 700;
            @include avenir();
          }
        }

        padding: 0 15px;
        @include media-breakpoint-down(md) {
          font-size: calculateSize(12);
          line-height: calculateSize(20);
          padding: 0;
        }
      }

      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        height: 2px;
        width: 0;
        background-color: $blueLight;
        z-index: 1;
        transition: all 0.4s ease;
        @include media-breakpoint-down(md) {
          bottom: -10px;
        }
      }

      &:hover {
        @extend .font__color--white;

        &:before {
          width: calc(100% - 30px);
        }

      }

      &.js-button-cta {
        &:before {
          display: none;
          content: none;
        }
      }
    }

    &-btn {
      margin-left: 20px;

      &:hover {
        &:before {
          display: none;
        }
      }

      @include media-breakpoint-down(lg) {
        margin-left: 30px;
        font-weight: bold;
        font-size: calculateSize(13);
        font-family: 'avenir';
      }
      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }

    &--like-button {
      @include media-breakpoint-down(md) {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
  &__dropdown {
    background: none;
    min-width: max-content;
    .navigation__item-link {
      padding: 12px 15px 12px;
    }
    @include media-breakpoint-down(lg) {
      position: static;
      float: none;
      flex-direction: column;
      align-items: center;
      &.show {
        display: flex;
      }
      .navigation__item-link {
        text-align: center;
        padding: 0px 15px;
      }
    }
  }
}

.tool-pagination {

}