.services-cat {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  &__menu {
    border-top: 1px solid rgba(254, 255, 254, 0.15);
    margin-bottom: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__link {
    padding-top: 38px;
    font-size: calculateSize(12);
    line-height: calculateSize(16);
    letter-spacing: 1.71px;
    transition: all 0.3s;
    color: $mainWhite;
    cursor: pointer;
    &:hover {
      color: $blueLight;
    }
    &.active {
      border-top: 2px solid $blueLight;
    }

    &.checked {
      .radio-button__checkmark {
        position: relative;
        background-color: transparent;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-image: url("../images/btn/checked_on.svg");
          background-size: cover;
          background-position: center;
          opacity: 1;
        }
      }
    }

  }

  &__bottom {
    @include media-breakpoint-down(lg) {
      display: none;
    }
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    background: $mainWhite;
    z-index: 9999;
    bottom: -70px;
    transition: bottom 0.6s;
    &__menu {
      padding: 0px 0px 25px;
      margin-bottom: 0;
    }
    .services-cat__link {
      padding-top: 26px;
       color: $mainGray4;
      &:hover {
        color: $blueLight;
      }
    }
  }
}