@mixin transitions($prop: all, $duration: 0.3s, $easing: ease-in-out) {
  -webkit-transition: $prop $duration $easing;
  -moz-transition: $prop $duration $easing;
  -ms-transition: $prop $duration $easing;
  -o-transition: $prop $duration $easing;
  transition: $prop $duration $easing;
}

@mixin animated($ms: $baseAnimationDuration, $ease: ease-in-out) {
  transition: all $ms $ease;
}