.approach {
  position: relative;

  &__title {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(4);
    line-height: calculateSize(13);
  }

  &-box {
    &:first-of-type {
      @include media-breakpoint-down(md) {
        //display: flex;
        .approach-box__text-section {
          left: 1rem;
        }
        .approach-box__image {
          //position: relative;
          //margin-left: 200px;
        }
      }
      @include media-breakpoint-down(sm) {
        .approach-box__image {
          //margin-left: 100px;
          //margin-left: auto;
        }
      }
    }

    &:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;

      //.approach-box__tooltip {
      //  left: auto;
      //  right: 100px;
      //}

      @include media-breakpoint-down(md) {
        .approach-box__text-section {
          right: 1rem;
          left: auto;
        }
        .approach-box__image {
          //position: relative;
          //margin-right: 200px;
        }
      }
      @include media-breakpoint-down(sm) {
        .approach-box__image {
          //margin-right: 100px;
        }

        .approach-box__tooltip {
          left: -80% !important;
        }
      }
    }

    &:nth-of-type(3) {
      margin-left: 100px;
      @include media-breakpoint-down(md) {
        display: flex;
        margin: auto;
        .approach-box__text-section {
          left: 1rem;
        }
        .approach-box__image {
          //position: relative;
          //margin-left: 200px;
        }
      }
      @include media-breakpoint-down(sm) {
        .approach-box__image {
          //margin-left: 100px;
        }
      }
    }

    &__main {
      //flex: 0 0 100%;

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .js-parallax-scene {
        canvas {
          max-height: 500px !important;
          height: 500px !important;
        }

        @include media-breakpoint-down(sm) {
          //flex: 0 0 100%;
          canvas {
            max-height: 320px !important;
            height: 320px !important;
          }
        }
      }
    }

    &__text-section {
      width: 100%;
      max-width: 460px;
      margin-top: 100px;
      @include media-breakpoint-down(lg) {
        margin-top: 0px;
      }
    }

    &__title {
      max-width: 350px;
      font-size: calculateSize(62);
      line-height: calculateSize(60);

      @include media-breakpoint-down(md) {
        font-size: calculateSize(42);
        line-height: calculateSize(38);
      }
    }

    &__image {
      max-width: 500px;
      @include media-breakpoint-down(sm) {
        //margin-bottom: 100px;
        //max-width: 350px;
      }
    }

    &__tooltip {
      min-width: 300px;
      max-width: 331px;
      padding: 30px 40px;
      display: block;
      box-shadow: 0 2px 40px rgba($mainGrayDark, 0.3);
      border-radius: 29px 29px 29px 29px;
      background-color: rgba($mainGray, 0.9);

      color: $mainGrayForms;
      font-family: "avenir";
      font-size: calculateSize(16);
      font-weight: 400;
      line-height: calculateSize(34);
      position: absolute;
      z-index: -1;
      opacity: 0;
      bottom: 200px;
      left: -90px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;

      @include media-breakpoint-down(sm) {
        left: 0% !important;
        //transform: translateX(-50%) !important;
        //top: -100px;
        //width: 100%;
      }

      &:after {
        content: "";
        position: absolute;

        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba($mainGray, 0.9);
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      &--active {
        opacity: 1;
        z-index: 10;
      }

      &-bg {
        position: absolute;
        //left: -260px;
        //bottom: -240px;
        left: 0px;
        bottom: 0px;
        z-index: -1;
        width: 111px;
        height: auto;
      }

      &--btn-circle {
        display: flex;
        width: 26px;
        height: 26px;
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.7);
        position: absolute;
        left: 56px;
        top: 44px;
        transform: translateX(-50%) translateY(-50%);
        justify-content: center;
        align-items: center;
        @include animated(300ms);


        span {
          color: white;
          position: absolute;
          font-weight: bold;
          font-size: 16px;
          width: 100%;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: center center;
          @include animated(300ms);

          &:nth-of-type(1) {
            opacity: 1;
          }

          &:nth-of-type(2) {
            opacity: 0;
            //margin-top: -2px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__item-image {
    position: absolute;
    right: 0px;
    top: 100px;
    max-height: 90vh;
    width: auto;
    @include media-breakpoint-down(md) {
      max-height: none;
      width: 75%;
    }
    @include media-breakpoint-down(xs) {
      left: -100px;
      max-height: none;
      top: 90px;
      width: 160%;
    }
  }
}


.tooltipster-sidetip {
  &.tooltipster-borderless {
    .tooltipster-box {
      border: none;
      //background:#1b1b1b;
      //background:rgba(10,10,10,.9)
      padding: 30px;
      display: block;
      box-shadow: 0 2px 40px rgba($mainGrayDark, 0.3);
      border-radius: 29px 29px 29px 29px;
      background-color: rgba($mainGray, 0.9);
    }

    .tooltipster-content {
      color: $mainGrayForms;
      font-family: "avenir";
      font-size: calculateSize(16);
      font-weight: 400;
      line-height: 1.5rem !important;
    }

    &.tooltipster-bottom .tooltipster-box {
      margin-top: 8px
    }

    &.tooltipster-left .tooltipster-box {
      margin-right: 8px
    }

    &.tooltipster-right .tooltipster-box {
      margin-left: 8px
    }

    &.tooltipster-top .tooltipster-box {
      margin-bottom: 8px
    }

    .tooltipster-arrow {
      height: 8px;
      margin-left: -8px;
      width: 16px
    }

    &.tooltipster-left .tooltipster-arrow,
    &.tooltipster-right .tooltipster-arrow {
      height: 16px;
      margin-left: 0;
      margin-top: -8px;
      width: 8px
    }

    .tooltipster-arrow-background {
      display: none
    }

    .tooltipster-arrow-border {
      border: 8px solid transparent
    }

    &.tooltipster-bottom .tooltipster-arrow-border {
      //border-bottom-color:#1b1b1b;
      border-bottom-color: rgba($mainGray, 0.9);
    }

    &.tooltipster-left .tooltipster-arrow-border {
      //border-left-color:#1b1b1b;
      border-left-color: rgba($mainGray, 0.9)
    }

    &.tooltipster-right .tooltipster-arrow-border {
      //border-right-color:#1b1b1b;
      border-right-color: rgba($mainGray, 0.9)
    }

    &.tooltipster-top .tooltipster-arrow-border {
      //border-top-color:#1b1b1b;
      border-top-color: rgba($mainGray, 0.9)
    }

    &.tooltipster-bottom .tooltipster-arrow-uncropped {
      top: -8px
    }

    &.tooltipster-right .tooltipster-arrow-uncropped {
      left: -8px
    }
  }
}

.approach__tooltip--btn-circle__appear {
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;

  span {
    &:nth-of-type(1) {
      opacity: 0;
      transform-origin: center center;
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }

    &:nth-of-type(2) {
      opacity: 1;
      transform-origin: center center;
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
}