.benefits_list {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .benefit_item {
    &__name {
      max-width: 175px;
      text-align: center;
      font-size: calculateSize(18);
      line-height: calculateSize(22);

      &--nth-size {
        min-height: 80px;
        max-width: 195px;
      }
    }
  }
}

.animated_icon {
  svg {
    max-width: 90px;
    height: auto !important;
  }
}
