.brands {
  &-container {
    padding: 130px 15px 150px;
  }

  &__titles {
    padding: 0 0 40px;
  }

  &__title {
    font-size: calculateSize(48);
    line-height: calculateSize(48);
  }

  &__subtitle {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(4);
    line-height: calculateSize(13);
  }

  &__images {

  }
}
