.careers_list {
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  @include media-breakpoint-down(md) {
    padding-bottom: 100px;
  }
  &__background {
    position: absolute;
    left: -340px;
    bottom: -130px;
    z-index: 2;
    width: 75vw;
    height: auto;
  }
  &__dec {
    position: absolute;
    top: -50px;
    left: 50%;
    z-index: -1;
  //  transform: translate(-50%, 0);
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
.career_box {
  background-color: $mainWhite;
  padding: 52px 35px 58px;
  border-radius: 3px;
  box-shadow: 0 2px 40px 0 rgba(34,32,52,0.15);
  height: 100%;
  display: flex;
  z-index: 3;
  position: relative;
  @include animated(300ms);

  &--padding {
    padding: 30px 35px;
  }
  &__title {
    font-size: calculateSize(34);
    line-height: calculateSize(36);
    &--2 {
      font-size: calculateSize(26);
      letter-spacing: -0.76px;
      line-height:  calculateSize(34);
    }
  }
  &__text {
    //padding-left: 8px;
    font-size: calculateSize(13);
    //line-height: calculateSize(28);
  }
  &__salary {
    font-size: calculateSize(16);
    line-height: calculateSize(28);
  }

  &:hover {
    box-shadow: 0 2px 40px 0 rgba(34,32,52,0.3);
  }
}
.hover_animations {
  //transform: translate(25px, 0px);
  .btn {
    transition: all .5s ease;
    transition-delay: 0.38s;
    transform: translateX(0);
  }
  &:not(:hover) {
    .btn {
      transform: translateX(-25px);
    }
  }
}