.result {
  position: relative;

  &__title {
    font-size: calculateSize(14);
    line-height: calculateSize(13);
    letter-spacing: calculateSize(4);
    text-transform: uppercase;
    margin-bottom: 56px;
    display: inline-block;
    position: relative;
  }

  &__quot {
    font-size: calculateSize(30);
    line-height: calculateSize(36);
  }

  &__person {
    font-size: calculateSize(16);
    line-height: calculateSize(22);
  }

  &__position {
    font-size: calculateSize(14);
    line-height: calculateSize(19);
    opacity: 0.5;
    margin-bottom: 120px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 80px;
    }
  }

  &__bg-decoration {
    position: absolute;
    top: -800px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}