.project-goals {
  padding-bottom: 100px;

  &__title {
    font-size: calculateSize(48);
    line-height: calculateSize(60);
  }

  &__desc {
    font-size: calculateSize(18);
    line-height: calculateSize(34);
  }

  .goal-columns {
    .goal-box {
      flex: 0 0 (100%/3);
      max-width: calc(100% / 3);
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &__ico {
        height: 80px;
        @include media-breakpoint-down(md) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__title {
        font-size: calculateSize(26);
        line-height: calculateSize(34);
        letter-spacing: calculateSize(-0.76);
      }
    }
  }

  &__main-decorations {
    max-width: 1600px;
    min-height: 1200px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -200px;
    width: 75%;
    &--min {
      width: 64%;
    }
    @include media-breakpoint-down(md) {
      min-width: 1488px;
      height: 1550px;
      top: -50px;
      //left: -300px;
      //transform: none;
      width: 100%;
    }
  }
}