.need {
  padding: 100px 15px 250px;
  @include media-breakpoint-down(md) {
    padding: 100px 15px 100px;
  }

  &-image {
    position: relative;

    &__desc {
      @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 30px;
        left: -180px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 5px;
      }

      .short-desc {
        font-size: calculateSize(10);
        line-height: calculateSize(20);
        letter-spacing: calculateSize(1.54);
      }

      .decoration {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }

  &-text {
    position: relative;
    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }

    &__title {
      font-size: calculateSize(48);
      line-height: calculateSize(60);
      padding-bottom: 60px;

      &-decoration {
        position: absolute;
        z-index: -1;
        top: -10px;
        left: -40px;
      }
    }

    &__desc {
      font-size: calculateSize(18);
      line-height: calculateSize(34);
    }
  }
}