.layout {
  &.case_studies_list {
    @include media-breakpoint-up(md) {
      padding-bottom: 150px;
    }
  }
}

.case-studies-list {
  position: relative;

  &__title {
    font-size: calculateSize(14);
    letter-spacing: calculateSize(4);
    line-height: calculateSize(13);
  }

  &__single {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: contain;
    padding-bottom: 200px;


    &__title {
      font-size: calculateSize(62);
      line-height: calculateSize(62);
      @include media-breakpoint-down(md) {
        font-size: calculateSize(42);
        line-height: calculateSize(38);
      }
    }

    &__btn {
      font-size: calculateSize(14);
      letter-spacing: calculateSize(2);
    }
  }

  .top-img {
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 500px;
    }
    @include media-breakpoint-up(lg) {
      //position: absolute;
    }

    &.mw-325 {
      max-width: 325px;
    }

    &--left {
      margin-left: -400px;
      @include media-breakpoint-down(sm) {
        margin-left: -150px;
      }
    }

    &--right {
      margin-right: -200px;
      @include media-breakpoint-down(sm) {
        margin-right: -150px;
      }
    }

    &--center {
      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }

  &__col {
    @extend .container;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  &__row {
    padding: 100px 0;
    @include media-breakpoint-up(lg) {
      min-height: 800px;
    }
    @include media-breakpoint-down(md) {
      padding: 40px 0;
    }
  }

  &__decorations {
    position: absolute;
    top: -100px;
    max-width: 1000px;

    &--odd {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &--even {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &__even {
    @include media-breakpoint-up(lg) {
      .col {
        &-with-img {
          order: 1;
          width: 100%;
          transform: translate3d(0);

          .top-img {
            //position: absolute !important;
            //top: -150px !important;
            //right: -20px !important;
            //left: auto !important;
          }
        }

        &-with-info {
          order: 2;
        }
      }
      .animated-svg__canvas {
        left: calc(50% - 300px);
      }
    }
  }

  &__odd {
    @include media-breakpoint-up(lg) {
      .col {
        &-with-img {
          order: 2;

          .top-img {
            position: absolute !important;
            top: -150px !important;
            right: 50px !important;
          }

        }

        &-with-info {
          order: 1;
        }
      }
      .animated-svg__canvas {
        left: calc(50% + 300px);
      }
    }
  }

  .col {
    &-with-img {
      flex: 0 0 50%;
      max-width: 50%;
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &-with-info {
      position: relative;
      z-index: 1;
      flex: 0 0 50%;
      max-width: 50%;
      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

}

.casestudy-logo {
	max-height: 100px;
}
