.solutions {
  padding: 50px 0 50px;
  margin-top: 0px;
  position: relative;

  &--padding-smaller {
    padding: 200px 0 50px;
  }

  &--margin-smaller {
    @include media-breakpoint-down(md) {
      margin-bottom: 50px !important;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0;
    margin: 0;
    margin-bottom: 200px;
    background: none;
  }

  &__image-decoration {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    font-size: calculateSize(48);
    line-height: calculateSize(60);
  }

  &__column {
    font-size: calculateSize(18);
    line-height: calculateSize(34);
    column-count: 2;
    column-gap: 45px;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      column-count: 1;
      column-gap: 0px;
    }
  }

  &__image {
    &-over {
      margin-bottom: -150px;
      z-index: 1;
      @include media-breakpoint-down(md) {
        margin-bottom: 0px;
      }
    }
  }

  &__video {
    max-width: 100%;
    max-height: 700px;
    cursor: pointer;
    &--border {
      border-radius: 30px;
    }
    @include media-breakpoint-down(md) {
      max-height: 500px;
    }
    @include media-breakpoint-down(sm) {
      max-height: 400px;
    }
  }
}
