.case-slider {
  padding: 0 0 50px;

  &__section {
    &-title {
      font-size: calculateSize(48);
      line-height: calculateSize(60);
    }

    &-desc {
      font-size: calculateSize(18);
      line-height: calculateSize(34);
    }
  }

  &__title {
    font-size: calculateSize(26);
    line-height: calculateSize(34);
    letter-spacing: calculateSize(-0.76);
  }

  &__desc {
    font-size: calculateSize(18);
    line-height: calculateSize(34);
  }

  &__dec {
    z-index: -1;
    top: -250px;
    left: 80px;
    @include media-breakpoint-down(sm) {
      left: 40px;
      top: -200px;
    }
    transform: none;
    min-height: auto;
  }

  &__container {
    padding-top: 100px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }

  .slick-slide {
    height: auto;
  }
}
