.get_an_estimate {
  @include media-breakpoint-down(dm) {
    margin-top: 225px;
  }
}

.estimate {
  &__box-title {
    position: relative;
    @include media-breakpoint-down(md) {
      margin-right: 20px;
      margin-bottom: 100px;
    }

    .title {
      font-size: calculateSize(34);
      line-height: calculateSize(32);
      max-width: 220px;
      padding-top: 45px;
    }

    .bg-img {
      position: absolute;
      top: 0;
      left: -60px;
      z-index: -1;
    }
  }

  &-thanks {
    &__title {
      font-size: calculateSize(62);
      line-height: calculateSize(60);
    }

    &__desc {
      font-size: calculateSize(16);
      line-height: calculateSize(34);
    }
  }

  &-send {
    min-width: 200px;
    display: inline;
    text-align: center;
  }
}
