.join_us {
  padding: 200px 0px 100px;
  margin-top: -90px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  &__title {
    font-size: calculateSize(62);
    line-height: calculateSize(60);

  }
}