.lets-talk {
  position: relative;
  margin-top: -140px;
  margin-bottom: 80px;
  z-index: 1;

  &__title {
    font-size: calculateSize(48);
    padding: 0 0 15px 0;

	  @include media-breakpoint-down(md) {
		  font-size: calculateSize(40);
	  }
  }

  &__desc {
    font-size: calculateSize(16);
    line-height: calculateSize(34);
    max-width: 550px;
  }

  &__button {
    font-size: calculateSize(13);
    letter-spacing: calculateSize(3);
  }
}

.single-case_studies .lets-talk {
	margin-top: 0;
}
