.main-slider {
  @include media-breakpoint-up(lg) {
    padding-bottom: 180px;
  }
  &__title {
    font-size: calculateSize(42);
    line-height: calculateSize(38);
  }
  &__subtitle {
    font-size: calculateSize(14);
    line-height: calculateSize(38);
    letter-spacing: calculateSize(2.33);
  }
}
