.single_career {
  @include media-breakpoint-down(lg) {
    max-width: 90%;
    margin: auto;
  }
}
.career-container {
  font-size: calculateSize(18);
  box-shadow: 0 2px 40px rgba(34, 32, 52, 0.15);
  border-radius: 30px;
  background-color: #ffffff;
  margin-top: -180px;
  padding: 100px 95px 120px;
  z-index: 2;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 40px 25px 60px;
    margin-top: -150px;
  }
  &:before {
    content: url("../images/lines_career.png");
    display: block;
    position: absolute;
    top: -40px;
    right: 6%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .list-item {
    font-size:  calculateSize(18);
  }
  .list__nice-to-have {
    .list-item {
      padding: 6px 0px;
    }
  }
  .offer__item {
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    @include media-breakpoint-down(lg) {
      margin-top: 30px;
      margin-right: auto;
    }
    &__title {
      font-size: calculateSize(14);
      letter-spacing: calculateSize(4);
      line-height: calculateSize(13);
      text-transform: uppercase;
    }
  }
}