.take_a_look_around {
  padding: 200px 0px 100px;
  margin-bottom: 50px;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 100px 0px;
  }
  &__background {
    position: absolute;
    right: 0px;
    top: -20vh;
    width: 120vw;
    height: auto;
    min-width: 1600px;
    @include media-breakpoint-down(lg) {
      top: 0px;
    }

   // z-index: 0;
    //width: 80vw;
  }
  &__title {
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 40px rgba(34, 32, 52, 0.15);
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
    z-index: 9;
    @include animated(300ms);

    &:hover {
      box-shadow: 0 2px 40px rgba(34, 32, 52, 0.3);
    }

    @include media-breakpoint-down(lg) {
      padding: 30px 15px;
      width: 80%;
      max-width: 330px;
    }
    &__text {
      font-size: calculateSize(14);
      letter-spacing: calculateSize(4);
    }
  }
  .take-around-slider {
    .slick-slide {
      @include media-breakpoint-down(lg) {
        width: 1720px;
      }
      .slide {
        //  display: none !important;
        @include media-breakpoint-down(lg) {
          width: 1720px;
        }
      }
      &.slick-current {
        .slide {
          display: inline-block !important;
        }
      }
    }
    .slide {
      height: 850px;
      position: relative;
      @include media-breakpoint-down(lg) {
        height: 750px;
      }
      &__item {
        position: absolute;
        &--1 {
          left: 2%;
          bottom: 80px;

        }
        &--2 {
          left: 25%;
          top: 0;
        }
        &--3 {
          left: 50%;
          transform: translate(-50%, 0%);
          bottom: 0;
        }
        &--4 {
          right: 8%;
          top: 50%;
          transform: translate(0%, -50%);
        }
        &__image {
          max-width: 512px;
          height: auto;
        }
        &__title {
          position: absolute;
          bottom: 35px;
          display: flex;
          font-size: calculateSize(10);
          letter-spacing: calculateSize(1.5);
          flex-direction: row-reverse;
          &__decorator {
            margin-left: 10px;
          }
         /* &:after {
            content: url("../images/decorations/cta_line1.svg");
            margin-left: 10px;
          } */
        }
      }
    }
  }

}