.team {
  &-slider {
    &__title {
      font-size: calculateSize(48);
      line-height: calculateSize(60);
    }

    &__subtitle {
      font-size: calculateSize(14);
      line-height: calculateSize(13);
      letter-spacing: calculateSize(4);
    }

    &__slides {
      //padding-bottom: 150px;
      .slick-list {
        @include media-breakpoint-up(md) {
          overflow: visible !important;
        }
      }

      .slick-slide {
        opacity: 0.4;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        transition: all 0.8s ease;
        @include media-breakpoint-down(sm) {
          opacity: 0.1;
        }

        &.slick-current {
          opacity: 1;
        }

        img {
          width: 80%;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }

          @include media-breakpoint-down(sm) {
            width: 60%;
            //clip-path: none !important;
          }

          @include media-breakpoint-down(xs) {
            //width: 40%;
            //clip-path: none !important;
          }
        }
      }
    }

    &__arrow {
      position: absolute;
      top: 50%;

      &--higher {
        top: calc(50% - 80px);
      }

      &__ico {
        .ico__circle {
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }

        &:hover {
          cursor: pointer;

          .ico__circle {
            fill: #2EB0FF;
          }
        }
      }
    }

    &__prev {
      transform: translateY(-50%) rotate(180deg);
      left: -100px;
      @include media-breakpoint-down(md) {
        left: 10px;
      }
    }

    &__next {
      transform: translateY(-50%);
      right: -100px;
      @include media-breakpoint-down(md) {
        right: 10px;
      }
    }

    &__single {
      &__image {
        @include media-breakpoint-down(md) {
          max-width: 100%;
          height: auto;
          margin-right: -20px;
          position: absolute;
          top: 0;
        }
      }

      &__decoration-mask {
        position: absolute;
        z-index: -1;
        left: 55px;
        top: 0;
        height: 600px;
        @include media-breakpoint-down(md) {
          height: auto;
          max-width: 100%;
          left: 0px;
          top: 20px;
        }
      }
    }

    &__data {
      @include media-breakpoint-up(xl) {
        position: absolute;
        left: 50px;
        top: 130px;
      }
      @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0px;
        top: 150px;
      }
      @include media-breakpoint-down(md) {
        text-align: center;
        margin-top: 20px;
      }

      .name {
        font-size: calculateSize(18);
        line-height: calculateSize(25);
        letter-spacing: calculateSize(1.5);
      }

      .position {
        font-size: calculateSize(18);
        line-height: calculateSize(28);
      }
    }

    &__social {
      min-height: 48px;
      @include media-breakpoint-up(lg) {
        position: absolute;
        left: 500px;
        bottom: 40px;
      }
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }

      .social-link {
        padding: 8.5px 10px;
        margin: 5px;
        display: inline-block;
        line-height: 1;
        letter-spacing: -1px;

        &:hover {
          svg {
            g, path {
              fill: #444444;
            }
          }
        }

        &:hover, &:focus, &:active {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .single-box {
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      &:hover, &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.bgSvgMask {
  //max-width: 100%;
  //width: 100%;
  //display: none;
  @include media-breakpoint-down(sm) {
    clipPath {
      transform: scale(0.5);
      path {
        transform: translateX(0px);
      }
    }
  }
  @include media-breakpoint-down(xs) {
    clipPath {
      transform: scale(0.3);
      path {
        transform: translateX(0px);
      }
    }
  }
}

.bgSvgWrapper {
  width: 100%;
  min-height: 600px;
  max-height: 620px;
  display: flex;
  justify-content: center;
  position: relative;
  //top: 0;
  //left: 0;
  @include media-breakpoint-down(sm) {
    min-height: 305px
  }
  @include media-breakpoint-down(xs) {
    min-height: 170px
  }

}

.bgSvg {
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  //height: 100%;

  img {
    //width: 100%;
  }

  @include media-breakpoint-down(md) {
    //width: 100%;
    //left: 0;
  }

  @include media-breakpoint-down(sm) {
    g {
      transform: scale(0.8);

      path {
        transform: translateX(40%);
      }
    }
  }


  @include media-breakpoint-down(sm) {
    g {
      transform: scale(0.5);
    }
  }

}