.testimonials_list {

  background-color: #EEF2F4;
  padding: 90px 0px;

  .testimonials-columns {
    .testimonials-box {
      flex: 0 0 (100%/3);
      max-width: calc(100% / 3);
      @include media-breakpoint-down(md) {
        flex: 0 0 97%;
        max-width: 97%;
      }
      &:nth-child(even) {
        margin-top: 140px;
        @include media-breakpoint-down(md) {
          margin-top: 0px;
        }
      }
    }
  }


  .testimonial {
    &__quote {
      background-image: url('../images/testimonials/backgroud-testimonial.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 187px;
      width: 362px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;
      margin-bottom: 5px;
      @include media-breakpoint-down(md) {
        max-width: 100%;
        background-size: contain;
        background-position: center;
        padding: 20px;
      }
      &__star {
        width: 20px;
        height:20px;
        &--half {
          position: relative;
          content:"t";
          color: transparent;
          font-size: 0;
          &::after {
            content: '';
            background: #fff;
            position: absolute;
            width: 8px;
            height: 20px;
            right: 0px;
          }
        }
      }
      &--dec {
        @include media-breakpoint-down(md) {
          display: none;
        }
        &-left {
          left: -23px;
          top: 100px;
        }
        &-right {
          right: 8px;
          top: 0px;
        }
      }
      &__text {
        color: $mainGrayText2;
        font-size:calculateSize(15);
        letter-spacing: 0;
        line-height: calculateSize(25);
        text-align: center;
        @include media-breakpoint-down(md) {
          font-size:calculateSize(13);
          line-height: calculateSize(18);
        }
      }



    }
    &__text {
      font-size:calculateSize(15);
      letter-spacing: 0;
      line-height: calculateSize(25);
    }
    &__text--job {
      color: $mainGrayText2;
      font-size:calculateSize(13);
      letter-spacing: 0;
      line-height: calculateSize(18);
    }
    &__image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-top: 10px;
    }

  }

}