@mixin Embedavenir( $path, $weight: normal, $style: normal ) {
  @font-face {
    $f: "#{$path}.";
    $name: avenir;
    font-family: 'avenir';
    src: url("#{$f}eot");
    src: url("#{$f}eot?#iefix") format('embedded-opentype'),
    url("#{$f}woff") format('woff'),
    url("#{$f}ttf") format('truetype'),
    url("#{$f}svg") format('svg');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include Embedavenir("fonts/avenir/avenir-400", 400, normal);
@include Embedavenir("fonts/avenir/avenir-700", 700, normal);


@mixin avenir( $weight: normal, $style: normal ) {
  font-family: "avenir";
  font-weight: $weight;
  font-style: $style;
}


@mixin Embedsectra( $path, $weight: normal, $style: normal ) {
  @font-face {
    $f: "#{$path}.";
    $name: sectra;
    font-family: 'sectra';
    src: url("#{$f}eot");
    src: url("#{$f}eot?#iefix") format('embedded-opentype'),
    url("#{$f}woff") format('woff'),
    url("#{$f}ttf") format('truetype'),
    url("#{$f}svg") format('svg');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include Embedsectra("fonts/sectra/sectra-400", 400, normal);
@include Embedsectra("fonts/sectra/sectra-700", 700, normal);


@mixin sectra( $weight: normal, $style: normal ) {
  font-family: "sectra";
  font-weight: $weight;
  font-style: $style;
}
