a{
  color: inherit;
  text-decoration: none;
  &:hover{
    color: inherit;
    text-decoration: none;
  }

  &:active, &:focus, &.btn:focus, &.btn:active {
    outline: none;
    box-shadow: none;
  }
  &.hover--blue {
    transition: all 0.3s;
    &:hover {
      color: $blueLight;
    }
  }
}
