.overlayed-header {
    position: relative;
    z-index: 9999;

    .contact-info {
        position: absolute;
        top: 90%;
        width: 100%;

        @include media-breakpoint-down(lg) {
            position: relative;
            top: auto;
            padding-bottom: 3rem;
        }
    }
}

.map {
    width: 100%;
    height: 1300px;
    position: relative;
    z-index: 5;

    @include media-breakpoint-down(lg) {
        height: 700px;
    }
}

.gm-style-iw div {
    overflow:hidden !important;
}

.contact-form {
    position: relative;
    z-index: 9999;
}

.header__container-text-mobile.contact-header {
    @include media-breakpoint-down(lg) {
        position: relative;
        margin: {
            bottom: 5rem;
        }
        transform: translateY(0);
    }
}