.image {
  &--shadow {
    box-shadow: 0 2px 40px 0 rgba(34,32,52,0.15);
  }
  &__desc {
    margin-top: 10px;
    font-size: calculateSize(10);
    letter-spacing: 1.54px;
    line-height:  calculateSize(22);
    &__decorator {
      margin-left: 10px;
    }
  }
  &--service-list {
    margin-top: -50px;
    margin-bottom: 20px;
    height: 200px;
  	object-fit: contain;
  }
}
