.animated-svg {
  &__canvas {
    width: 100%;
    max-width: 900px;
    height: 900px;
    //min-height: 700px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: -1;
    @include media-breakpoint-down(md) {
      //min-height: 600px;
      max-height: 800px;
    }
    @include media-breakpoint-down(sm) {
      //min-height: 350px;
      max-height: 500px;
    }

    &__header {
      @include media-breakpoint-up(lg) {
        max-width: 1100px;
        min-height: 800px;
        top: -100px;
      }
    }

    &--right {
      left: auto;
      transform: none;
      right: -200px;
      z-index: -1;
      @include media-breakpoint-down(sm) {
        right: 0;
      }
    }

    &--square {
      max-width: 750px;
      //min-height: 750px;
      top: 0;
      left: auto;
      transform: none;

      @include media-breakpoint-down(sm) {
        //min-height: 300px;
        max-width: 100%;
        height: 100%;
        left: 0 !important;
        top: 0;
      }

      &--approach {
        max-width: 500px;
        //min-height: 500px !important;
      }
    }
  }

  &--center {
    max-width: 980px;
    min-height: 1008px;
    width: 100%;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    @include media-breakpoint-down(md) {
      width: 150%;
    }
    @include media-breakpoint-down(sm) {
      max-width: 1600px;
      min-width: 1400px;
      min-height: 1100px;
      top: -300px;
    }

    &--bigger {
      max-width: 1400px;
      min-height: 1100px;
      @include media-breakpoint-down(sm) {
        min-height: 1200px;
      }
    }
  }
}

.js-button-cta {
  position: relative;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }
}

.js-dynamic-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  &:hover {
    cursor: pointer;
  }
}

.approach-box__container {
  .js-svgCanvas-mask {
    width: auto !important;
    //max-height: unset !important;
    max-width: 100%;
    //min-height: 500px;

    @include media-breakpoint-down(sm) {
      //min-height: 300px;
      //height: 300px;
    }
  }
}

.team-slider__single {
  //&:after {
  //  content: "";
  //  display: block;
  //  padding-bottom: 100%;
  //}

  .single-box {

    height: 100%;
    //&:after {
    //  content: "";
    //  display: block;
    //  padding-bottom: 100%;
    //}

    //@include media-breakpoint-down(sm) {
    //  &:after {
    //    display: none;
    //  }
    //}

    canvas {
      height: 100% !important;
    }
  }

  .js-svgCanvas-mask {
    width: 100% !important;
    //max-height: unset !important;
    min-height: 800px;
    max-width: 100%;

    @include media-breakpoint-down(lg) {
      min-height: 600px;
    }
    @include media-breakpoint-down(sm) {
      min-height: 300px;
    }
  }
}