<div class="bgSvgWrapper">
    <svg
            viewBox="0 0 815 815"
            class="bgSvg bgSvg-team"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <g fill="#EEF2F4">
            <path d="M74.3404536,221.115628 C113.126837,197.008624 201.174742,155.500596 257.792505,89.7058561 C314.410268,23.9111159 337.259309,-3.90356616 406.501623,0.437822624 C475.743937,4.77921141 539.616264,42.6623213 561.708637,84.5936107 C583.801009,126.5249 583.841207,159.636266 576.910591,175.575973 C569.979975,191.515679 559.037236,216.942125 583.172028,240.855232 C607.30682,264.768339 645.320569,297.517922 621.691213,345.540398 C598.061856,393.562873 553.215026,404.319397 513.870599,388.684722 C474.526172,373.050048 430.684192,363.452173 370.841228,408.703348 C310.998265,453.954523 300.842246,519.997545 189.652091,497.850788 C78.4619354,475.70403 26.3983742,433.801115 4.99409794,363.140047 C-16.4101784,292.478979 35.55407,245.222631 74.3404536,221.115628 Z"
            ></path>
        </g>
    </svg>
    <img class="{{ classes }}" src="{{ image }}" alt="{{ layout.right_image.alt }}"
         title="{{ layout.right_image.title }}"
         style="-webkit-clip-path: url('#teamClip{{ index }}'); clip-path: url('#teamClip{{ index }}');">
</div>

