
@import '~bootstrap/scss/bootstrap-grid';

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-fluid-xl {
    max-width: map_get($container-max-widths, xl);

    @include media-breakpoint-up(xl) {
        max-width: none;
        width: 100%;
    }
}

.vertical-centered {
    justify-self: center;
    align-items: center;
    flex: 1;
}

.justify-self {
    &-start {
        justify-self: start;
    }
    &-end {
        justify-self: end;
    }
}

.maxh-600 {
    height: 600px;
}
.maxh-700 {
    height: 800px;
}
.maxh-800 {
    height: 800px;
}