$mainWhite: #ffffff;
$mainBlack: #000000;
$blueLight: #2eb0ff;
$mainBlue: #1d00eb;
$mainBlueDark: #06103c;
$mainGray: #222628;
$mainGray2: #1d2124;
$mainGray3: #eef2f4;
$mainGray4: #0B0D0F;
$mainGrayLight: #c9d2d7;
$mainGrayDark: #1d1e1f;
$mainGrayText: #5c5d5e;
$mainGrayText2: #A1A3A4;
$mainGrayLightText: #eef2f4;
$mainGrayForms: #fefffe;
$mainGrayForms2: #e9ecee;
$mainGrayForms3: #f7f5ff;
$mainRed: #ed7373;
$mainError: #ED7373;
$mainYellow: #F2CF24;
$mainYellow2: #FFDF3F;
$mainViolet: #5400EB;

$hover: (
  color-1: #ffdf3f
);

.background {
  &__color {
    &--gray {
      background-color: $mainGray;
    }

    &--blue {
      background-color: $mainBlue;
    }
    &--yellow {
      background-color: $mainYellow2;
    }
  }
}
