body {
  font-family: "avenir", sans-serif;
}

.line-height {
  &__default {
    line-height: 1 !important;
  }
}

.font {
  &__family {
    &--avenir {
      font-family: "avenir";
      font-style: normal;
    }

    &--sectra {
      font-family: "sectra";
      font-style: normal;
    }
  }

  &__weight {
    &--light {
      font-weight: 300;
    }

    &--regular {
      font-weight: 400;
    }

    &--medium {
      font-weight: 500;
    }

    &--semi-bold {
      font-weight: 600;
    }

    &--bold {
      font-weight: 700;
    }

    &--black {
      font-weight: 900;
    }
  }

  &__color {
    &--white {
      color: $mainWhite !important;

      &:hover {
        color: white;
      }
    }

    &--black {
      color: $mainBlack;

      &:hover {
        color: $mainBlack !important;
      }

      &--mobile-white {
        color: $mainBlack;

        &:hover {
          color: $mainBlack !important;
          @include media-breakpoint-down(md) {
            color: $mainWhite;

          }
        }

        @include media-breakpoint-down(md) {
          color: $mainWhite;

        }
      }
    }

    &--red {
      color: $mainRed;
    }

    &--gray {
      color: $mainGrayText;

      &-dark {
        color: $mainGrayDark;
      }
      &-text2 {
        color: $mainGrayText2;
      }

      &-light {
        color: $mainGrayLightText;
      }

      &-form {
        color: $mainGrayForms2;
      }
      &--3 {
        color: $mainGray3;
      }
    }

    &--blue {
      color: $mainBlue;

      &--light {
        color: $blueLight;
      }
    }
    &--violet {
      color: $mainViolet
    }
    &--yellow {
      color: $mainYellow;
    }
  }

  &__lh {
    &--29 {
      line-height: 29px;
    }
    &--34 {
      line-height: 34px;
    }
  }

  &__size {
    &--18 {
      font-size: 1.125rem;
    }
  }
}
