.single-post {
  //word-break: break-all;
  .box__position__to-top--relative--2 {
    @include media-breakpoint-down(lg) {
      margin-top: -120px;
    }
  }
  .single-container {
    margin-bottom: 50px;
  }
  .breadcrumbs {
    padding: 0;
    margin-bottom: 20px;
    &__dec {
      padding-left: 5px;
      padding-right: 5px;
    }
    &__item {
      list-style-type: none;
      &__link {
        transition: all 0.3s;
        &:hover {
          color: $mainBlue;
        }
      }
    }
  }
}
.post {
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
    max-width: 260px;
    display: block;
    opacity: 0;
    transition: all 0.4s;
    &.active {
      opacity: 1;
    }
    @media screen  and (max-width: 1600px) {
      display: none;
    }
    &__mobile {
      display: none;
      @media screen  and (max-width: 1600px) {
        display: flex;
      }
      @include media-breakpoint-down(sm) {
        .post__arrow__img {
          display: none;
        }
      }
    }
    &--left {
      left: 15px;
    }
    &--right {
      right: 15px;

    }
    &__desc {
      max-width: 210px;
    }
    &__title {
      font-size: calculateSize(14);
      font-weight: bold;
      letter-spacing: 3.6px;
      line-height: calculateSize(13);
    }
    &__text {
      font-size: calculateSize(14);
      letter-spacing: 0;
      line-height: calculateSize(21);

    }
    &__img {
      width: 50px;
    }
  }
}
.post__date__text {
  font-size: calculateSize(14);
  letter-spacing: 4.12px;
  line-height: calculateSize(13);
}
.page-404 {
  z-index: 10;
}
.page-404__heading {
  font-size: 300px !important;
  line-height: 1 !important;
}

.breadcrumbs {
  display: inline-block;

  @include media-breakpoint-down(sm) {
    //flex-direction: column;
  }
  & > span {
    font-size: 0.8rem;
    @include media-breakpoint-down(sm) {
      display: inline-block;
      padding: {
        top: 0.5rem;
        bottom: 0.5rem;
      }
    }

    &:not(.current-item) {
      &:after {
        content: "\00bb";
        display: inline-block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    & > a {
      @extend .font__color--blue--light;
      @include animated(300ms);
      position: relative;

      &:after {
        content: '';
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        @include animated(300ms);
        background: $mainBlue;
      }

      &:hover {
        @extend .font__color--blue;

        &:after {
          width: 100%;
        }
      }
    }
  }
}