{% extends "base.twig" %}
{% block content %}
    <section id="header-top" class="header position-relative pb-lg-4"
             style="background-image: url('{{ layout.background_image.url }}');">
        <nav id="navbar" class="navbar navbar-expand-lg"
             style="background-image: url('{{ layout.header_mobile_nav_bg.url }}');">
            <a class="navbar-brand" href="{{ home_url }}"
               title="{{ site_title }}">
                <p class="logo_animations">
                    <span class="animated_logo animated_logo--black"></span>
                </p>
            </a>
            <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                <span class="line line--black"></span>
                <span class="line line--blue"></span>
                <span class="line line--black line--short"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "menu.twig" with {'menu': menu.get_items, 'theme_color': 'dark'} %}
            </div>
        </nav>
    </section>
    <div class="has-background">
    <section class="layout d-flex align-items-center mb-5">
        <div class="container text-center position-relative page-404">
            <p class="font__family--sectra font__weight--bold header__top__title pb-3 page-404__heading">
                404
            </p>
            <h2>{{ __('Page not found', 'mits') }}</h2>
        </div>
    </section>
    </div>
{% endblock %}