{% extends "base.twig" %}
{% block content %}

    {% set desktopBg = header_desktop['header-img-bg']['url'] %}
    {% set mobileBg = header_mobile['header-mobile-bg']['url'] %}
    <section id="header-top"
             class="header header__top header__top--image position-relative pb-lg-4 header__top__mini--2"
             style="background-image: url('{% if desktopBg %}{{ desktopBg }}{% else %}/wp-content/uploads/2019/10/tworzenie-stron-internetowych-lublin.jpg{% endif %}');">
        <nav id="navbar" class="navbar navbar-expand-lg pl-5 pr-4"
             style="background-image: url('{{ header_mobile['header-mobile-nav-bg']['url'] }}');">
            <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}">
                <img src="{{ logo }}" title="{{ _e('Website development London', 'mits') }}"
                     alt="{{ _e('Website development London', 'mits') }}"></a>
            <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line line--blue"></span>
                <span class="line line--short"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </div>
        </nav>
        <div class="container-fluid pb-4 pt-lg-4 pb-lg-5">
            <div class="row justify-content-center aling-items-center justify-content-lg-start pt-5 pb-lg-5">
                <div class="col-10 col-lg-7 pt-lg-5 pl-lg-5">
                    <span class="d-block font__family--avenir font__color--white header__top__subtitle pb-2  font__color--gray-light">{{ __("category", "mits") }}</span>
                    <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title">{{ title }}</h1>
                </div>
                <div class="col-10 col-lg-6 text-center text-lg-left pl-lg-5">
                    <p class="pb-lg-5 pt-3 text-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="106" height="14" viewBox="0 0 106 14">
                            <g>
                                <path fill="none" stroke="#2eb0ff" stroke-miterlimit="50" stroke-width="2"
                                      d="M47 11c2.761 0 5.263-3.298 5.263-6.059S49.76 1 47 1s-5.55 2.239-5.55 5 2.789 5 5.55 5z"/>
                            </g>
                            <g transform="rotate(-7 53 7.5)">
                                <path fill="none" stroke="#2eb0ff" stroke-linecap="round" stroke-miterlimit="50"
                                      stroke-width="2"
                                      d="M2 0c16.293 0 39.867 13 54.466 13 14.6 0 21.727-6.5 29.23-6.5C93.196 6.5 98.387 13 104 13"/>
                            </g>
                        </svg>
                        <a href="#mainPosts"
                           class="font__family--avenir font__weight--bold font__color--white d-inline-block mt-4 pb-lg-5 d-inline-block pl-2"
                           title="{{ __("CHECK POSTS", "mits") }}">{{ __("CHECK POSTS", "mits") }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="layout posts_list">
        <div class="container">
            <div class="row box__margins--1 ">
                <div id="mainPosts" class="col-lg-9 js-load-more-posts pr-lg-5"
                     data-category="{{ term_id }}">
                    {% for post in posts %}
                        {% include ['tease-post.twig', 'tease.twig'] with {'post': post} %}
                    {% endfor %}
                </div>
                <div class="col-lg-3 pl-lg-5 ">
                    <h2 class="font__family--sectra font__weight--bold pb-2">{{ __("Categories", "mits") }}</h2>
                    <ul class="slide__list list list__classic">
                        {% for category in categories %}
                            <li class="list-item font__family--avenir font__weight--regular">
                                <a href="{{ category.link }}" title="{{ category.name }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include "partial/lets-talk.twig" %}
{% endblock %}



