{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
<body class="{{ body_class }}" data-template="base.twig">
{% if not ignore_gtm %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KF78BDR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
{% block content %}
    Sorry, no content
{% endblock %}
{% if sidebar %}
    <aside class="layout-sidebar">
        {{ sidebar }}
    </aside>
{% endif %}
{% block footer %}
    {% if footer.disable == false %}
        <footer id="footerContainer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    {% endif %}
{% endblock %}
<div class="box box__position__fixed box__position__fixed--bottom-right box__error box__radius--all box__bg--red box__paddings--4">
    <svg class="box__close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px"
         height="14px" viewBox="0 0 14 14" version="1.1">
        <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="getAnEstimation" transform="translate(-1375.000000, -2383.000000)" fill="#FFFFFF">
                <path d="M1388.7,2383.3 C1388.3,2382.9 1387.7,2382.9 1387.3,2383.3 L1382,2388.6 L1376.7,2383.3 C1376.3,2382.9 1375.7,2382.9 1375.3,2383.3 C1374.9,2383.7 1374.9,2384.3 1375.3,2384.7 L1380.6,2390 L1375.3,2395.3 C1374.9,2395.7 1374.9,2396.3 1375.3,2396.7 C1375.5,2396.9 1375.7,2397 1376,2397 C1376.3,2397 1376.5,2396.9 1376.7,2396.7 L1382,2391.4 L1387.3,2396.7 C1387.5,2396.9 1387.8,2397 1388,2397 C1388.2,2397 1388.5,2396.9 1388.7,2396.7 C1389.1,2396.3 1389.1,2395.7 1388.7,2395.3 L1383.4,2390 L1388.7,2384.7 C1389.1,2384.3 1389.1,2383.7 1388.7,2383.3"
                      id="icon/close"/>
            </g>
        </g>
    </svg>
    <div class="d-flex align-items-center justify-content-center">
        <img src="{{ theme.link }}/dist/images/sadparrot.gif" title="{{ _e("MITS - we create websites in Lublin") }}"
             alt="{{ _e('Website development Lublin', 'mits') }}" class="pr-2"
             style="max-width:64px; max-height:64px;">
        <div class="">
            <p class="font__family--avenir font__weight--bold font__color--white mb-1 box__error--text-first">Something
                went wrong</p>
            <p class="font__family--avenir font__weight--regular font__color--gray-light mb-1 box__error--text-second">
                Probably Charles broke
                something. <br/> Please try again. Sorry! </p>
        </div>
    </div>
</div>
<section class="cookies container-fluid cookiealert alert" role="alert">
    <div class="container">
        <div class="row  d-flex align-items-center justify-content-between">
            <div class="col-md-2 d-none d-md-block">
                <img src="{{ template_url }}/dist/images/bg_cookies.svg" {{ _e("MITS - we create websites in Lublin") }}
                     alt="{{ _e("MITS - we create websites in Lublin") }}">
            </div>
            <div class="cookies__content col-md-7">
                <span class="cookies__title font__family--avenir font__weight--bold font__color--blue">{{ footer.cookies_title }}</span>
                <p class="cookies__text font__family--avenir font__color--gray ">{{ footer.cookies_text }}</p>
            </div>
            <div class="col">
                <button type="button" id="cookies-accept"
                        class="btn__lottie btn__lottie--longer-1 btn__lottie--paddings btn__lottie--bg btn__lottie--blue cookies__button font__family--avenir font__weight--bold font__color--white js-button-cookies acceptcookies"
                        data-fill-color="#1D00EB" aria-label="Close">{{ __("I'M OK WITH COOKIES", 'mits') }}</button>
            </div>
        </div>
    </div>
</section>
{% if services_cat %}
    <div id="servicesMenu" class="container-fluid services-cat__bottom position-fixed fixed-bottom js-sevices-menu">
        <div class="container">
            <ul class="services-cat__bottom__menu d-flex list-unstyled justify-content-md-between">
                {% for cat in services_cat %}
                    <li class="services-cat__link {{ cat.active ? 'active' : '' }}"><a
                                class="font__family--avenir font__weight--bold text-uppercase" href="{{ cat.link }}"
                                title="{{ cat.name }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
</body>
</html>
