{% if menu %}
    <ul class="dropdown-menu navigation__dropdown">
        {% for item in menu %}
            <li class="{{ item.classes | join(' ') }}">
                <a class="navigation__item-link font__weight--bold
                  {% if theme_color == 'dark' %} font__color--black--mobile-white
                        {% else %} font__color--white
                        {% endif %}
                         font__color--white
                         text-uppercase" href="{{ item.get_link }}"
                   title="{{ item.post_excerpt }}"
                >
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}