<div class="container footer mt-2 pt-sm-5 px-md-0 position-relative">
    <img class="footer__decoration"
         src="{{ theme.link }}/dist/images/decorations/x.svg" title="{{ _e('Website development NY', 'mits') }}"
         alt="{{ _e("MITS - we create websites in NY", 'mits') }}">
    <div class="row pb-5">
        <div class="col-12 col-lg-1 text-center text-lg-left pb-4 order-1">
            <p class="logo_animations">
                <span class="animated_logo animated_logo--black"></span>
            </p>
        </div>
        <div class="col-12 col-lg-3 text-center text-lg-left footer__data order-2">
            {% for single in footer.data %}
                <p class="font__family--avenir font__weight--regular font__color--gray mb-0 footer__data--single">{{ single.text }}</p>
            {% endfor %}
            <div class="pt-4 pb-4 pb-lg-5 mb-2">
                <p class="hover_animations hover_animations__line--directions">
                    <span class="linkLineDirections hover_animations__line"></span>
                    <a href="{{ TimberPost("Kontakt").link }}#map" title="{{ __('Mits on map', 'mits') }}"
                       class="link--location d-inline-block font__family--avenir font__weight--bold font__color--gray-dark footer__direction text-uppercase pl-1 d-inline-block">{{ __("get
                    directions", 'mits') }}</a>
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-2 text-center text-lg-left footer__contact order-3">
            {% for single in footer.contact %}
                <div>
                    <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 footer__contact--title">{{ single.title }}</p>
                    <a class="font__family--avenir font__weight--regular font__color--gray m-0 footer__contact--mail"
						title="{{ _e('Website development NY', 'mits') }}"
                       href="mailto:{{ single.contact }}" rel="nofollow">{{ single.contact }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-sm-4 mt-sm-4 mt-lg-0 text-left footer__contact order-0 order-sm-4">
            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 mb-3 footer__contact--title">{{ __('Latest on our blog', 'mits') }}</p>
            {% if recent_posts|length %}
                {% for post in recent_posts %}
                    <p class="mb-3">
                        <a class="font__family--avenir font__weight--regular font__color--gray m-0 footer__contact--mail line-height__default"
                           href="{{ post.link }}" title="{{ post.post_title }}">{{ post.post_title }}</a>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-12 col-lg-2 text-center d-none d-lg-block order-sm-5">
            <h6 class="font__family--avenir font__weight--regular font__color--gray mb-0 footer__data--titles mb-3">{{ __("DESIGNED AND DEVELOPED IN", 'mits') }}</h6>
			<img class="mw-100"
				 src="{{ theme.link }}/dist/images/decorations/strony-internetowe-lublin.svg" title="{{ _e('Website development NY', 'mits') }}"
				 alt="{{ _e("MITS - we create websites in NY", 'mits') }}">
        </div>
    </div>
    <div class="row pt-4 border__top">
        <div class="col-12 col-lg-3 pt-2 pb-4 py-sm-0 d-flex d-lg-block justify-content-center align-items-start order-3 order-sm-0">
            <p class="font__family--avenir font__weight--regular font__color--gray mb-0 footer__copyright">Copyright (c)
                {{ 'now'|date('Y') }} mits.pl </p>
        </div>
        <div class="col-12 col-lg-2 py-2 pt-3 py-sm-0 d-flex d-lg-block justify-content-center align-items-start order-2 order-sm-1">
            <a class="d-inline-block font__family--avenir font__weight--regular font__color--gray mb-0 footer__copyright"
               title="{{ _e('Privacy policy', 'mits') }}"
               href="/privacy-policy">
                {{ __('Privacy Policy', 'mits') }}
            </a>
        </div>
        <div class="col-12 col-lg-7 pt-sm-4 pb-sm-5 pt-lg-0 d-flex justify-content-center justify-content-lg-end order-1 order-sm-2">
            {% for single in footer.social_media %}
                <a class="footer__social--ico mx-1" rel="nofollow"
                   title="{{ _e('Website development Berlin', 'mits') }}"
                   href="{{ single.link.url }}">
                    {{ function('get_svg__with_hover_color_from_file', single.ico.url, single.hover_color) }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
