<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
        <title>   
{#            {% if wp_title %}#}
{#                {{ wp_title }} - {{ site.name }}#}
{#            {% else %}#}
{#                {{ site.name }}#}
{#            {% endif %}#}
            {{ wp_title }}
        </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <meta name="description" content="{{ site.description }}">#}
{#    <link rel="stylesheet" href="{{ site.theme.link }}/css/style.css" type="text/css" media="screen" />#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">#}
    <link rel="pingback" href="{{ site.pingback_url }}" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/mits_favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/mits_favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/mits_favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/mits_favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/mits_favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/mits_favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/mits_favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/mits_favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/mits_favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.theme.link }}/mits_favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/mits_favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/mits_favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/mits_favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/mits_favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.theme.link }}/mits_favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if not ignore_gtm %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-KF78BDR');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    {{function('wp_head')}}
