{% extends "base.twig" %}
{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

        </article>
    </div><!-- /content-wrapper -->
{% endblock %}



