{% if menu %}
    <ul class="navigation navbar-nav" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        {% for item in menu %}
            <li class="navigation__item nav-item {{ item.classes | join(' ') }}
            {% if (item.children | length) > 0 %} dropdown{% endif %}
                {% if(function('get_field', 'nav_item_display_like_button', item)) %}
                                navigation__item--like-button
                         {% endif %}">
                {% if ((item.children | length) > 0) %}
                    <a class="navigation__item-link dropdown-toggle font__weight--bold font__color--white
                        {% if theme_color == 'dark' %} font__color--black--mobile-white
                        {% else %} font__color--white
                        {% endif %} text-uppercase"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                       title="{{ item.post_excerpt }}"
                       href="{{ item.get_link }}">
                        {{ item.title }}
                    </a>
                {% else %}
                    <a class="navigation__item-link font__weight--bold
                        {% if theme_color == 'dark' %} font__color--black--mobile-white
                        {% else %} font__color--white
                        {% endif %} text-uppercase
                        {% if(function('get_field', 'nav_item_display_like_button', item)) %} navigation__item-btn btn__lottie btn__lottie--content btn__lottie--blue-light btn__lottie--longer-mobile
                         {% endif %}" itemprop="url" href="{{ item.get_link }}"
                            {% if(function('get_field', 'nav_item_display_like_button', item)) %}
                                {% for single in function('get_field', 'data_attr', item) %}
                                    {{ 'data-'~single.data.data_name~'="'~single.data.data_value~'"' }}
                                {% endfor %}
                            {% endif %}
                       title="{{ item.post_excerpt }}"
                    >
                        {{ item.title }}
                        {% if(function('get_field', 'careers_display', item)) %}
                            {% if careers_count > 0 %}
                                <span class="navigation__item--career-count font__weight--bold font__family--avenir font__color--blue background__color--yellow">
									{{ careers_count }}
								</span>
                            {% endif %}
                        {% endif %}
                    </a>

                {% endif %}
                {% if item.children | length > 0 %}
                    {% include "dropdown-menu.twig" with {'menu': item.get_children} %}
                {% endif %}
            </li>

        {% endfor %}
        <li class="navigation__item nav-item">
            <a class="navigation__item-link font__weight--bold
                        {% if theme_color == 'dark' %} font__color--black--mobile-white
                        {% else %} font__color--white
                        {% endif %} text-uppercase" href="{{ lang_ico.url }}"
               title="{{ item.post_excerpt }}"
            >
                <img src="{{ lang_ico.country_flag_url }}" alt="{{ lang_ico.native_name }}"
                     title="{{ lang_ico.native_name }}" class="flag-img"/>
            </a>
        </li>
    </ul>
{% endif %}
