{% extends "base.twig" %}
{% block content %}
    <section id="header-top"
             class="header header__top header__top--image position-relative pb-lg-4 mb-0 overlayed-header {{ class }}"
             style="background-image: url('{{ theme.link }}/dist/images/header-bg.jpg');">
        <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
             style="background-image: url('{{ theme.link }}/static/mobile-bg.jpg');">
            <a class="navbar-brand" href="{{ home_url }}" title="{{ site_title }}">
                <p class="logo_animations">
                    <span class="animated_logo"></span>
                </p>
            </a>
            <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line line--blue"></span>
                <span class="line line--short"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </div>
        </nav>
        <div class="contact-header header__container-text header__container-text-mobile container container-fluid-xl pt-lg-4 pb-lg-4">
            <div class="row justify-content-center aling-items-center justify-content-lg-start pt-lg-5 pb-lg-5">
                <div class="col-12 col-lg-9 pt-4 pt-lg-0 pl-lg-5">
                <span class="d-block font__family--avenir font__color--white header__top__subtitle pb-2 font__color--gray-light wow fadeInUp text-uppercase"
                      data-wow-duration="1s"
                      data-wow-delay="0.3s">{{ __('contact', 'mits') }}</span>
                    <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title wow fadeInUp"
                        data-wow-duration="1s"
                        data-wow-delay="0.4s">{{ __('Come and visit us', 'mits') }}
                        <br/>{{ __('in our new office', 'mits') }}</h1>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="container box box__radius--top box__radius--top box__radius--bottom box__bg--white box__shadow--dark">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 text-center py-5 mt-4">
                        <h2 class="font__family--sectra font__weight--bold font__color--black m-0 p-0 team-slider__title  wow fadeInUp"
                            data-wow-duration="1s"
                            data-wow-delay="0.4s">
                            {{ __('Visit us', 'mits') }}
                        </h2>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay="0.3s"
                     data-wow-duration="1s">
                    <div class="col-12 text-center text-lg-left offset-lg-3 col-lg-3 pb-3 pb-lg-5 mb-4">
                        <div>
                            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 font__size--18 footer__contact--title">{{ __("Office", 'mits') }}</p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 mb-3 mb-lg-5 font__size--18 font__lh--29">
                                Mits sp. z o.o.<br/>
                                Przemysłowa 7/5,<br/>
                                20-106 Lublin, {{ __('Poland', 'mits') }}
                            </p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 mb-3 mb-lg-5 font__size--18 font__lh--29">
                                {{ __('Previously known as', 'mits') }}:<br/>
                                Mustang Marketing sp. z o.o.
                            </p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 font__size--18 font__lh--29">
                                NIP: 946-266-90-44<br/>
                                REGON: 366949999<br/>
                                KRS: 0000671843
                            </p>
                        </div>
                    </div>
                    <div class="col-12 text-center text-lg-left  col-lg-3 pb-5 mb-4">
                        <div>
                            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 font__size--18 footer__contact--title">{{ __("Design", 'mits') }}</p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 mb-3 mb-lg-5 font__size--18 font__lh--29">
                                <a href="tel:+48793154318" rel="nofollow"
                                   title="{{ _e('Website development Lublin', 'mits') }}">(+48) 793 154 318</a>
                            </p>
                        </div>
                        <div>
                            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 font__size--18 footer__contact--title">{{ __("Development", 'mits') }}</p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 mb-3 mb-lg-5 font__size--18 font__lh--29">
                                <a href="tel:+48507972278" rel="nofollow"
                                   title="{{ _e('Website development Warsaw', 'mits') }}">(+48) 507 972 278</a>
                            </p>
                        </div>
                        <div>
                            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 font__size--18 footer__contact--title">{{ __("New business", 'mits') }}</p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 mb-3 mb-lg-5 font__size--18 font__lh--29">
                                <a href="mailto:hello@mits.pl" rel="nofollow"
                                   title="{{ _e('Website development Lublin, Warsaw', 'mits') }}">hello@mits.pl</a>
                            </p>
                        </div>
                        <div>
                            <p class="font__family--avenir font__weight--semi-bold font__color--blue m-0 font__size--18 footer__contact--title">{{ __("Recruitment", 'mits') }}</p>
                            <p class="font__family--avenir font__weight--regular font__color--gray m-0 font__size--18 font__lh--29">
                                <a href="mailto:join@mits.pl" rel="nofollow"
                                   title="{{ _e('Website development Lublin, Warsaw', 'mits') }}">join@mits.pl</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="map" id="map">
    </section>
    <script>
        var map;

        function initMap() {
            function centerCoords() {
                var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
                var centerCoords = {lat: 51.243312, lng: 22.571519};

                if (width < 992) {
                    centerCoords = {lat: 51.241312, lng: 22.571519};
                }

                return centerCoords
            }

            map = new google.maps.Map(document.getElementById('map'), {
                center: centerCoords(),
                zoom: 17,
                disableDefaultUI: true,
                styles: [
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e9e9e9"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dedede"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#333333"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    }
                ]
            });

            var iconBase =
                'https://mits.pl/wp-content/themes/mits/static/';

            var icons = {
                hq: {
                    icon: iconBase + 'hq-marker.svg'
                }
            };

            var infowindowTxt = '{{ __("Mits HQ", "mits") }}';
            var seeMoreTxt = '{{ __("See more", "mits") }}';
            var contentString = '<div id="content" style="width: 250px;">' +
                '<div class="row"><div class="col-12 text-center"><img src="' + iconBase + 'logo-mits.svg" width="100" alt="Mits" class="mt-3" /><p class="mt-4 font__size--18 font__family--avenir font__weight--regular font__color--gray">' + infowindowTxt + '<br/><a class="font__color--blue--light" href="https://www.google.com/maps/place/Mits:+design+%26+development+house/@51.241504,22.571491,15z/data=!4m2!3m1!1s0x0:0xe57b756c5bf6297b?sa=X&ved=2ahUKEwis6c2vuIjpAhVwk4sKHV-aCgMQ_BIwE3oECBkQCA" target="_blank" rel="nofollow">' + seeMoreTxt + '</a></p></div></div>' +
                '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 300
            });


            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(51.241312, 22.571519),
                icon: icons.hq.icon,
                map: map
            });

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

            infowindow.open(map, marker);

            var center;

            function calculateCenter() {
                center = map.getCenter();
            }

            google.maps.event.addDomListener(map, 'idle', function () {
                calculateCenter();
            });
            google.maps.event.addDomListener(window, 'resize', function () {
                map.setCenter(centerCoords());
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4cTa4WSpDqBjlQmqHGwop3btyZYEa0hQ&callback=initMap"
            async defer></script>

    <section class="layout pb-5 contact-form"
             style="background-image: url('{{ theme.link }}/static/pattern1920@1x.jpg');'">

        <div class="container wow fadeInUp" data-wow-delay="0.3s"
             data-wow-duration="1s">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center my-5 py-5 ">
                    <span class="font__family--sectra font__color--white font__weight--bold join_us__title">{{ __('or send us a message', 'mits') }}</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <form id="contact_form" class="col-lg-7 form">
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
                    <input type="hidden" name="title" value="{{ post.post_title }}">
                    <div class="col-12 input__group">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="name"
                                   class="font__family--avenir font__color--blue--light label--blue">{{ __('FULL NAME', 'mits') }}</label>
                            <span data-id="name" class="input__status"></span>
                        </div>
                        <input id="name" name="name" type="text" class="w-100 input--black font__family--avenir"
                               placeholder="" required>
                    </div>
                    <div class="col-12 input__group">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="email"
                                   class="font__family--avenir font__color--blue--light label--blue">EMAIL</label>
                            <span data-id="email" class="input__status font__family--avenir"></span>
                        </div>
                        <input id="email" name="email" type="email" class="w-100 input--black font__family--avenir"
                               placeholder="" required>
                    </div>
                    <div class="col-12 input__group">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="phone"
                                   class="font__family--avenir font__color--blue--light label--blue">{{ __('PHONE', 'mits') }}</label>
                            <span data-id="phone" class="input__status"></span>
                        </div>
                        <input id="phone" name="phone" type="text" class="w-100 input--black font__family--avenir"
                               placeholder="" required>
                    </div>
                    <div class="col-12 input__group">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="subject"
                                   class="font__family--avenir font__color--blue--light label--blue text-uppercase">{{ __('Subject', 'mits') }}</label>
                            <span data-id="subject" class="input__status"></span>
                        </div>
                        <input id="subject" name="subject" type="text" class="w-100 input--black font__family--avenir"
                               placeholder="" required>
                    </div>
                    <div class="col-12 input__group">
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <label for="message"
                                   class="font__family--avenir font__color--blue--light label--blue text-uppercase">
                                {{ __('Message', 'mits') }}</label>
                            <span data-id="message" class="input__status"></span>
                        </div>
                        <textarea id="message" name="message" class="w-100 input--black font__family--avenir"
                                  rows="4"></textarea>
                    </div>
                    <div class="col-12 pt-4">
                        <label class="checkbox-box font__color--white font__family--avenir" for="rules1">{{ __('I have read and
                        accept Privacy Policy', 'mits') }}
                            <input id="rules1" name="rules1" type="checkbox" class="checkbox-input required">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="checkbox-box font__color--white font__family--avenir" for="rules2">{{ __('Fill it if you like
                        Rambo', 'mits') }}
                            <input id="rules2" name="rules2" type="checkbox" class="checkbox-input">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button id="send_contact"
                                class="btn d-flex align-items-center text-uppercase justify-content-center font__family--avenir font__weight--bold font__color--white btn__lottie btn__lottie--paddings btn__lottie--bg-big "
                        >{{ __('Send', 'mits') }}</button>
                    </div>
                </form>
                <script>
                    grecaptcha.ready(function () {
                        grecaptcha.execute('{{ captcha_site_key }}', {action: 'estimate'})
                            .then(function (token) {
                                //console.log(token);
                                document.getElementById('g-recaptcha-response').value = token;
                            });
                    });
                </script>
            </div>
        </div>
        <div class="container contact-form-error d-none">
            <div class="row mt-5 pt-4 d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-8">
                    <h2 class="contact-thanks__title font__family--sectra font__weight--bold font__color--red pb-2 mb-1">
                        {{ __('Something wrong', 'mits') }}
                    </h2>
                    <p class="contact-thanks__desc font__family--avenir font__weight--bold font__color--white text-center">
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="js-popup-join-us popup text-center box__bg--white box__radius--all position-fixed invisible">
        <div class="close-container js-close-popup-join-us">
            <div class="leftright"></div>
            <div class="rightleft"></div>
        </div>
        <h4 class="popup__title pb-4 font__family--sectra font__weight--bold font__color--gray-dark">{{ __('Thank you', 'mits') }}</h4>
        <p class="popup__text font__family--avenir pb-5">{{ __('Your message has been sent', 'mits') }}</p>
        <div class="col-12 pt-4 pb-5 pt-lg-0 d-flex justify-content-center">
            {% for single in footer.social_media %}
                <a class="footer__social--ico mx-1" rel="nofollow"
                   href="{{ single.link.url }}" target="_blank" title="{{ _e('Website development Dublin', 'mits') }}">
                    {{ function('get_svg__with_hover_color_from_file', single.ico.url, single.hover_color) }}
                </a>
            {% endfor %}
        </div>
        <a class="btn__lottie btn__lottie--paddings btn__lottie--bg-big btn__lottie--blue btn btn__classic btn__transparent lets-talk__button font__family--avenir font__weight--bold font__color--white text-uppercase px-4 px-md-5 py-3 mt-3 mt-md-0"
           title="{{ _e('Website development Dublin', 'mits') }}" href="{{ home_url }}">
            <span class="d-inline-block font__family--avenir font__weight--bold font__color--white">{{ __('BACK TO HOMEPAGE', 'mits') }}</span>
        </a>
    </div>


{% endblock %}
