{% extends "base.twig" %}
{% block content %}
    {% if post.thumbnail %}
        {% set img = post.thumbnail.src %}
    {% else %}
        {% set img = theme.link ~ '/static/header-bg.jpg' %}
    {% endif %}
    {% set mobileImg = theme.link ~ '/static/mobile-bg.jpg' %}
    {% set previous_post = Post(previous_post) %}
    {% set next_post = Post(next_post) %}
    <section id="header-top"
             class="header header__top header__top--image position-relative pb-lg-4 {{ class }} header__top__mini--3"
             style="background-image: url(' {{ img }}');">
        <nav id="navbar" class="navbar navbar-expand-lg px-lg-5"
             style="background-image: url('{{ mobileImg }}');">
            <a class="navbar-brand" title="{{ _e('Website development Dubai', 'mits') }}" href="{{ home_url }}">
                <p class="logo_animations">
                    <span class="animated_logo"></span>
                </p>
            </a>
            <div id="hamburger-1" class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                <span class="line"></span>
                <span class="line line--blue"></span>
                <span class="line line--short"></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </div>
        </nav>
        <div class="container pb-4 pt-lg-5 pb-lg-5 mt-5">
            <div class="row justify-content-center aling-items-center justify-content-lg-start pt-lg-5"
                 itemscope itemtype="http://schema.org/NewsArticle">
                <div class="col-12 pt-4 pt-lg-5 mb-4 px-3">
                <span class="d-block font__family--avenir font__color--white header__top__subtitle pb-2 font__color--gray-light wow fadeInUp"
                      data-wow-duration="1s"
                      data-wow-delay="0.3s">{{ categories.0.name }}</span>
                    <h1 class="font__family--sectra font__weight--bold font__color--white header__top__title wow fadeInUp"
                        data-wow-duration="1s"
                        data-wow-delay="0.4s" itemprop="name">{{ post.title }}</h1>
                </div>
                <div class="col-12 d-flex text-center text-lg-left px-3 wow fadeInUp" data-wow-duration="1s"
                     data-wow-delay="0.3s">
                    <div class="post__date d-flex align-items-center">
                        <img alt="{{ _e('Website development London', 'mits') }}"
                             title="{{ _e('Website development London', 'mits') }}"
                             src="{{ theme.link }}/dist/images/date.svg">
                        <span class="post__date__text font__family--avenir font__color--gray-light text-uppercase ml-2">
                          {{ post_date }}
                      </span>
                    </div>
                    <div class="post__date ml-5 post__time d-flex align-items-center">
                        <img src="{{ theme.link }}/dist/images/time.svg"
                             alt="{{ _e('Website development London', 'mits') }}"
                             title="{{ _e('Website development London', 'mits') }}">
                        <span class="post__date__text font__family--avenir font__color--gray-light font text-uppercase ml-2">{{ time_estimate }} {{ __("MINUTE READ", "mits") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container ml-auto mr-auto box__margins--1">
        <div class="row mb-3 d-none d-sm-block">
            <div class="col-12 breadcrumbs">
                {% if function('function_exists', 'bcn_display') %}
                    {{ function('bcn_display') }}
                {% endif %}
            </div>
        </div>
        <div class="row px-3 px-lg-0">
            <div class="col-lg-9 px-0 pr-lg-5 texts texts__text" itemscope itemtype="http://schema.org/NewsArticle"
                 itemprop="articleBody">
                {{ post.content }}
                <div class="mt-5 pt-5">
                    <h4>{{ __("Share", "mits") }}</h4>
                    <div class="d-flex">
                        <a class="position-relative d-flex align-items-center mb-2 sidebar__social__link js-social-link"
                           rel="nofollow"
                           href="https://www.facebook.com/sharer.php?u={{ post.link }}&t={{ post.title }}"
                           target="_blank"
                           title="{{ _e('Website development Dubai', 'mits') }}">
                                <span class="sidebar__social--ico mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16"><g><g><path
                                                        class="social__svg__path" data-hover-color="#3163c3"
                                                        fill="#a1a3a4"
                                                        d="M3.023 16L3 9H0V6h3V4c0-2.699 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821l-1.67.001c-1.31 0-1.563.622-1.563 1.535V6H10L9 9H6.28v7z"></path></g></g></svg>
                                </span>
                        </a>
                        <a class="position-relative d-flex align-items-center mb-2 sidebar__social__link js-social-link"
                           title="{{ _e('Website development Dubai', 'mits') }}"
                           rel="nofollow"
                           href="https://twitter.com/intent/tweet?url={{ post.link }}&via=mits&text={{ post.ttile }}"
                           target="_blank">
                                <span class="sidebar__social--ico mr-2">
                                    <svg width="31px" height="25px" viewBox="0 0 31 25" version="1.1"
                                         style="max-width: 20px;"
                                         xmlns="http://www.w3.org/2000/svg">
                                                <g stroke="none" stroke-width="1" fill="none"
                                                   fill-rule="evenodd">
                                                    <g
                                                       transform="translate(-1286.000000, -2055.000000)" fill="#A1A3A4">
                                                        <path class="social__svg__path" data-hover-color="#3163c3"
                                                              d="M1295.67667,2080 C1307.28832,2080 1313.63797,2070.38279 1313.63797,2062.04345 C1313.63797,2061.76998 1313.63246,2061.49796 1313.61989,2061.22755 C1314.85234,2060.33671 1315.92399,2059.22503 1316.76923,2057.95972 C1315.6381,2058.46207 1314.4209,2058.80053 1313.144,2058.95324 C1314.44712,2058.17197 1315.44787,2056.93586 1315.9197,2055.46205 C1314.69981,2056.18493 1313.34925,2056.71081 1311.91131,2056.99394 C1310.75957,2055.76732 1309.11883,2055 1307.30341,2055 C1303.81706,2055 1300.98963,2057.82647 1300.98963,2061.31076 C1300.98963,2061.80599 1301.04512,2062.28773 1301.15357,2062.74978 C1295.90699,2062.48604 1291.25455,2059.97458 1288.14154,2056.15574 C1287.59874,2057.08834 1287.28649,2058.17197 1287.28649,2059.32801 C1287.28649,2061.51757 1288.40106,2063.45037 1290.09568,2064.5812 C1289.06036,2064.5494 1288.08743,2064.26481 1287.23667,2063.79165 C1287.23529,2063.81794 1287.23529,2063.84452 1287.23529,2063.87226 C1287.23529,2066.92907 1289.41147,2069.48083 1292.29984,2070.05951 C1291.76961,2070.20372 1291.21163,2070.28149 1290.63565,2070.28149 C1290.22897,2070.28149 1289.83356,2070.24119 1289.44895,2070.1677 C1290.25242,2072.67503 1292.58289,2074.4997 1295.3464,2074.55119 C1293.18524,2076.24384 1290.46358,2077.25261 1287.506,2077.25261 C1286.99639,2077.25261 1286.49413,2077.22341 1286,2077.16533 C1288.79394,2078.95522 1292.11099,2080 1295.67667,2080"
                                                        ></path>
                                                    </g>
                                                </g>
                                    </svg>
                                </span>
                        </a>
                        <a class="position-relative d-flex align-items-center mb-2 sidebar__social__link js-social-link"
                           title="{{ _e('Website development Dubai', 'mits') }}"
                           rel="nofollow"
                           href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.link }}&title={{ post.title }}&summary=mits"
                           target="_blank">
                                <span class="sidebar__social--ico mr-2">
                                    <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         >
                                        <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(-1005.000000, -703.000000)"
                                               fill="#A1A3A4">
                                                <path class="social__svg__path" data-hover-color="#3163c3"
                                                      d="M1018.6,716.6 L1016.2,716.6 L1016.2,712.9 C1016.2,712 1016.2,710.9 1015,710.9 C1013.8,710.9 1013.6,711.9 1013.6,712.9 L1013.6,716.7 L1011.2,716.7 L1011.2,709 L1013.5,709 L1013.5,710 C1013.8,709.4 1014.6,708.8 1015.7,708.8 C1018.1,708.8 1018.5,710.4 1018.5,712.4 L1018.5,716.6 L1018.6,716.6 Z M1008.6,708 C1007.8,708 1007.2,707.3 1007.2,706.6 C1007.2,705.8 1007.8,705.2 1008.6,705.2 C1009.4,705.2 1010,705.8 1010,706.6 C1009.9,707.3 1009.3,708 1008.6,708 L1008.6,708 Z M1009.7,716.6 L1007.4,716.6 L1007.4,709 L1009.8,709 L1009.8,716.6 L1009.7,716.6 Z M1020.3,703 L1005.7,703 C1005.3,703 1005,703.3 1005,703.7 L1005,718.4 C1005,718.7 1005.3,719 1005.7,719 L1020.4,719 C1020.8,719 1021.1,718.7 1021.1,718.3 L1021.1,703.7 C1021,703.3 1020.7,703 1020.3,703 L1020.3,703 Z"
                                                      ></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                        </a>
                    </div>
                </div>
                {% if post.meta("show_author_details") %}
                    <div class="mt-4">
                        <h4>{{ __("Author", "mits") }}</h4>
                        <div class="d-block d-md-flex mt-2 mt-md-4 author">
                            <img src="{{ author.avatar }}" class="author__image rounded-circle" alt="{{ author.name }}"
                                 title="{{ author.name }} - MITS, LUBLIN">
                            <div class="author__info d-inline-block d-md-block ml-4">
                                <span class="author__name d-block font__color--violet font__weight--bold">
                                    {{ author.name }}
                                </span>
                                <span class="d-block author__job font__color--gray-text2">
                                    {{ author.job }}
                                </span>
                            </div>
                            <p class="author__desc font__color--gray">
                                {{ author.desc }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-3 pl-0 pl-lg-5 mt-5 mt-lg-0 sidebar">
                <h4 class="sidebar__title font__family--sectra font__weight--bold pb-2">{{ __('All categories', 'mits') }}</h4>
                <ul class="slide__list list list__classic">
                    {% for category in all_categories %}
                        <li class="list-item font__family--avenir font__weight--regular">
                            <a href="{{ category.link }}" title="{{ category.name }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h4 class="sidebar__title font__family--sectra font__weight--bold pb-2">{{ __('Related posts', 'mits') }}</h4>
                <ul class="slide__list list list__classic">
                    {% for post in related_posts %}
                        <li class="list-item font__family--avenir font__weight--regular">
                            <a title="{{ post.post_title }}" href="{{ post.link }}">{{ post.post_title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h4 class="sidebar__title font__family--sectra font__weight--bold pb-2">{{ __('Follow Us', 'mits') }}</h4>
                <div class="">
                    {% for single in footer.social_media %}
                        <a class="position-relative d-flex align-items-center mb-2 sidebar__social__link js-social-link"
                           rel="nofollow"
                           href="{{ single.link.url }}" target="_blank"
                           title="{{ _e('Website development Dubai', 'mits') }}">
                                <span class="sidebar__social--ico mr-2">
                                    {{ function('get_svg__with_hover_color_from_file', single.ico.url, single.hover_color) }}
                                </span>
                            {{ single.ico.title }}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="post__arrow__mobile row justify-content-between mt-4 align-items-start align-items-sm-center">
            <a href="{{ previous_post.link }}" title="{{ previous_post.post_title }}"
               class="col-6 pagination__link d-flex p-relative align-items-center">
                <svg class="post__arrow__img pagination__arrow pagination__arrow--prev" width="50px" height="50px"
                     viewBox="0 0 50 50"
                     version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g  transform="translate(-1267.000000, -4679.000000)">
                            <g  transform="translate(-373.000000, 4265.000000)">
                                <g  transform="translate(1640.000000, 414.000000)">
                                    <circle class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                            r="25"></circle>
                                    <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                           fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <div class="ml-2 ml-md-4 d-flex flex-column post__arrow__desc">
                    <span class="post__arrow__title font__family--avenir font__color--gray mb-2">{{ __('PREV POST', 'mits') }}</span>
                    <span class="post__arrow__text font__family--avenir font__color--gray">{{ previous_post.post_title }}</span>
                </div>
            </a>
            <a href="{{ next_post.link }}" title="{{ next_post.post_title }}"
               class="col-6 pagination__link d-flex p-relative align-items-center justify-content-end ">
                <div class="mr-2 mr-md-4 d-flex flex-column text-right post__arrow__desc">
                    <span class="post__arrow__title font__family--avenir font__color--gray mb-2">{{ __('NEXT POST', 'mits') }}</span>
                    <span class="post__arrow__text font__family--avenir font__color--gray">{{ next_post.post_title }}</span>
                </div>
                <svg class="post__arrow__img pagination__arrow pagination__arrow--next" width="50px" height="50px"
                     viewBox="0 0 50 50"
                     version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g  transform="translate(-1267.000000, -4679.000000)">
                            <g  transform="translate(-373.000000, 4265.000000)">
                                <g  transform="translate(1640.000000, 414.000000)">
                                    <circle  class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                            r="25"></circle>
                                    <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                          fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    {% include "partial/lets-talk.twig" %}
    <div class="post__arrow post__arrow--left position-fixed ">
        <a href="{{ previous_post.link }}" title="{{ previous_post.post_title }}"
           class="pagination__link d-flex p-relative align-items-center">
            <svg class="post__arrow__img pagination__arrow pagination__arrow--prev" width="50px" height="50px"
                 viewBox="0 0 50 50"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1267.000000, -4679.000000)">
                        <g transform="translate(-373.000000, 4265.000000)">
                            <g transform="translate(1640.000000, 414.000000)">
                                <circle class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                        r="25"></circle>
                                <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                      fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="ml-2 ml-md-4 d-flex flex-column post__arrow__desc">
                <span class="post__arrow__title font__family--avenir font__weight--bold font__color--gray mb-2">{{ __('PREV POST', 'mits') }}</span>
                <span class="post__arrow__text font__family--avenir font__color--gray">{{ previous_post.post_title }}</span>
            </div>
        </a>
    </div>
    <div class="post__arrow post__arrow--right position-fixed">
        <a href="{{ next_post.link }}" title="{{ next_post.post_title }}"
           class="pagination__link d-flex p-relative align-items-center justify-content-end">
            <div class="mr-2 mr-md-4 d-flex flex-column text-right post__arrow__desc">
                <span class="post__arrow__title font__family--avenir font__weight--bold font__color--gray mb-2">{{ __('NEXT POST', 'mits') }}</span>
                <span class="post__arrow__text font__family--avenir font__color--gray">{{ next_post.post_title }}</span>
            </div>
            <svg class="post__arrow__img pagination__arrow pagination__arrow--next" width="50px" height="50px"
                 viewBox="0 0 50 50"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 >
                <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1267.000000, -4679.000000)">
                        <g transform="translate(-373.000000, 4265.000000)">
                            <g transform="translate(1640.000000, 414.000000)">
                                <circle class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                        r="25"></circle>
                                <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                      fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>
{% endblock %}
