{% extends "base.twig" %}
{% block content %}

    <div class="content-wrapper">

        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            {% for layout in layouts %}

                {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
                {% include layoutdir with {'layoutname':layout, 'sided':false} %}

            {% endfor %}

        </article>
    </div>
{% endblock %}
