{% extends "base.twig" %}
{% block content %}
    {% for layout in layouts %}
        {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
        {% include layoutdir with {'layoutname':layout, 'sided':false} %}
    {% endfor %}
    {% if case_studies|length %}

        <section class="list--services mt-5 box__margins--2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12 text-center mb-2 pb-4">
                        <h2 class="font__family--sectra font__weight--bold main-slider__title wow fadeInUp"
                            data-wow-duration="1s" data-wow-delay="0.3s">{{ post.meta("services_title") }}</h2>
                    </div>
                </div>
                <div class="row row-eq-height">
                    {% for case in case_studies %}
                        <div class="col-lg-4 mt-3 mb-3">
                            <div class="career_box career_box--padding wow fadeIn d-flex flex-column w-100"
                                 data-wow-offset="300"
                                 data-wow-duration="1s"
                                 data-wow-delay="{{ loop.index*2/10 }}s">
                                <a href="{{ case.link }}" title="{{ case.title }}"
                                   class="d-flex flex-column w-100 position-relative h-100">
                                    <div class="text-center">
                                        <img class="img-fluid image--service-list" src="{{ case.top_image.img.url }}"
                                             alt="{{ case.top_images.img.alt }}"
                                             title="{{ case.top_images.img.title }}">
                                    </div>
                                    <h3 class="d-block career_box__title--2 font__family--avenir font__weight--bold pt-2 mb-5">{{ case.title }}</h3>
                                    <div class="d-flex justify-content-start align-items-center mb-0 position-absolute bottom-0">
                                        <p class="hover_animations">
                                            <span class="linkLine2 hover_animations__line"></span> <span
                                                    class="btn font__family--avenir font__weight--bold font__color--black text-left pt-0 pb-0 pr-0">
                                            {{ case.btn }}
                                        </span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% set previous_post = Post(previous_post) %}
    {% set next_post = Post(next_post) %}
    <section class="pagination box__margins--1">
        <div class="container">
            <div class="px-lg-0 row justify-content-between">
                <a href="{{ previous_post.link }}" title="{{ previous_post.post_title }}"
                   class="col-6 pagination__link d-flex p-relative align-items-center">
                    <svg class="pagination__arrow pagination__arrow--prev" width="50px" height="50px"
                         viewBox="0 0 50 50"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                <g id="team" transform="translate(-373.000000, 4265.000000)">
                                    <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                        <circle id="Oval-Copy" class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                                r="25"></circle>
                                        <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                              id="Fill-202" fill="#FFFFFF"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div class="ml-2 ml-md-4 d-flex flex-column">
                        <span class="pagination__text font__family--avenir font__color--gray">{{ __('PREV SERVICE', 'mits') }}</span>
                        <span class="pagination__title font__family--sectra font__weight--bold font__color--gray-dark">{{ previous_post.post_title }}</span>
                    </div>
                </a>
                <a href="{{ next_post.link }}" title="{{ next_post.post_title }}"
                   class="col-6 pagination__link d-flex p-relative align-items-center justify-content-end">
                    <div class="mr-2 mr-md-4 d-flex flex-column text-right">
                        <span class="pagination__text font__family--avenir font__color--gray">{{ __('NEXT SERVICE', 'mits') }}</span>
                        <span class="pagination__title font__family--sectra font__weight--bold font__color--gray-dark">{{ next_post.post_title }}</span>
                    </div>
                    <svg class="pagination__arrow pagination__arrow--next" width="50px" height="50px"
                         viewBox="0 0 50 50"
                         version="1.1"
                         xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="about" transform="translate(-1267.000000, -4679.000000)">
                                <g id="team" transform="translate(-373.000000, 4265.000000)">
                                    <g id="icon/rightArrow" transform="translate(1640.000000, 414.000000)">
                                        <circle id="Oval-Copy" class="ico__circle" fill="#C9D2D7" cx="25" cy="25"
                                                r="25"></circle>
                                        <path d="M33,24.2841426 L10,24.2841426 C9.4,24.2841426 9,24.6841426 9,25.2841426 C9,25.8841426 9.4,26.2841426 10,26.2841426 L33,26.2841426 L33,27.7968158 C33,28.9047227 33.7491226,29.319277 34.6766744,28.7205136 L38.3233256,26.3664877 C39.2493273,25.768725 39.2375519,24.8175088 38.2876074,24.2361234 L34.7123926,22.0480192 C33.7666643,21.4692142 33,21.8974064 33,23.0050034 L33,24.2841426 Z"
                                              id="Fill-202" fill="#FFFFFF"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </section>
    {% set layout = layout_form %}
    {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
    {% include layoutdir with {'layoutname':layout, 'sided':false} %}
{% endblock %}