{% extends "base.twig" %}
{% block content %}

    <div class="content-wrapper">
        {% for layout in layouts %}
            {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
            {% include layoutdir with {'layoutname':layout, 'sided':false} %}
        {% endfor %}
{% endblock %}