{% extends "base.twig" %}
{% block content %}
    {% for layout in layouts %}

        {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
        {% include layoutdir with {'layoutname':layout, 'sided':false} %}

    {% endfor %}
    {% set classes = '' %}
    {% if services|length < 4 %}
        {% set classes = "maxh-600" %}
    {% elseif services|length < 7 %}
        {% set classes = "maxh-700" %}
    {% endif %}
    <section class="list--services mt-5 box__margins--1 position-relative">
        <div class="container position-relative">
            <div class="js-parallax-scene position-absolute w-100" style="z-index: -1; top: -200px; margin: auto;">
                <svg
                        class="service-list-background {{ classes }}"
                        data-hover-only="true"
                        data-depth="0.25"
                        data-friction-x="-0.2"
                        data-friction-y="0.3"

                        viewBox="0 0 1194 882"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#EEF2F4">
                            <g>
                                <path d="M242.763778,367.925944 C332.0751,311.728265 515.835803,235.478014 624.805559,103.326994 C733.775314,-28.8240257 884.29023,-15.5224487 965.621358,39.9812023 C1046.95248,95.4848533 1102.998,172.465145 1102.998,233.243765 C1102.998,294.022384 1049.50591,356.86975 1125.96029,422.954539 C1202.41467,489.039327 1218.89689,557.718368 1151.1791,622.225821 C1083.46131,686.733274 1018.69777,705.386657 960.473677,682.910555 C902.249586,660.434453 825.000974,629.722018 727.941029,715.82637 C630.881084,801.930721 541.15156,870.431616 403.0751,826.191996 C264.998641,781.952376 164.980391,694.850057 122.405492,584.273274 C79.8305933,473.696492 153.452456,424.123622 242.763778,367.925944 Z"
                                ></path>
                                <circle cx="41" cy="840.182622" r="41"></circle>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-2 pb-4">
                    <h2 class="font__family--sectra font__weight--bold main-slider__title wow fadeInUp"
                        data-wow-duration="1s" data-wow-delay="0.3s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">{{ __('Services and technologies', 'mits') }}</h2>
                </div>
            </div>
            <div class="row row-eq-height">
                {% for service in services %}
                    <div class="col-lg-4 mt-3 mb-3">
                        <div class="career_box career_box--padding wow fadeIn d-flex flex-column w-100"
                             data-wow-offset="300"
                             data-wow-duration="1s"
                             data-wow-delay="{{ loop.index*2/10 }}s">
                            {% if service.repeater == false %}
                            <a href="{{ service.link }}" title="{{ service.post_title }}"
                               class="d-flex flex-column w-100 position-relative h-100">
                                {% endif %}
                                <h3 class="d-block career_box__title--2 font__family--avenir font__weight--bold pt-2 mb-5">{{ service.post_title }}</h3>
                                {% if service.repeater == false %}
                                    <div class="d-flex justify-content-start align-items-center mb-0 position-absolute bottom-0">
                                        <p class="hover_animations">
                                            <span class="linkLine2 hover_animations__line"></span> <span
                                                    class="btn font__family--avenir font__weight--bold font__color--black text-left pt-0 pb-0 pr-0">
                                            {{ __("READ MORE", "mits") }}
                                        </span>
                                        </p>
                                    </div>
                                {% endif %}
                                {% if service.repeater == false %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if case_studies_service %}
        <section class="layout case_studies_list box__margins--mobile" id="works">
            <div class="container-fluid">
                <div class="row case-studies-list">
                    <div class="col-12 pb-3 pt-4">
                        <h6 class="case-studies-list__title font__family--avenir font__weight--regular font__color--gray text-center text-uppercase">
                            case study
                        </h6>
                    </div>
                </div>
                {% set loop_index_case_studies = 1 %} {# start from 1 and reset after 4 #}
                {% for case in case_studies_service %}
                    <div class="row case-studies-list case-studies-list__row {{ loop.index % 2 == 0 ? "case-studies-list__odd" : "case-studies-list__even" }}">
                        {% set classes = "case-studies-list__decorations " ~ (loop.index % 2 == 0 ? "case-studies-list__decorations--odd" : "case-studies-list__decorations--even") %}
                        {% include "layout_animations/layout-animation-"~loop_index_case_studies~".twig" with {'classes': classes} %}
                        <div class="col-12" data-relative-input="true">
                            <div class="d-lg-flex case-studies-list__col">
                                <div class="text-center col-with-img js-parallax-scene">
                                    <img data-hover-only="true" data-depth="{{ case.parallaxOpts.depth }}"
                                         data-friction-x="{{ case.parallaxOpts.frictionX }}"
                                         data-friction-y="{{ case.parallaxOpts.frictionX }}"
                                         class="top-img {{ case.top_image.top_img_position ? "top-img--"~case.top_image.top_img_position : "" }} d-inline-block wow fadeIn"
                                         data-wow-duration="1s"
                                         data-wow-delay="0.3s"
                                         src="{{ case.top_image.img.url }}" alt="{{ case.top_images.img.alt }}"
                                         title="{{ case.top_images.img.title }}">
                                </div>
                                <div class="col-with-info d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-start">
                                    <img
                                            class="logo my-3 my-lg-3 wow fadeInUp"
                                            src="{{ case.logo.url }}" alt="{{ case.logo.alt }}"
                                            title="{{ case.logo.title }}"
                                            data-wow-duration="1s"
                                            data-wow-delay="0.3s"
                                    />
                                    <h4
                                            class="case-studies-list__single__title font__family--sectra font__weight--bold font__color--black mb-4 mb-lg-5 wow fadeInUp"
                                            data-wow-duration="1s"
                                            data-wow-delay="0.6s"
                                    >
                                        {{ case.title }}
                                    </h4>
                                    <p
                                            class="d-flex align-items-start justify-content-end justify-content-md-start align-items-lg-center justify-content-lg-start pt-3 pt-lg-0 wow fadeInUp hover_animations"
                                            data-wow-duration="1s"
                                            data-wow-delay="0.9s"
                                    >
                                        <span class="{{ loop.index % 2 == 0 ? "linkLine1" : "linkLine2" }} hover_animations__line"></span>
                                        <a class="case-studies-list__single__btn font__family--avenir font__weight--bold font__color--black text-left pt-0 ml-2"
                                           href="{{ case.link }}" title="{{ _e('Website development Dubai', 'mits') }}">{{ case.btn }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set loop_index_case_studies = loop_index_case_studies + 1 %}
                    {% if loop_index_case_studies > 4 %}
                        {% set loop_index_case_studies = 1 %}
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </section>
    {% endif %}
    {% if case_studies_service %}
        {% for case in case_studies_service %}
            {% set layout = case.layout_case_studies_result %}
            {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
            {% include layoutdir with {'layoutname':layout, 'sided':false} %}
        {% endfor %}
    {% endif %}
    {% set layout = layout_form %}
    {% set layoutdir = "layouts/layout-#{layout.acf_fc_layout}.twig" %}
    {% include layoutdir with {'layoutname':layout, 'sided':false} %}
{% endblock %}



