{% block content %}
    {% for case in case_studies %}
        <div class="col-lg-4 mt-4 mb-4">
            <div class="career_box career_box--padding wow fadeIn d-flex flex-column w-100"
                 data-wow-offset="300"
                 data-wow-duration="1s"
                 data-wow-delay="{{ loop.index*0.5/10 }}s">
                <a href="{{ case.link }}" title="{{ case.post_title }}"
                   class="d-flex flex-column w-100 position-relative h-100">
                    <div class="text-center">
                        <img class="img-fluid image--service-list"
                             src="{{ Image(case.meta('case_studies_header_top_image_img')).src }}"
                             alt="{{ case.meta('case_studies_header_top_image_img').alt }}"
                             title="{{ case.meta('case_studies_header_top_image_img').title }}">
                    </div>
                    <h3 class="d-block career_box__title--2 font__family--avenir font__weight--bold pt-2 mb-5">{{ case.post_title }}</h3>
                    <div class="d-flex justify-content-start align-items-center mb-0 position-absolute bottom-0">
                        <p class="hover_animations">
                            <span class="linkLine2 hover_animations__line"></span>
                            <span class="btn font__family--avenir font__weight--bold font__color--black text-left pt-0 pb-0 pr-0">
                                            {{ _e("CASE STUDY", "mits") }}
                                        </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
