{% block content %}
	<div class="post texts texts__text">
		<h2 class="font__family--sectra font__weight--bold pb-4"><a title="{{ _e('Website development Dubai', 'mits') }}" href="{{ post.link }}">{{  post.post_title }}</a></h2>
		<p>
			{{ post.preview.length(20).read_more(__('Continue Reading', 'mits')) }}
		</p>
	</div>
{% endblock %}
