<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}

		<div class="article-column">
			<figure class="article-column__image">
				<img alt="{{ _e('Website development London', 'mits') }}" title="{{ _e('Website development London', 'mits') }}" src="{{post.thumbnail.src}}">
			</figure>
			<p class="article-column__title"><a title="{{ _e('Website development London', 'mits') }}" href="{{post.link}}">{{post.title}}</a> </p>
			<p class="article-column__content">{{post.preview}} </p>
		</div>


	{% endblock %}
</article>