<svg class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="293" height="61" viewBox="0 0 293 61">
    <defs>
        <clipPath id="wbq5a">
            <path fill="#fff"
                  d="M7.332 23.397A23 23 0 0 1 25.376 6.02S56.553 0 130.34 0c73.788 0 128.783 7.129 128.783 7.129A24 24 0 0 1 277.91 21.05l.876 1.94a24 24 0 0 1-20.1 33.813S202.062 61 134.652 61c-67.409 0-108.465-4.12-108.465-4.12A23 23 0 0 1 6.08 28.79z"/>
        </clipPath>
    </defs>
    <g>
        <g>
            <path fill="none" stroke="#ffdf3f" stroke-miterlimit="50" stroke-width="4"
                  d="M7.332 23.397A23 23 0 0 1 25.376 6.02S56.553 0 130.34 0c73.788 0 128.783 7.129 128.783 7.129A24 24 0 0 1 277.91 21.05l.876 1.94a24 24 0 0 1-20.1 33.813S202.062 61 134.652 61c-67.409 0-108.465-4.12-108.465-4.12A23 23 0 0 1 6.08 28.79z"
                  clip-path="url(&quot;#wbq5a&quot;)"/>
        </g>
    </g>
</svg>
