<svg class="{{ classes }}" xmlns="http://www.w3.org/2000/svg" width="230" height="61" viewBox="0 0 230 61">
    <defs>
        <clipPath id="79sda">
            <path fill="#fff"
                  d="M7.617 15.462a12 12 0 0 1 7.618-8.946S32.88 0 95.22 0C157.56 0 207.54 6.106 207.54 6.106a22 22 0 0 1 19.087 25.118l-.862 5.717a22 22 0 0 1-20.086 18.656S134.645 61 77.694 61c-56.95 0-69.26-3.995-69.26-3.995a10 10 0 0 1-6.726-11.437z"/>
        </clipPath>
    </defs>
    <g>
        <g>
            <path fill="none" stroke="#2eb0ff" stroke-miterlimit="50" stroke-width="4"
                  d="M7.617 15.462a12 12 0 0 1 7.618-8.946S32.88 0 95.22 0C157.56 0 207.54 6.106 207.54 6.106a22 22 0 0 1 19.087 25.118l-.862 5.717a22 22 0 0 1-20.086 18.656S134.645 61 77.694 61c-56.95 0-69.26-3.995-69.26-3.995a10 10 0 0 1-6.726-11.437z"
                  clip-path="url(&quot;#79sda&quot;)"/>
        </g>
    </g>
</svg>
