<div class="position-relative wow fadeInUp"
     data-wow-duration="1s"
     data-wow-delay="0.6s">
    <svg class="{{ (classes) ? classes : "" }}" xmlns="http://www.w3.org/2000/svg" width="111" height="111"
         viewBox="0 0 111 111">
        <defs>
            <mask id="t1ppb" width="2" height="2" x="-1" y="-1">
                <path fill="#fff" d="M32 22h47v47H32z"/>
                <path d="M58.778 69C71.102 69 79 55.666 79 43.252 79 30.837 66.639 22 54.315 22 41.99 22 32 32.064 32 44.478 32 56.892 46.454 69 58.778 69z"/>
            </mask>
            <filter id="t1ppa" width="147" height="157" x="-18" y="-28" filterUnits="userSpaceOnUse">
                <feOffset dy="10" in="SourceGraphic" result="FeOffset1064Out"/>
                <feGaussianBlur in="FeOffset1064Out" result="FeGaussianBlur1065Out" stdDeviation="16 16"/>
            </filter>
        </defs>
        <g>
            <g>
                <g>
                    <g filter="url(#t1ppa)">
                        <path fill="none"
                              d="M58.778 69C71.102 69 79 55.666 79 43.252 79 30.837 66.639 22 54.315 22 41.99 22 32 32.064 32 44.478 32 56.892 46.454 69 58.778 69z"
                              mask="url(&quot;#t1ppb&quot;)"/>
                        <path fill="#222034" fill-opacity=".39"
                              d="M58.778 69C71.102 69 79 55.666 79 43.252 79 30.837 66.639 22 54.315 22 41.99 22 32 32.064 32 44.478 32 56.892 46.454 69 58.778 69z"/>
                    </g>
                    <path fill="#2eb0ff"
                          d="M58.778 69C71.102 69 79 55.666 79 43.252 79 30.837 66.639 22 54.315 22 41.99 22 32 32.064 32 44.478 32 56.892 46.454 69 58.778 69z"/>
                </g>
    {#            <g>#}
    {#                <g>#}
    {#                    <path fill="none" stroke="#e9ecee" stroke-linecap="round" stroke-linejoin="round"#}
    {#                          stroke-miterlimit="50" stroke-width="2" d="M56 40v10"/>#}
    {#                </g>#}
    {#                <g>#}
    {#                    <path fill="none" stroke="#e9ecee" stroke-linecap="round" stroke-linejoin="round"#}
    {#                          stroke-miterlimit="50" stroke-width="2" d="M61 45H51"/>#}
    {#                </g>#}
    {#                <g>#}
    {#                    <path fill="none" stroke="#e9ecee" stroke-linecap="round" stroke-linejoin="round"#}
    {#                          stroke-miterlimit="50" stroke-width="2"#}
    {#                          d="M56 34c6.075 0 11 4.925 11 11s-4.925 11-11 11-11-4.925-11-11 4.925-11 11-11z"/>#}
    {#                </g>#}
    {#            </g>#}
            </g>
        </g>
    </svg>
    <a title="{{ _e('Website development Dubai', 'mits') }}" class="js-approach__tooltip--btn approach-box__tooltip--btn-circle">
        <span>+</span>
        <span>-</span>
        <div class="tooltip_content">
            {{ tooltipText }}
        </div>
    </a>
</div>
